<app-group-header title="Pagination" path="/patination"></app-group-header>

<script>
document.addEventListener('x-select', function(event) {
  document.querySelector('.message').innerText
    = JSON.stringify(event.detail, null, '  ');
});
</script>

<p>
The &lt;x-pagination> element enables the user to select a specific page from a range of pages that are composed by total records,  number of records per page, and the current page number.
</p>

<x-pre>
  &lt;x-pagination value="4"
    num-records-per-page="10"
    num-pages="5"
    total-records="1000">
  &lt;/x-pagination>
</x-pre>

<p>
  It fires 'x-select' event when a page is selected, so that a page-related setion. e.g., list, can react to it.
</p>

<p>
  The following example demonstrates customizable pagination section along with showing x-select message detail.
</p>

<hr/>
<p>
  <x-pagination
    current-page="100"
    num-records-per-page="10"
    num-pages="5"
    total-records="1000">
  </x-pagination>
</p>
<hr/>

<p>
  <label> Number of records per page:</label>
  <input type="range" value="10" max="100" step="10"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('num-records-per-page', this.value);" /><b>10</b>

  <br/>
  <label> Number of pages to show:</label>
  <input type="range" value="5" max="9" min="1" step="2"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('num-pages', this.value);" /><b>5</b>

  <br/>
  <label> Total number of records:</label>
  <input type="range" value="1000" max="5000"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('total-records', this.value);" /><b>1000</b>

  <br/>
  <label> Current page number:</label>
  <input type="range" value="4" max="100"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('current-page', this.value);" /><b>4</b>
</p>

<b>x-select event detail.</b>
<x-pre class="message">Empty</x-pre>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>current-page</td><td>Number</td><td>1</td><td>Optional</td><td> current-page number</td></tr>
        <tr><td>num-records-per-page</td><td>Number</td><td>10</td><td>Optional</td><td>number of records per page</td></tr>
        <tr><td>num-pages</td><td>Number</td><td>Default</td><td>5</td><td>number of page buttons to display</td></tr>
        <tr><td>total-records</td><td>Number</td><td>Default</td><td>100</td><td> number of total records</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="events" title="Events">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>x-select</td><td>Custom Event</td><td>page, offset, and limit</td><td>Fired when a page is selected</td></tr>
      </tbody>
    </table>
  </x-table>
</div>
