ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:host.collapsed {
  .header .logo {
    width: 0;
    .title { 
      display: none;
    }
  }
  .main .aside {
    width: 60px;
    li i {
      font-size: 20px;
    }
    li b {
      display: none;
    }
    li:hover {
      b {
        position: absolute;
        display: initial;
        background: inherit;
        padding: 0 4px 2px 2px;
      }
    }
  }
}

.header {
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1;
  color: #FFF;
  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    background: #3185DB;
    width: 250px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    transition: width .3s;
  }
  .header-nav {
    display: flex;
    align-items: center;
    background: #389BFF;
    flex: 1;
    color: #FFF;
    font-size: 20px;
    .hamburger {
      width: 60px;
      height: 60px;
      color: #333;
      border-right: 1px solid rgba(0, 0, 0, 0.14);
      &:hover {
        background: #4AA2FF;
      }
    }
    .links {
      flex: 1;
      padding: 24px;
      a {
        margin-right: 12px;
      }
    }
    .icons {
      padding: 24px;
      font-size: 26px;
    }
  }
}

.main {
  display: flex;
  .aside {
    background: #3D474C;
    width: 250px;
    color: #FFF;
    min-height: calc(100vh - 60px);
    transition: width .3s;
    padding: 20px;
    li {
      padding: 10px 20px;
      margin: 0 -20px;
      i {
        width: 22px;
        text-align: center;
        margin-right: 8px;
      }
      b {
        font-weight: normal;
      }
    }
    li:hover, li.active {
      outline: 0;
      background: #30393D;
    }
    .collapsed {
      width: 60;
      overflow: hidden;
    }
  }

  .article {
    min-height: calc(100vh - 60px);
    width: calc(100% - 250px);
    padding: 20px;
    flex: 1;
    background: #F5F5F5;
  }

  ::ng-deep {
    pre[ee-prism] {
      padding: 8px 8px 8px 16px;
      background: #3D474B;
      color: #FFF;
    }
  }
}