{{version | json}}

<div>
  <a [routerLink]="['/components/button']"> Button </a>
  <a [routerLink]="['/components/calendar']"> Calendar </a>
  <a [routerLink]="['/components/carousel']"> Carousel </a>
  <a [routerLink]="['/components/checkbox']"> Checkbox </a>
  <a [routerLink]="['/components/clock']"> Clock </a>
  <a [routerLink]="['/components/currency']"> Currency </a>
  <a [routerLink]="['/components/dialog']"> Dialog </a>  
  <a [routerLink]="['/components/input']"> Input </a>
  <a [routerLink]="['/components/list']"> List </a>
  <a [routerLink]="['/components/menu']"> Menu </a>
  <a [routerLink]="['/components/radio']"> Radio </a>
  <a [routerLink]="['/components/switch']"> Switch </a>
  <a [routerLink]="['/components/tabs']"> Tabs </a>
  <a [routerLink]="['/components/text-field']"> TextField </a>
  <a [routerLink]="['/components/tooltip']"> Tooltip </a>
</div>
<router-outlet></router-outlet>
