<h3>Mapbox</h3>

<ul class="default">
  <li> Show a necessary map with simple HTML. </li> 
  <li> Show a marker with popup. </li>
</ul>

<h3>Default</h3>
<div class="example">
  <x-mapbox center="-74.5, 40" zoom="9"></x-mapbox>
  <x-pre>
    &lt;x-mapbox center="-74.5, 40" zoom="9">&lt;/x-mapbox>
  </x-pre>
</div>

<h3>With A Marker / Popup</h3>
<div class="example">
  <x-mapbox>
    <x-marker lnglat="1600 pennsilvania ave, washington DC" center="">
      <h3>White House</h3> Trump once lived here.
    </x-marker>
  </x-mapbox>
  <x-pre>
    &lt;x-mapbox>
      &lt;x-marker lnglat="1600 pennsilvania ave, washington DC" center>
        &lt;h3>White House&lt;/h3> Trump once lived here.
      &lt;/x-marker>
    &lt;/x-mapbox>
  </x-pre>
</div>

<h3>Search Map With Input</h3>
<div class="example">
  <x-div>
    <b class="label">Search Map:</b>
    <input placeholder="Enter address" size="60" on-change="set(#marker[lnglat])" />
    <x-mapbox>
      <x-marker id="marker" lnglat="Toronto, Canada" center="">Looking For Here?</x-marker>
    </x-mapbox>
  </x-div>
  <x-pre>
    &lt;x-div>
      &lt;b class="label">Search Map:&lt;/b>
      &lt;input placeholder="Enter address" on-change="set(#marker[lnglat])" />
      &lt;x-mapbox>
        &lt;x-marker id="marker" lnglat="Toronto, Canada" center>
          Looking For Here?
        &lt;/x-marker>
      &lt;/x-mapbox>
    &lt;/x-div> 
  </x-pre>
</div>


