<app-group-header title="Mapbox" path="/mapbox"></app-group-header>

<ul class="default">
  <li> Show a necessary map with simple HTML. </li> 
  <li> Show a marker with popup. </li>
</ul>

<h3>Default
  Example
  <a class="try-this" target="_" href="//stackblitz.com/edit/x-mapbox?file=index.html">Try it</a>
</h3> 
<div class="example">
  <x-mapbox center="-74.5, 40" zoom="9"></x-mapbox>
  <x-pre>
    &lt;x-mapbox center="-74.5, 40" zoom="9">&lt;/x-mapbox>
  </x-pre>
</div>

<h3>With A Marker / Popup</h3>
<div class="example">
  <x-mapbox>
    <x-marker lnglat="1600 pennsilvania ave, washington DC" center="">
      <h3>White House</h3> Trump once lived here.
    </x-marker>
  </x-mapbox>
  <x-pre>
    &lt;x-mapbox>
      &lt;x-marker lnglat="1600 pennsilvania ave, washington DC" center>
        &lt;h3>White House&lt;/h3> Trump once lived here.
      &lt;/x-marker>
    &lt;/x-mapbox>
  </x-pre>
</div>

<h3>Search Map With Input</h3>
<div class="example">
  <x-div>
    <b class="label">Search Map:</b>
    <input placeholder="Enter address" size="60" xon-change="set(#marker[lnglat])" />
    <x-mapbox>
      <x-marker id="marker" lnglat="Toronto, Canada" center="">Looking For Here?</x-marker>
    </x-mapbox>
  </x-div>
  <x-pre>
    &lt;x-div>
      &lt;b class="label">Search Map:&lt;/b>
      &lt;input placeholder="Enter address" xon-change="set(#marker[lnglat])" />
      &lt;x-mapbox>
        &lt;x-marker id="marker" lnglat="Toronto, Canada" center>
          Looking For Here?
        &lt;/x-marker>
      &lt;/x-mapbox>
    &lt;/x-div> 
  </x-pre>
</div>

<h3>x-mapbox</h3>
<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>zoom</td><td>Number</td><td>15</td><td>Optional</td><td>Zoom level of the map</td></tr>
        <tr><td>center</td><td>LngLat</td><td>0,0</td><td>Optional</td><td>Center Lng/Lat of the map</td></tr>
        <tr><td>access-token</td><td>String</td><td>N/A</td><td>Required*</td><td>
          Mapbox access token.
          Unless it's provided by "XMapbox.accessToken='value'", this value is requird.
          It's encouraged to us Javascript to provide accessToken.
        </td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<h3>x-marker</h3>
<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>center</td><td>Boolean</td><td>false</td><td>Optional</td>
          <td>If provided, marker will be on the center of the map</td>
        </tr>
        <tr><td>lnglat</td><td>LngLat</td><td>N/A</td><td>Required</td><td>Lng/Lat of this marker</td></tr>
      </tbody>
    </table>
  </x-table>
</div>