
<app-custom-css>
  .app x-radio input[type="radio"] {
    --x-radio-size: 36px;
    --x-radio-border: blue;
    --x-radio-fill: red;
    --x-radio-icon: '\2714';
    --x-radio-color: #FFF;
  }
  .app x-radio input:checked::after {
    background: var(--x-radio-fill);
  }
</app-custom-css>

<h3>Features </h3>
<ul class="default">
  <li>
    Provides custom look-and-feel for a radio button.
    <p> size </p>
    <p> border </p>
    <p> background color </p>
    <p> icon </p>
    <p> icon color</p>
  </li>
</ul>

<div class="example">

  <h3>Default</h3>

  <label>
    <x-radio>
      <input type="radio" name="r1" value="1" checked="checked" /> Yes
    </x-radio>
  </label>
  <label>
    <x-radio>
      <input type="radio" name="r1" value="0" /> No
    </x-radio>
  </label>

  <x-pre>
    &lt;label>
      &lt;x-radio>
        &lt;input type="radio" name="r1" value="1" checked="checked"> Yes
      &lt;/x-radio>
    &lt;/label>
    &lt;label>
      &lt;x-radio>
        &lt;input type="radio" name="r1" value="0"> No
      &lt;/x-radio>
    &lt;/label
  </x-pre>

  <h3>Custom</h3>
  <label>
    <x-radio border="red" color="red" fill="red" size="24px" icon="★">
      <input type="radio" name="r2" value="1" /> Yes
    </x-radio>
  </label>
  <label>
    <x-radio border="red" color="red" fill="red" size="24px" icon="★">
      <input type="radio" name="r2" value="0" checked="checked" /> No
    </x-radio>
  </label>
  <x-pre>
    &lt;label>
      &lt;x-radio border="red" color="red" fill="red" size="24px" icon="★">
        &lt;input type="radio" name="r2" value="1"> Yes
      &lt;/x-radio>
    &lt;/label>
    &lt;label>
      &lt;x-radio border="red" color="red" fill="red" size="24px" icon="★">
        &lt;input type="radio" name="r2" value="0" checked="checked"> No
      &lt;/x-radio>
    &lt;/label>  
  </x-pre>

  <h3>Disabled</h3>

  <label>
    <x-radio border="red" color="red" fill="red" size="24px" icon="★">
    <input disabled="disabled" type="radio" value="true" name="r3" checked="checked" /> 
    Yes
    </x-radio>
  </label>
  <label>
    <x-radio border="red" color="red" fill="red" size="24px" icon="★">
      <input disabled="disabled" type="radio" value="false" name="r3" />
      No
    </x-radio>
  </label>
  <x-pre>
    &lt;label>
      &lt;x-radio border="red" color="red" fill="red" size="24px" icon="★">
      &lt;input disabled="disabled" type="radio" value="true" name="r3" checked="checked"> 
      Yes
      &lt;/x-radio>
    &lt;/label>
    &lt;label>
      &lt;x-radio border="red" color="red" fill="red" size="24px" icon="★">
        &lt;input disabled="disabled" type="radio" value="false" name="r3">
        No
      &lt;/x-radio>
    &lt;/label> 
  </x-pre>

</div>

<h3>Attributes</h3>
<li><b>size</b>: Default 20px, width and height of the radio button</li>
<li><b>border</b>: Default #333, border color of the radio button</li>
<li><b>fill</b>: Default red, background color of the radion button</li>
<li><b>icon</b>: Default '\25CF', ●, circle icon</li>
<li><b>color</b>: Default inherit, color of the radio button</li>
