<app-group-header title="Color Selector" path="/input"></app-group-header>

<h3>Open color selector for input field
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-color?file=index.html">Try it</a>
</h3>

<div class="example">
  <x-input type="color" value="#F00"></x-input>
  <x-pre>
    &lt;x-input type="color">&lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <x-input type="color" text-field label="Select color"></x-input>
  <x-pre>
    &lt;x-input type="color" text-field>&lt;/x-input>
  </x-pre>
</div>

<h3>Attributes</h3>
<li><b>width</b>: width of color pallette. e.g., 240</li>
<li><b>height</b>: height of color pallette. e.g, 180</li>

<h3>Events</h3>
<li><b>x-select</b>: a custom event. selected color is in event.detail</li>


<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>width</td><td>Number</td><td>N/A</td><td>Optional</td><td>width of color pallette</td></tr>
        <tr><td>height</td><td>Number</td><td>N/A</td><td>Optional</td><td>height of color pallette</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="events" title="Events">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>x-select</td><td>CustomEvent</td><td>selected color</td><td>Fired when selected</td></tr>
      </tbody>
    </table>
  </x-table>
</div>