
  <div class="example">
    <h3>Number 
      <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-mask?file=index.html"> static html</a>
      <a class="try-it" target="_" href="https://codesandbox.io/s/ng-elements-x-hdbyk?file=/src/app/components/input.component.ts&initialpath=/input"> Angular</a>
   </h3>
    <x-input mask="99999"></x-input>
    <x-pre>
      &lt;x-input mask="99999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Date</h3>
    <x-input mask="YYYY/MM/DD"></x-input>
    <x-pre>
      &lt;x-input mask="YYYY/MM/DD">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>ID</h3>
    <x-input mask="###-##-####"></x-input>
    <x-pre>
      &lt;x-input mask="###-##-####">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Phone Number</h3>
    <x-input mask="(999) 999-9999"></x-input>
    <x-pre>
      &lt;x-input mask="(999) 999-9999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Credit Card Number</h3>
    <x-input mask="9999 9999 9999 9999"></x-input>
    <x-pre>
      &lt;x-input mask="9999 9999 9999 9999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Postal Code</h3>
    <x-input mask="X9X 9X9"></x-input>
    <x-pre>
      &lt;x-input mask="X9X 9X9">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Credit Card Number: Hide Number When Type</h3>
    <x-input mask="____ ____ ____ ____" hide-input></x-input>
    <x-pre>
      &lt;x-input mask="____ ____ ____ ____" hide-input>&lt;/x-input>
    </x-pre>
  </div>

<div class="attributes" title="Attributes">
  <h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>mask</td><td>Required, Description</td></tr>
      <tr><td>hide-input</td><td>Default false, if given, it hides inputs with '*' sign</td></tr>
    </tbody>
  </table>
</div>
