<app-group-header title="Masked Input" path="/input"></app-group-header>

  <div class="example">
    <h3>Number 
      <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-mask?file=index.html">Try it</a>
   </h3>
    <x-input mask="99999"></x-input>
    <x-pre>
      &lt;x-input mask="99999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Date</h3>
    <x-input mask="YYYY/MM/DD"></x-input>
    <x-pre>
      &lt;x-input mask="YYYY/MM/DD">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>ID</h3>
    <x-input mask="###-##-####"></x-input>
    <x-pre>
      &lt;x-input mask="###-##-####">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Phone Number</h3>
    <x-input mask="(999) 999-9999"></x-input>
    <x-pre>
      &lt;x-input mask="(999) 999-9999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Credit Card Number</h3>
    <x-input mask="9999 9999 9999 9999"></x-input>
    <x-pre>
      &lt;x-input mask="9999 9999 9999 9999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Postal Code</h3>
    <x-input mask="X9X 9X9"></x-input>
    <x-pre>
      &lt;x-input mask="X9X 9X9">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>Credit Card Number: Hide Number When Type</h3>
    <x-input mask="____ ____ ____ ____" hide-input></x-input>
    <x-pre>
      &lt;x-input mask="____ ____ ____ ____" hide-input>&lt;/x-input>
    </x-pre>
  </div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>mask</td><td>String</td><td>N/A</td><td>Required</td><td>Description</td></tr>
        <tr><td>hide-input</td><td>Boolean</td><td>false</td><td>Optional</td><td>if given, it hides inputs with '*' sign</td></tr>
      </tbody>
    </table>
  </x-table>
</div>
