<app-group-header title="Radio button" path="/input"></app-group-header>

<h3>Provide custom look-and-feel of input radio 
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-mask?file=index.html">Try with static html</a>
</h3>
<div id="radio">
  <p>
    with size, border, background color, icon, and icon color
  </p>

  <div class="example">
    Instead of a normal input radio button, 
    Extend it, with &lt;x-input type="radio">
    <p>
      <x-input type="radio" name="r1" value="1" checked="checked"></x-input> Yes
      <x-input type="radio" name="r1" value="0"></x-input> No
    </p>
    <x-pre>
      &lt;x-input type="radio" name="r1" value="0">&lt;/x-input> 
    </x-pre>
    <p>
      <x-input type="radio" name="r2" value="1" fill="blue" icon="✖" checked="checked"></x-input> Yes
      <x-input type="radio" name="r2" value="0" fill="blue" icon="✖" ></x-input> No
    </p>
    <x-pre>
      &lt;x-input type="radio" name="r2" value="0" fill="blue" icon="✖" >&lt;/x-input>
    </x-pre>
    <p>
      <x-input type="radio" name="r3" value="1" fill="red" icon="★" checked="checked"></x-input> Yes
      <x-input type="radio" name="r3" value="0" fill="red" icon="★" ></x-input> No
    </p>
    <x-pre>
      &lt;x-input type="radio" name="r3" value="0" fill="red" icon="★" >&lt;/x-input>
    </x-pre>

  </div>

  <h4>Attributes</h4>
  <li><b>size</b>: Default 20px, width and height of the radio button</li>
  <li><b>border</b>: Default #333, border color of the radio button</li>
  <li><b>fill</b>: Default red, background color of the radion button</li>
  <li><b>icon</b>: Default '\25CF', ●, circle icon</li>
  <li><b>color</b>: Default inherit, color of the radio button</li>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>size</td><td>Number</td><td>20</td><td>Optional</td><td>width and height of the radio button</td></tr>
        <tr><td>border</td><td>Color</td><td>#333</td><td>Optional</td><td>border color of the radio button</td></tr>
        <tr><td>fill</td><td>Color</td><td>red</td><td>Optional</td><td>background color of the radio button</td></tr>
        <tr><td>icon</td><td>String</td><td>\25CF, ●</td><td>Optional</td><td>circle icon</td></tr>
        <tr><td>color</td><td>Color</td><td>N/A</td><td>Optional</td><td>color of the radio botton</td></tr>
      </tbody>
    </table>
  </x-table>
</div>