
<h3>Features 
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-switch?file=index.html"> static html</a>
  <a class="try-it" target="_" href="https://codesandbox.io/s/ng-elements-x-hdbyk?file=/src/app/components/input.component.ts&initialpath=/input"> Angular</a>
</h3>
<ul class="default">
  <li>Modifiable On/Off Text</li>
  <li>Customizable color and button size.</li>
</ul>

<div class="example">
  <p>
    <x-input type="switch" status="on"></x-input>
    <x-input type="switch" status="off"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch">&lt;/x-input>
  </x-pre>

  <h3>Custom</h3>
  <p>
    <x-input type="switch" status="on" on="YES" off="No" color="blue"></x-input>
    <x-input type="switch" status="off" on="YES" off="No" color="blue"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch" status="on" on="YES" off="No" color="blue">&lt;/x-input>
  </x-pre>
  <p>
    <x-input type="switch" status="on" on="ON" off="OFF" color="orange"></x-input>
    <x-input type="switch" status="off" on="ON" off="OFF" color="orange"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch" status="on" on="ON" off="OFF" color="orange">&lt;/x-input>
  </x-pre>

  <p>
    <x-input type="switch" status="on" on="ON" off="OFF" disabled="disabled"></x-input>
    <x-input type="switch" status="off" on="ON" off="OFF" disabled="disabled"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch" status="on" on="ON" off="OFF" disabled="disabled">&lt;/x-input>
  </x-pre>

</div>

<div class="attributes" title="Attributes">
  <h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>color</td><td>Color</td><td>red</td><td>Optional</td><td>color of the switch button</td></tr>
      <tr><td>on</td><td>String</td><td>' '</td><td>Optional</td><td>text value when status is on</td></tr>
      <tr><td>off</td><td>String</td><td>' '</td><td>Optional</td><td>text value when status is off</td></tr>
      <tr><td>status</td><td>String</td><td>off</td><td>Optional</td><td>switch status, 'on' or 'off'</td></tr>
      <tr><td>disabled</td><td>String</td><td></td><td>Optional</td><td>disabled when provided</td></tr>
    </tbody>
  </table>
</div>