<app-group-header title="Text field" path="/input"></app-group-header>

<div class="example">
  <h3>Default 
    <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-text?file=index.html">Try it</a>
 </h3>
  <x-input type="text"></x-input>
  <x-pre>
    &lt;x-input type="text">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>With label</h3>
  <x-input type="text" label="Username"></x-input>
  <x-pre>
    &lt;x-input type="text" label="username">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>With placeholder</h3>
  <x-input type="text" placeholder="Enter user name  here"></x-input>
  <x-pre>
    &lt;x-input type="text" placeholder="Enter user name here">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>With label and placeholder</h3>
  <x-input type="text" label="Username" placeholder="Enter user name here"></x-input>
  <x-pre>
    &lt;x-input type="text" label="Username" placeholder="Enter user name here">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>Disabled</h3>
  <x-input disabled="disabled" type="text" value="Allen Kim" label="Username" placeholder="Enter user name here"></x-input>
  <x-pre>
    &lt;x-input disabled type="text" value="Allen Kim" label="Username" placeholder="Enter user name here">
    &lt;/x-input>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>type</td><td>String</td><td>text</td><td>Required</td><td>Textfield</td></tr>
        <tr><td>label</td><td>String</td><td>N/A</td><td>Optional</td><td>Input guide text which is placed on the top of input field</td></tr>
        <tr><td>placeholder</td><td>String</td><td>N/A</td><td>Optional</td><td>Text to show when input field is empty</td></tr>
      </tbody>
    </table>
  </x-table>
</div>