<h2>x-route, URL변경시 페이지 콘텐츠도 변경</h2>

<li> push-state를 이용하여 자바스크립트를 코딩하지 않고도 콘텐츠 변경 </li>
<li> 클릭시 주어진 타겟에 URL에 맞는 HTML을 fetch하여 업데이트 </li>
<li> URL이 변경시 URL에 맞는 HTML을 fetch하여 업데이트 </li>
<li> route 변경시 'x-route'이벤트 발생 </li>

<style>
.example.one {
  display: flex;
}
x-route {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  margin-right: 4px;
}
#route-demo {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  flex: 1;
}
</style>
  
<h3>
  Example
  <a class="try-this" target="_" href="//stackblitz.com/edit/x-route">Try it</a>
</h3>

<div class="example one">
  <x-route target="route-demo">
    <a href="/component/route/foo" src="/components/route/foo.html">foo.html</a>
    <a href="/component/route/bar" src="/components/route/bar.html">bar.html</a>
    <a href="/component/route/default" src="/components/route/default.html">default.html</a>
  </x-route>
  <div id="route-demo">
    왼쪽의 링크를 클릭하면 이곳이 변경됩니다. 
  </div>
</div>
<x-pre>
  &lt;x-route target="route-demo">
    &lt;a href="/component/route/foo" src="/components/route/foo.html">foo.html&lt;/a>
    &lt;a href="/component/route/bar" src="/components/route/bar.html">bar.html&lt;/a>
    &lt;a href="/component/route/default" src="/components/route/default.html">default.html&lt;/a>
  &lt;/x-route>
  &lt;div id="route-demo">
      왼쪽의 링크를 클릭하면 이곳이 변경됩니다.
  &lt;/div>
</x-pre>

<p>
  route는 &lt;x-route>엘리먼트의 하부 엘리먼트들의 'href'와 'src'에 따라 설정됩니다.
  'href'는 클릭시 바뀔 URL이고, 'src'는 클릭시 바뀔 HTML의 위치입니다.
</p>
