
<app-custom-css>
  .app x-file input {
    background: red;
  }
  .app x-file .x-slot {
    background: blue;
    color: #FFF;
    border-radius: 8px;
  }
  .app x-file:hover .x-slot,
  .app x-file.dragover .x-slot {
    color: #333;
  }
</app-custom-css>

<h3>Features </h3>
<ul class="default">
  <li> To collect files, user can drag and drop a file or multiple files. </li>
  <li> To collect files, user can copy/paste a file. </li>
  <li>
    Users can see the preview of file if the collected file is an image.
  </li>
  <li> 
    Provides file uploading functionality.
    <p>To enable uploading functionality, user need to provide a upload function.</p>
    <p>Upload button is visible when user collect a file.</p>
    <p>When upload button is clicked, it executes the provided upload function.</p>
    <p>It also shows the progress of upload. </p>
  </li>
  <li> Supports custom contents and design</li>
  <li> 
    Customizable contents and design.
    <p>
      Try different styling by clicking "Overvide Default Style".
    </p>
  </li>
  <li>
     It fires custom events when
     <p>File is changed</p>
     <p>File is being uploaded or uploaded successfully</p>
  </li>
</ul>

<div class="example">
  <h3>Example</h3>

  <x-file>
    <input class="input" type="file"/><br/>
    Drag/drop or copy/paste file here.
  </x-file>

  <app-pre>
    &lt;<b>x-file</b>>
      &lt;input class="input" type="file"/>
      Drag/drop or copy/paste file here.
    &lt;/x-file>
  </app-pre>
</div>

<div class="example">
  <h3>Example with upload functionality</h3>

  <x-file id="file-selector" upload-fn="upload">
    <input class="input" type="file" multiple="multiple"/><br/>
    or, Drag and drop files <br/>
    or Copy and paste files here
  </x-file>

  <app-pre>
    &lt;<b>x-file</b> id="file-selector" <b>upload-fn="upload"</b>>
      &lt;input class="input" type="file" multiple="multiple"/>&lt;br/>
      or, Drag and drop files &lt;br/>
      or Copy and paste files here
    &lt;/x-file>
    &lt;script>
      document.querySelector('#file-selector').addEventListener('<b>x-file-changed</b>', event => {
        console.log(event.detail);
      });

      function upload(file) { // imgur anonymous upload
        let formData = new FormData();
        formData.append('image', file, file.name);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://api.imgur.com/3/image.json');
        xhr.setRequestHeader('Authorization', 'Client-ID YOUR_CLIENT_ID');
        xhr.send(formData);
        return xhr;
      }
    &lt;/script>
  </app-pre>
</div>

<h3>Attributes</h3>
<li><b>upload-fn</b>:  string, the uplod function name that returns xhr</li>

<h3>Events</h3> 
<li><b>x-file-changed</b>: fired when collected files are changed with the values of list of files</li>
<li><b>x-file-progress</b>: fired when upload is in progress</li>
<li><b>x-file-load</b>: fired when upload is done successfully</li>
<li><b>x-file-error</b>: fired when upload is errored</li>

<script>
  document.querySelector('#file-selector').addEventListener('x-file-changed', event => {
    console.log(event.detail);
  });

  function upload(file) {
    let formData = new FormData();
    // var blob = new Blob(['<a>hi</a>'], { type: "text/xml"});
    formData.append('image', file, file.name);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://api.imgur.com/3/image.json');
    xhr.setRequestHeader('Authorization', 'Client-ID 863c02f211a9506');
    xhr.send(formData);
    return xhr;
  }
</script>
