<div class="medium-article"><style>
          figure { margin: 16px 0;}
          img {max-width: 100%; max-height: 100%;}
          .layout-1 { max-width: 680px; }
          .layout-3 { max-width: 1192px; }
          .layout-5 { width: 100%; }
          .layout-6 { width: 30%;}
          .layout-7 { width: 30%;}</style>
<h1 class="title">Angular: Animate with *ngIf/*ngFor</h1>
<h2>Better display with most-used Angular *ngIf/*ngFor</h2>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/max/700/0*igUOFQAPQOcxe07S" /><figcaption>Photo by <a href="https://unsplash.com/@nooryounis?utm_source=medium&utm_medium=referral">noor Younis</a> on <a href="https://unsplash.com?utm_source=medium&utm_medium=referral">Unsplash</a></figcaption></figure></div>
<p>The best way to have animation is to use CSS.</p>
<p>However there are also limitations with CSS animation especially;</p>
<div class="list bulletin">When you hide an element using <span class="quote">display:none</span></div>
<div class="list bulletin">When you destroy an element using <span class="quote">*ngIf</span> and <span class="quote">*ngFor</span></div>
<p>To overcome limitations of ideal CSS animation, Angular provide its own animation without using any 3rd party library, <a href="https://angular.io/guide/animations">https://angular.io/guide/animations</a></p>
<p>Using Angular animation, it’s possible to have your own animation for the most-used structural directives such as <span class="quote">*ngIf</span> and <span class="quote">*ngFor</span> .</p>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/max/700/1*suvA0qVS7he2oD8z3o9BHA.gif" /><figcaption></figcaption></figure></div>
<p>Here are the steps to make it.</p>
<div class="list number">Create a application-wide sharable animation. <span class="quote">app.animation.ts</span></div>
<div class="list number">Import <span class="quote">BrowserAnimationsModule</span> to module. <span class="quote">app.module.ts</span></div>
<div class="list number">Import and define animation in component. <span class="quote">app.component.ts</span></div>
<div class="list number">Apply the animation to html. app.component.html</div>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><iframe data-script="https://gist.github.com/allenhwkim/686481268ca76c311f44cbd8ecce3a43.js" style="display:none; max-width: 100%; border: 0" width="1280" title="Collection of Angular animations"></iframe>
                <script src="https://gist.github.com/allenhwkim/686481268ca76c311f44cbd8ecce3a43.js"></script><figcaption></figcaption></figure></div>
<h2>1. Create a application-wide sharable animation.</h2>
<pre>import { ... } from '<a href="http://twitter.com/angular/animations">@angular/animations</a>';</pre>
<pre>export const <b>fadeAnimation</b> = trigger('<b>fadeAnimation</b>', [<br/>  transition(':enter', [<br/>    style({ opacity: 0 }), animate('300ms', style({ opacity: 1 }))]<br/>  ),<br/>  transition(':leave',<br/>    [style({ opacity: 1 }), animate('300ms', style({ opacity: 0 }))]<br/>  )<br/>]);</pre>
<h2>2. Import <span class="quote">BrowserAnimationsModule</span> to module.</h2>
<pre>import { ... } from '<a href="http://twitter.com/angular/platform-browser">@angular/platform-browser</a>/animations';</pre>
<pre><a href="http://twitter.com/NgModule">@NgModule</a>({<br/>  imports:      [ BrowserModule, <b>BrowserAnimationsModule</b> ],<br/>  declarations: [ AppComponent ],<br/>  bootstrap:    [ AppComponent ]<br/>})</pre>
<h2>3. Import animations and declare in component.</h2>
<pre>import {...} from './app.animations';</pre>
<pre>@Component({<br/>  ...<br/>  animations: [<b>fadeAnimation</b>, <b>listAnimation</b>]})<br/>export class AppComponent  {<br/>}</pre>
<h2>4. Apply the animation to html. app.component.html</h2>
<pre>&lt;b <a href="http://twitter.com/fadeAnimation">@fadeAnimation</a> *ngIf="show">fade animation&lt;/b><br/><br/>&lt;ul [<a href="http://twitter.com/listAnimation">@listAnimation</a>]="items.length" class="items"><br/>  &lt;li *ngFor="let item of items" class="item"> {{item}}&lt;/li><br/>&lt;/ul></pre>
<p>Here is the fully working demo at stackblitz.</p>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><iframe src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fstackblitz.com%2Fedit%2Fangular-animation-ng-if%3Fembed%3D1%26file%3Dsrc%252Fapp%252Fapp.component.html%26view%3Dpreview&display_name=StackBlitz&url=https%3A%2F%2Fstackblitz.com%2Fedit%2Fangular-animation-ng-if%3Ffile%3Dsrc%252Fapp%252Fapp.component.html%26view%3Dpreview&image=https%3A%2F%2Fc.staticblitz.com%2Fassets%2Ficon-1d2450aadcf984376236c23cd2ab0ba231ddd1d85c9b72990ed2ede5b4974d1b.png&key=a19fcc184b9711e1b4764040d3dc5c07&type=text%2Fhtml&schema=stackblitz" width="745" height="400"></iframe><figcaption></figcaption></figure></div>
<p>Happy coding :)</p>
<p>This article is a part of <a href="https://medium.com/@allenhwkim/angular-random-how-tos-61be27cac0a2">Angular Random How-Tos</a>. You may find some useful articles for your daily development.</p>
<p><b>Do you think this useful? If so please;<br/>*</b> <b>Clap 👏 button </b>below️ to let others to see this too.<br/>* <a href="https://twitter.com/allenhwkim">Follow Allen on Twitter (@allenhwkim)</a></p>
<h1>References</h1>
<div class="list bulletin"><a href="https://developers.google.com/web/fundamentals/design-and-ux/animations/css-vs-javascript">https://developers.google.com/web/fundamentals/design-and-ux/animations/css-vs-javascript</a></div>
<div class="list bulletin"><a href="https://stackblitz.com/edit/animate-display-none?file=index.js">https://stackblitz.com/edit/animate-display-none</a></div></div>