<div class="medium-article"><style>
          figure { margin: 16px 0;}
          img {max-width: 100%; max-height: 100%;}
          .layout-1 { max-width: 680px; }
          .layout-3 { max-width: 1192px; }
          .layout-5 { width: 100%; }
          .layout-6 { width: 30%;}
          .layout-7 { width: 30%;}</style>
<h1>Angular: Collection of Tips and Tricks</h1>
<h2>Collection of Angular Sample Codes Worth Copy</h2>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/max/700/0*Z4S4Fa9phkYfwu3a" /><figcaption>Photo by <a href="https://unsplash.com/@casparrubin?utm_source=medium&utm_medium=referral">Caspar Camille Rubin</a> on <a href="https://unsplash.com?utm_source=medium&utm_medium=referral">Unsplash</a></figcaption></figure></div>
<p>This is the index page of Allen’s Angular articles. I call it as “Random How-Tos” because I write these based on my mind goes, which is random.</p>
<p>Please feel free to copy it, and let me know if you have any suggestion or question.</p>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-build-a-dropdown-menu-f4c65e74f610">Build dropdown menu</a> <b><i><span class="quote">&lt;my-menu></span></i><br/></b></div>
<div class="list bulletin"><a href="https://medium.com/allenhwkim/generate-angular-unit-tests-automatically-1300601ed73">Generate unit tests automatically</a></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-watch-for-element-changes-made-to-dom-tree-bb92062fe5e9">Watch for element changes made to DOM tree</a></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-create-my-own-ngif-bb4fc534cbe">Create my own *ngIf</a></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-monitor-element-is-in-viewport-after-scrolling-67f4d787647c">Monitor element is in view after scrolling<br/></a></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-animate-with-ngif-ngfor-e39180201a48">Animate element appearance with *ngIf/*ngFor</a> <b><i><span class="quote">@fadeAnimation</span><br/></i> </b></div>
<div class="list bulletin"><a href="https://medium.com/allenhwkim/angular-build-a-calendar-in-50-lines-f813f0a04c3b">Build a calendar within less than 50 lines of code</a><br/> <b><i><span class="quote">&lt;my-calendar></span></i></b></div>
<div class="list bulletin"><a href="https://medium.com/allenhwkim/mobile-friendly-table-b0cb066dbc0e">Transform a generic<table> to mobile-friendly data table <br/>mobileTable</a></div>
<div class="list bulletin"><a href="https://medium.com/allenhwkim/how-to-build-a-carousel-in-pure-javascript-98d758a18811">Build a carousel with less than 10 lines of code </a><br/><b><i><span class="quote">myCarousel</span></i></b></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-build-tabs-with-no-js-7befac277afc">Build tabs with no JS</a><br/><b><i><span class="quote">*ngIf="selected=’tab1'"</span></i></b></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-encrypt-decrypt-3583e8c84e73">Encrypt/Decrypt string with CryptoJS</a><br/><b><i><span class="quote">{{'I♥U'|encrypted}}</span></i> </b></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-build-a-custom-password-field-472e60302b29">Hide user input with custom font</a><br/><b><i><span class="quote">font-family: text-secuirty-disc</span></i> </b></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-trap-focus-with-in-a-block-79b7572f23c2">Trap tab focus within a block <br/>trapFocus</a></div>
<div class="list bulletin"><a href="https://medium.com/allenhwkim/margin-collapsing-explained-6fefaf4f4c73">Margin Collapsing Explained</a></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-build-code-editor-with-ace-2cec03b143fd">Build an online code editor with Ace</a><br/><b><i><span class="quote">&lt;ace ...>&lt;/ace></span></i></b></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-make-div-tag-editable-37f90b35acbd">Make div tag editable</a><br/><b><i><span class="quote">&lt;div text-editable></span></i></b></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-syntax-highlighted-code-with-prism-4b9fce7364dd">Syntax highlighting with PrismJs</a></div>
<div class="list bulletin"><a href="https://medium.com/@allenhwkim/angular-not-a-fan-of-blue-focused-outline-6f883cc2dc92">Not a Fan of Blue Focused Outline?</a><br/><b><i><span class="quote">&lt;div a11y-outline></span></i></b></div>
<h1>Miscellaneous</h1>
<div class="list bulletin">Show an image placeholder (<a href="https://stackblitz.com/edit/placeholder">stackblitz</a>)</div>
<div class="list bulletin"><a href="https://medium.com/allenhwkim/angular5-todo-list-side-by-side-comparison-for-ngrx-store-757b3332cc78">Explained: ngrx/store coding overheads</a></div>
<div class="list bulletin"><span class="quote">(Coming Soon)</span>Show an element with parallax backgrounds (<a href="https://stackblitz.com/edit/css-only-parallax">stackblitz</a>)</div>
<div class="list bulletin"><span class="quote">(Coming Soon)</span>Lazy load a module dynamically without router(stackblitz)</div>
<div class="list bulletin"><span class="quote">(Coming Soon)</span> Watch an element with its children if focused on any(<a href="https://stackblitz.com/edit/angular-focused?file=src%2Fapp%2Ffocusable.directive.ts">stackblitz</a>)</div>
<div class="list bulletin"><span class="quote">(Coming Soon)</span>Navigate elements with arrow keys (<a href="https://stackblitz.com/edit/angular-keyboard-navigable">stackblitz</a>)</div></div>