<div class="medium-article"><style>
          figure { margin: 16px 0;}
          img {max-width: 100%; max-height: 100%;}
          .layout-1 { max-width: 680px; }
          .layout-3 { max-width: 1192px; }
          .layout-5 { width: 100%; }
          .layout-6 { width: 30%;}
          .layout-7 { width: 30%;}</style>
<h1 class="title">Building A Carousel In Angular Way</h1>
<p>Recently, I wanted to mimic the layout of <a href="http://www.google.ca/drive/">Google Drive</a>. It seems like a trend to build a site like that these days, and I wanted to experience it by building it. The output that I come out is like <a href="http://embed.plnkr.co/KKiTycPIx8FXsa16x8Ht/preview">this</a>.</p>
<p>Then, I wanted to add a carousel on a section of a page, and started looking for a carousel coding in Angular way.</p>
<p>I found <a href="http://ngmodules.org/modules/angular-carousel">angular-carousel</a> used by many places. Close enough, but I did not feel coding a carousel like the following is the Angualr Way.</p>
<pre><span class="quote">&lt;ul rn-carousel class="image"><br/>  &lt;li>slide #1&lt;/li><br/>  &lt;li>slide #2&lt;/li><br/>  &lt;li>slide #3&lt;/li><br/>&lt;/ul></span></pre>
<p>Where is navigation buttons? What does it do when navigation button is clicked? In my opinion, the way to build a directive like the above is JQuery plugin way, not a Angular way.</p>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/max/700/0*43awKcYXvZL26mc8.png" /><figcaption></figcaption></figure></div>
<p>What is “Angular Way” anyway? The answer is there is no answer for that. The answer for that is different from each person.</p>
<p>Here is my definition of “Angular Way”.</p>
<div class="list number">Requirements in HTML</div>
<div class="list number">Less Javascript(By building re-usable directives)</div>
<p>Am I saying AngualrJS with “Less Javascript”? Yes, “Less Javascript”. In this article, I would like to build carousel from scratch, so the outcome of the HTML is descriptive and reusable.</p>
<p>First thing I need to do is gathering requirements.</p>
<p>The following is the requirement I gathered to make a carousel. For TL;DR;, who wants to see the result first, this is <a href="http://embed.plnkr.co/NukxpGel8I53ZSCwCWob/preview">the final result</a>.</p>
<h1>Requirements</h1>
<div class="list number">Must be navigable through slides.<br/>1) Hide previous button when it is the first slide<br/>2) Hide next button when it is the last slide</div>
<div class="list number">Must work with mobile devices<br/>1) swipe left goes to the previous slide<br/>2) swipe right goes to the next slide</div>
<div class="list number">Must show only a single slide any time</div>
<p>I am going to start the coding the requirements with empty template with my preferred framework and font; AngualrJS and FontAwsome;</p>
<p>If you are updating an existing project, you don’t need to this step.</p>
<pre><span class="quote">&lt;link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"><br/>&lt;script src="https://code.angularjs.org/1.3.5/angular.js">&lt;/script><br/>&lt;script src="https://code.angularjs.org/1.3.5/angular-touch.js"&lt;/script><br/>&lt;link rel="stylesheet" href="style.css"><br/>&lt;script src="script.js">&lt;/script></span></pre>
<p>I am ready now, let me start the coding.</p>
<h1>First Step. Complete HTML with Requirements</h1>
<p>At this time, I do not think of Javascript nor css. Those will be completed by the next steps.</p>
<pre><span class="quote">&lt;section ng-carousel></span></pre>
<pre><span class="quote">&lt;nav ng-swipe-left="showNext()" ng-swipe-right="showPrev()"><br/>    &lt;div ng-hide="firstSlide" ng-click="showPrev()"><br/>      &lt;i class="fa fa-4x fa-caret-left">&lt;/i><br/>    &lt;/div><br/>    &lt;div ng-hide="lastSlide" ng-click="showNext()"><br/>      &lt;i class="fa fa-4x fa-caret-right">&lt;/i><br/>    &lt;/div><br/>  &lt;/nav></span></pre>
<pre><span class="quote">&lt;div><br/>    &lt;img src="http://lorempixel.com/800/600" /><br/>    &lt;img src="http://lorempixel.com/801/600" /><br/>    &lt;img src="http://lorempixel.com/802/600" /><br/>  &lt;/div></span></pre>
<pre><span class="quote">&lt;/section></span></pre>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/max/700/0*PpLFuGTajsDaxk9e.png" /><figcaption></figcaption></figure></div>
<p>The html above will look like the picture above. The look-and-feel is not even close, but the requirements are all in there. By only reading html, it is a carousel that I want to build.</p>
<p>Let me check it again that the above HTML satisfies all the requirements.</p>
<div class="list number">Must be navigable through slides. (It works with ng-click=”showPrev” / ng-click=”showNext”)<br/>1) Hide previous button when it is the first slide (It works with ng-hide=”firstSlide”)<br/>2) Hide next button when it is the last slide (It works with ng-hide=”lastSlide”)</div>
<div class="list number">Must work with mobile devices<br/>1) swipe left goes to the previous slide (It works with ng-swipe-left=”showPrev()”)<br/>2) swipe right goes to the next slide (It works with <b>ng-swipe-right=”showNext()”</b></div>
<div class="list number">Must show only a single slide any time (Not working yet, but I want to handle this not with javascript nor AngularJS but with css)</div>
<h1>Second Step, Complete CSS styling</h1>
<p>I prefer using class names and inline style attribute for css styling. You may say inline style attributes are not recommended. However, at this step, I want to see how it looks like. Later, inline style attribute will be removed and converted into AngularJS directives.</p>
<pre><span class="quote">&lt;section ng-carousel class="pos-relative auto-overflow"></span></pre>
<pre><span class="quote">&lt;nav class="top-stacked full-width full-height text-white"<br/>    ng-swipe-left="showNext()" ng-swipe-right="showPrev()"><br/>    &lt;div class="pull-left ngd-v-center margin-1em" <br/>      ng-hide="firstSlide()" ng-click="showPrev()"><br/>      &lt;i class="fa fa-4x fa-caret-left">&lt;/i><br/>    &lt;/div><br/>    &lt;div class="pull-right ngd-v-center margin-1em" <br/>      ng-hide="lastSlide()" ng-click="showNext()"><br/>      &lt;i class="fa fa-4x fa-caret-right">&lt;/i><br/>    &lt;/div><br/>  &lt;/nav></span></pre>
<pre><span class="quote">&lt;div ngd-carousel-slides slide="2" style="width:300%" class="bottom-stacked"><br/>    &lt;img style="width:33.333333333%" class="pull-left full-width" src="http://lorempixel.com/800/600" /><br/>    &lt;img style="width:33.333333333%" class="pull-left full-width" src="http://lorempixel.com/801/600" /><br/>    &lt;img style="width:33.333333333%" class="pull-left full-width" src="http://lorempixel.com/802/600" /><br/>  &lt;/div></span></pre>
<pre><span class="quote">&lt;/section></span></pre>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/max/700/0*u-50TMHmfbzmpXLv.png" /><figcaption></figcaption></figure></div>
<p>With the code above, it looks like the picture on the left side. I have used several class names, which are general and also not to DOM-specific. The reason I prefer to use general class name is that I can reuse it any time when I want. I also found that using common class name also saves me from coding the same css attributes again and again.</p>
<p>This is the <span class="quote">styles.css</span> that I end up with.</p>
<p>It’s ready. HTML is fully descriptive, and look-and-feel is the same as required.</p>
<p>However, it is not fully functional. We need to nail the requirements with Javascript.</p>
<h1>The final step, Javascript</h1>
<p>The above html is somewhat invasive because of the inline styles. We can remove all inline css and build into AngularJS directives.</p>
<p>The following is the list that Javascript coding is necessary.</p>
<div class="list bulletin"><span class="quote">ng-carousel</span> directive<br/>This will be the center of all carousel features and scoping.</div>
<div class="list bulletin"><span class="quote">showNext()</span> function for ng-swipe-left and ng-click</div>
<div class="list bulletin"><span class="quote">showPrev()</span> function for ng-swipt-right and ng-click</div>
<div class="list bulletin"><span class="quote">ngd-v-center</span> directive to align vertically</div>
<div class="list bulletin"><span class="quote">firstSlide()</span> and <span class="quote">lastSlide()</span> function</div>
<div class="list bulletin">inline style attribute of container of slides, <span class="quote">style="width:300%"</span></div>
<div class="list bulletin">inline style attribute of slide, <span class="quote">style="width:33.333333333%"</span></div>
<p>The javascript coding did not take long, and I was able to finish all JS coding in less than 70 lines.</p>
<p>This is the final <a href="http://embed.plnkr.co/NukxpGel8I53ZSCwCWob/index.html">HTML</a></p>
<pre><span class="quote">&lt;section ng-carousel class="pos-relative no-overflow"></span></pre>
<pre><span class="quote">&lt;nav class="top-stacked full-width full-height text-white"<br/>    ng-swipe-right="showPrev()" ng-swipe-left="showNext()"><br/>    &lt;div class="pull-left ngd-v-center margin-1em" <br/>      ng-hide="is1stSlide()"<br/>      ng-click="showPrev()"><br/>      &lt;i class="fa fa-4x fa-caret-left">&lt;/i><br/>    &lt;/div><br/>    &lt;div class="pull-right ngd-v-center margin-1em" <br/>      ng-hide="isLastSlide()"<br/>      ng-click="showNext()"><br/>      &lt;i class="fa fa-4x fa-caret-right">&lt;/i><br/>    &lt;/div><br/>  &lt;/nav></span></pre>
<pre><span class="quote">&lt;div ng-carousel-slides slide="2" class="clearfix bottom-stacked"><br/>    &lt;img class="pull-left full-width" src="http://lorempixel.com/800/600" /><br/>    &lt;img class="pull-left full-width" src="http://lorempixel.com/801/600" /><br/>    &lt;img class="pull-left full-width" src="http://lorempixel.com/802/600" /><br/>  &lt;/div></span></pre>
<pre><span class="quote">&lt;/section></span></pre>
<p>You can check the final Javascript <a href="http://embed.plnkr.co/NukxpGel8I53ZSCwCWob/script.js">here</a>.</p>
<h1>Conclusion</h1>
<p>Someone may say HTML is too long and has too many classes, and someone may say HTML has too many details for functionalities.</p>
<p>However, in my opinion, I would like to have longer HTML than longer Javascript. The reason is simple. HTML is visible, readable, and fault-tolerant, but Javascript is not visible nor readable, and not fault-tolerant.</p>
<p>CSS is not visible and readable, but it is very fault-talerant. By making common classes and putting those into HTML, we can make it is as visible and readable.</p>
<p><b>HTML First</b>, That’s my Angular way.</p>
<p>Allen Kim</p></div>