<style>
  .example { display: flex; align-items: flex-start; }
  .example > * { border: 1px solid #ccc; margin: 0 24px 0 0; padding: 12px;}
</style>

&lt;x-div> enables DOM changes by reacting to data changes and events
<ul>
  <li>Reacts to data change, and bind to element properties. e.g. x-value="color",
    x-style="color:rgb({{r}},{{g}},{{b}})"
    <ul>
      <li>x-value="..."</li>
      <li>x-style="..."</li>
      <li>x-class="..."</li>
      <li>x-attr="..."</li>
    </ul>
  </li>
  <li>Reacts to x-* events which has command expression, e.g., x-click="set(color, ::value)"
    <ul>
      <li>x-click="..."</li>
      <li>x-input="..."</li>
      <li>x-change="..."</li>
      <li>x-enter="..."</li>
      <li>x-http-success="..."</li>
      <li>x-http-error="..."</li>
      <li>x-listitem-selected="..."</li>
      <li>x-menuitem-selected="..."</li>
      <li>x-date-selected="..."</li>
      <li>x-time-selected="..."</li>
      <li>x-color-selected="..."</li>
      <li>x-file-selected="..."</li>
      <li>x-route-change="..."</li>
      <li>x-page-selected="..."</li>
    </ul>
  </li>
</ul>

<h2>Simple Data Binding Example</h2>

<p>
  Following examples demonstrate simple data binding and event handling.
</p>

<div class="example">
  <x-div name="Elements-X" debug trace>
   <input x-value="name" x-input="set(name)"/>
    <p>Hello <b x-value="name"></b> </p>
  </x-div>
  <app-pre>
    &lt;x-div <b>name</b>="Elements-X">
      &lt;input <b>x-value</b>="name" <b>x-input</b>="set(name)"/>
      &lt;p>Hello &lt;b <b>x-value</b>="name">&lt;/b> &lt;/p>
    &lt;/x-div>
  </app-pre>
</div>

<p>
  The demo. above shows a name initially on both input field and message field. 
  When input field is updated, the message field is also updated with the same value.
</p>

How it works?
<ol>
  <li>&lt;x-div> initializes "name" property as "Elements-X".</li>
  <li>&lt;x-div> searhes any elements with 'x-value' attribute, then 
    set the value with "Elements-X".
  </li>
  <li>&lt;x-div> listens to 'input' event, which is bubbled up from &lt;input> tag.</li>
  <li>
    When 'input' event happens, it sets &lt;x-div> name property to &lt;input> value.
    Then repeats #2 above (&lt;x-div> searhes any elements with 'x-value' attribute, then set the value).
  </li>
</ol>


<h2>Simple Style Binding Example</h2>

<p>
  This demo. shows how to build a color using three input fields.
  &ltx-div> has three property, r, g, and b, and these are used to show a background color of a &lt;div>
</p>

<div class="example">
  <x-div r="255" g="0" b="0" style="width: 240px;">
    R: <input type="range" max="255" value="255" x-change="set(r)"/><br/>
    G: <input type="range" max="255" value="0" x-change="set(g)"/><br/>
    B: <input type="range" max="255" value="0" x-change="set(b)"/><br/>
    <div x-style="background:rgb({{r}},{{g}},{{b}}); height: 60px;"></div>
  </x-div>
  <app-pre>
    &lt;x-div r="255" g="0" b="0">
      R: &lt;input type="range" max="255" value="255" <b>x-change</b>="set(r)"/>
      G: &lt;input type="range" max="255" value="0" <b>x-change</b>="set(g)"/>
      B: &lt;input type="range" max="255" value="0" <b>x-change</b>="set(b)"/>
      &lt;div <b>x-style</b>="background:rgb(<b>{{r}},{{g}},{{b}}</b>)">&lt;/div>
    &lt;/x-div>
  </app-pre>
</div>

<p>
  How it works?
</p>
<ol>
  <li>&lt;x-div> initializes three colors "r", "g", and "b".</li>
  <li>&lt;x-div> searhes any elements with "x-style" attribute 
    with "r", "g", or "b". Then, it sets the element style.</li>
  <li>&lt;x-div> listens to 'change' event, which is bubbled up from &lt;input> tags.</li>
  <li>When 'change' event happens, it sets &lt;x-div> property; "r", "g", or "b" as &lt;input> value.
    Then repeats #2 above (&lt;x-div> searhes any elements with "x-style" attribute 
    with "r", "g", or "b". Then, it sets the element style).
  </li>
</ol>


<x-div>
  Next demo., <a x-click="goto(/component/div/todo)">Todo List</a>, shows how to build a todo list only 
  using &lt;x-div> and &lt;x-list> without using any Javascript.
</x-div>

