<app-group-header title="x-div, A Micro Framework" path="/div"></app-group-header>

<style>
  .example { display: flex; align-items: flex-start; }
  .example > * { border: 1px solid #ccc; margin: 0 24px 0 0; padding: 12px;}
  #msg.toggled { background: #333; color: #FFF;}
</style>

&lt;x-div> can work as a micro framework that can handle simple data binding 
and event handling based on the belief that most of DOM handling can be done without writing Javascript.

<h3>
  Simple Data Binding Example
  <a class="try-this" target="_" href="//stackblitz.com/edit/x-div?file=index.html">Try this</a>
</h3>
<p>
  Following examples demonstrate simple data binding and event handling.
</p>

<div class="example">
  <x-div name="Elements-X"> <!-- debug="" trace="" -->
   <input x-value="name" xon-input="set(name)"/>
    <p>Hello <b x-value="name"></b> </p>
  </x-div>  
  <x-pre>
    &lt;x-div <b>name</b>="Elements-X">
      &lt;input <b>x-value</b>="name" <b>xon-input</b>="set(name)"/>
      &lt;p>Hello &lt;b <b>x-value</b>="name">&lt;/b> &lt;/p>
    &lt;/x-div>
  </x-pre>
</div>

<p>
  The demo. above shows a name initially on both input field and message field. 
  When input field is updated, the message field is also updated with the same value.
</p>

<h3>How it works?</h3>
<ol>
  <li>&lt;x-div> initializes "name" property as "Elements-X".</li>
  <li>&lt;x-div> searhes any elements with 'x-value' attribute, then 
    set the value with "Elements-X".
  </li>
  <li>&lt;x-div> listens to 'input' event, which is bubbled up from &lt;input> tag.</li>
  <li>
    When 'input' event happens, it sets &lt;x-div> name property to &lt;input> value.
    Then repeats #2 above (&lt;x-div> searhes any elements with 'x-value' attribute, then set the value).
  </li>
</ol>


<h2>Simple Style Binding Example</h2>

<p>
  This demo. shows how to build a color using three input fields.
  &lt;x-div> has three property, r, g, and b, and these are used to show a background color of a &lt;div>
</p>

<div class="example">
  <x-div r="255" g="0" b="0" style="width: 240px;">
    R: <input type="range" max="255" value="255" xon-change="set(r)"/><br/>
    G: <input type="range" max="255" value="0" xon-change="set(g)"/><br/>
    B: <input type="range" max="255" value="0" xon-change="set(b)"/><br/>
    <div x-style="background:rgb({{r}},{{g}},{{b}}); height: 60px;"></div>
  </x-div>
  <x-pre>
    &lt;x-div r="255" g="0" b="0">
      R: &lt;input type="range" max="255" value="255" <b>xon-change</b>="set(r)"/>
      G: &lt;input type="range" max="255" value="0" <b>xon-change</b>="set(g)"/>
      B: &lt;input type="range" max="255" value="0" <b>xon-change</b>="set(b)"/>
      &lt;div <b>x-style</b>="background:rgb(<b>{{r}},{{g}},{{b}}</b>)">&lt;/div>
    &lt;/x-div>
  </x-pre>
</div>

<h2>More Example</h2>
<div class="example">
  <x-div>
    <input placeholder="click or type" x-t9n="placeholder"
      xon-click="toggle(#msg.toggled)"
      xon-enter="set(#msg.innerText, ::value)"
      xon-keyup="set(#msg.innerText, event.keyCode)" />
    <div id="msg"> Message Section </div>
  </x-div>

  <x-pre>
    &lt;x-div>
      &lt;input placeholder="click or type" 
        xon-click="toggle(#msg.toggled)"
        xon-enter="set(#msg.innerText, ::value)"
        xon-keyup="set(#msg.innerText, event.keyCode)" />
      &lt;div id="msg"> Message Section &lt;/div>
    &lt;/x-div>
  </x-pre>
</div>



<h3>How it works?</h3>
<ol>
  <li>&lt;x-div> initializes three colors "r", "g", and "b".</li>
  <li>&lt;x-div> searhes any elements with "x-style" attribute 
    with "r", "g", or "b". Then, it sets the element style.</li>
  <li>&lt;x-div> listens to 'change' event, which is bubbled up from &lt;input> tags.</li>
  <li>When 'change' event happens, it sets &lt;x-div> property; "r", "g", or "b" as &lt;input> value.
    Then repeats #2 above (&lt;x-div> searhes any elements with "x-style" attribute 
    with "r", "g", or "b". Then, it sets the element style).
  </li>
</ol>

<h2>
  &lt;x-div> enables DOM changes by reacting to data changes and events
</h2>

<ul>
  <li>Reacts to data change, and bind to element properties. e.g. x-value="color",
    x-style="color:rgb({{r}},{{g}},{{b}})"
    <ul>
      <li>x-value="<a href="#value-expression"><a href="#value-expression">&lt;value-expression&gt;</a></a>"</li>
      <li>x-style="<a href="#style-expression">&lt;style-expression&gt;</a>"</li>
      <li>x-class="<a href="#value-expression">&lt;value-expression&gt;</a>"</li>
      <li>x-attr="<a href="#attribute-expression">&lt;attribute-expression&gt;</a>"</li>
    </ul>
  </li>
  <li>Reacts to on-* events which has command expression, e.g., on-click="set(color, ::value)"
    <ul>
      <li>xon-click="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
      <li>xon-input="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
      <li>xon-change="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
      <li>xon-enter="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
      <li>xon-success="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
      <li>xon-error="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
      <li>xon-select="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
      <li>xon-route="<a href="#command">&lt;command&gt;</a>(<a href="#target-expression">&lt;target-expression&gt;</a>, <a href="#value-expression">&lt;value-expression&gt;</a>)"</li>
    </ul>
  </li>
</ul>

<h3>For Data Binding</h3>
&lt;<a href="/component/div#style-expression">style-expression</a>&gt;<br/>
&lt;<a href="/component/div#attribute-expression">attribute-expression</a>&gt;<br/>
&lt;<a href="/component/div#value-expression">value-expression</a>&gt;<br/>

<h3>For Event Handling</h3>
&lt;<a href="/component/div#value-expression">value-expression</a>&gt;<br/>
&lt;<a href="/component/div#commands">command</a>&gt;<br/>
&lt;<a href="/component/div#target-expression">target-expression</a>&gt;<br/>

<h3 id="value-expression">Value Expression</h3>
<ul>
  <li><b>Boolean expression</b><br/>
    If `true`, true, if `false`, false.<br/>
  </li>
  <li><b>Boolean expression with = </b><br/>
    If it has equal sign(=), comparison expression, it returns true/false by comparing two expression.
    <br/> For example `resp.data.genter=Male`, it returns true or false value by comparing
    `resp.data.gender` and `Male`.
  </li>
  <li><b>Element property expression</b><br/>
    Starts with `::`. It returns the property value of the element. e.g. `::id`, `::checked`, or `::value`
  </li>
  <li><b>Number expression</b><br/>
    It returns integer or float number as deffined. e.g. `123`, `123.456`
  </li>
  <li><b>DOM selector expression</b><br/>
    It returns value property or innerText propety of the element searchable by selector expression.
    The selector must starts with an id(#) or class expression(.)
    e.g. #foo.bar, .my-klass#my-id, .my-klass.my-el
  </li>
  <li><b>String expression</b><br/>
    It returns string value as it is. String value must have a space or a special character unless it's wrapped with a quotation.
    e.g. 'foo', foo bar, foo!bar 
  </li>
  <li><b>&lt;x-div&gt; property expression</b><br/>
    It returns property value of &lt;x-div&gt;.
    For example `myObj` returns the property value of `myObj` in  &lt;x-div&gt;. and 
    `myObj.myKey` returns the property value of `myObj.myKey` in  &lt;x-div&gt;. 
  </li>
  <li><b>&lt;x-div&gt; array expression</b><br/>
    This has equal sign(=) in it. It returns array that matches to expression.
    For example `todos.done=false` returns all elements in  &lt;x-div&gt; `todos` which has property valye of `done` is `false`.
  </li>
</ul>

<h2 id="style-expression">Style Expression</h2>
inline-style expression with bindings(wrapped with '{{' and '}}'). e.g., 
<ul>
  <li>x-style="color:rgb({{r}},{{g}},{{b}})"</li>
</ul>

<h2 id="attribute-expression">Attribute Expression</h2>
Attribute name and attribute value are separated by colon(:). e.g.,
<ul>
  <li>x-attr="filter:{{filter}}"</li>
  <li>x-attr="user-id:route.params.id"</li>
</ul>

<h3 id="target-expression">Target Expression</h3>
<ul>
  <li>
    <b>Element Attribute Expression</b>:<br/>
    It must starts with sharp(#) or dot(.) and ends with array css selector. e.g., #my-div[my-attr]
  </li>
  <li>
    <b>Element Property Expression</b>:<br/>
    It must starts with sharp(#) or dot(.) and ends with element property name followed by dot(.).
    #my-div.my-checkbox.checked
  </li>
  <li>
    <b>Element Expression</b>: CSS selector. e.g,<br/>
    #my-div
  </li>
  <li>
    <b>&lt;x-div&gt; Property Expression</b>: e.g, <br/>
    <ul>
      <li>todos</li>
      <li>todos.done=false.done </li>
    </ul>
  </li>
  <li>
    <b>&lt;x-div&gt; Array Expression</b>: e.g., todos.done=false.<br/>
    
    When it has comparison expression, equal sign(=), it represents all matching element of an array.
    For `todos.done=false`, `todos` is a propety of &lt;x-div&gt;, which is an array type, and `done` is 
    a property of array element, and `false` is possible value of `done`.
  </li>
</ul>

<h3 id="commands">Commands</h3>
<ul>
  <li><b>add</b>: add(<a href="#target-expression">&lt;target-expression&gt;</a>, &lt;source-expression&gt;)<br/>
    If target is an array, add value to its end of array.
    If target is not defined, it sets a new property to &lt;x-div&gt;
  </li>
  <li><b>remove</b>:add(<a href="#target-expression">&lt;target-expression&gt;</a>, &lt;source-expression&gt;)<br/>
    If target is a DOM element, removes the target from document.
    If target is an array, removes the array elements from the array.
    If target is a object property, delete the property from the object.
  </li>
  <li><b>goto</b>:goto(&lt;route-expression&gt;, param-valu, ...)<br/>
    e.g. goto(/sample-app/show/:id, event.detail.data.id), goto(/sample-app/list)
  </li>
  <li><b>toggle</b>:toggle(&lt;css-selector&gt;)"<br/>
    It add or remove the given class name or attribute of DOM element.
    e.g., toggle(.app.toggled)", toggle(#my-section[my-attr]) 
  </li>
  <li><b>fetch</b>:fetch(&lt;css-selector&gt;)<br/>
    It runs `fetch` command of `x-http` element pointed by css selector.
    e.g., fetch(#save-user)
  </li>
  <li><b>set</b>: set(<a href="#target-expression">&lt;target-expression&gt;</a>, &lt;source-expression&gt;);
    <ul>
      <li>set(resp, event.detail)</li>
      <li>set(#my-http.payload.page, event.detail.page)</li>
      <li>set(#save-user.payload.name, ::value)</li>
      <li>set(#save-user.payload.gender, Female)</li>
      <li>set(#save-user.payload.status, ::checked, Active, Inactive)</li>
      <li>set(#delete-message.innerText, event.detail.data.message)</li>
      <li>set(todos.done=false.done, true)</li>
      <li>set(todos.id={{id}}.done, ::checked)</li>
      <li>set(filter, 'done=false')</li>
    </ul>
  </li>
</ul>
