<app-custom-css>
  .app x-menu > ul.dropdown-menu {
    background: blue;
    color: #FFF;
  }
  .app x-menu > ul.dropdown-menu > li[aria-expanded],
  .app x-menu > ul.dropdown-menu > li > ul {
    color: initial;
  }
</app-custom-css>

<style>
  .message br {
    display: none;
  }
  .message {
    padding: 8px;
    background: red;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

<h3>Features </h3>
<ul class="default">
  <li>Convert ul/li list to hierarchy collapsable drodown menu</li> 
  <li>Provide navigation using keyboard</li>
  <li>Accessibility full-feagtured</li>
  <li>Fire 'x-menuitem-selected` evnet when menu item is clicked or enter pressed</li>
  <li>With 'selected' attribute, it highlights selected item</li>
</ul>

<div class="example">

  <h2>Example</h2>
  <div class="message" id="message-div">
    Select a menu item to display message here.
  </div>
  <br/>
  <x-menu id="my-menu" selected="redo" class="dropdown">
    <ul>
      <li> File
        <ul>
          <li>New</li>
          <li>Open
            <ul>
              <li>File A</li>
              <li id="file-b">File B</li>
              <li>File C</li>
            </ul>
          </li>
        </ul>
      </li>
      <li> Edit
        <ul>
          <li>Undo</li>
          <li id="redo">Redo</li>
          <li disabled="disabled">Cut</li>
          <li disabled="disabled">Copy</li>
          <li disabled="disabled">Paste</li>
        </ul>
      </li>
      <li> Format
        <ul>
          <li>Font</li>
          <li>Text</li>
        </ul>
      </li>
      <li> View
        <ul>
          <li>100%</li>
          <li>Zoom In</li>
          <li>Zoom Out</li>
        </ul>
      </li>
      <li id="help">Help</li>
    </ul>
  </x-menu>
  <script>
    document.querySelector('#my-menu').addEventListener('x-menuitem-selected', evt => {
      document.querySelector('#message-div').innerText = `selected "${evt.detail.outerHTML}:`;
    });
  </script>

  <x-pre>
    &lt;x-menu id="my-menu" selected="redo">
      &lt;ul>
        &lt;li> File
          &lt;ul>
            &lt;li>New&lt;/li>
            &lt;li>Open
              &lt;ul>
                &lt;li>File A&lt;/li>
                &lt;li id="file-b">File B&lt;/li>
                &lt;li>File C&lt;/li>
              &lt;/ul>
            &lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Edit
          &lt;ul>
            &lt;li>Undo&lt;/li>
            &lt;li id="redo">Redo&lt;/li>
            &lt;li disabled>Cut&lt;/li>
            &lt;li disabled>Copy&lt;/li>
            &lt;li disabled>Paste&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Format
          &lt;ul>
            &lt;li>Font&lt;/li>
            &lt;li>Text&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> View
          &lt;ul>
            &lt;li>100%&lt;/li>
            &lt;li>Zoom In&lt;/li>
            &lt;li>Zoom Out&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li id="help">Help&lt;/li>
      &lt;/ul>
    &lt;/x-menu>
    &lt;script>
      document.querySelector('#my-menu').addEventListener('x-menu-select', e => {
        console.log(e.detail);
      });
    &lt;/script>
  </x-pre>
</div>

<div class="example">
  <h2>With UL/LI</h2>
  <p>
    The below is multi-leveled list. Click the list, 
    and usingh keyboard to open, close, or navigate list items.
  </p>
  <div class="message" id="message-ul-li">
    Select an list item from the list.
  </div>
  <br/>

  <x-menu id="list-ul-li" selected="new" target="menu-item-name">
    <ul class="x-expanded" >
      <li> File
        <ul>
          <li id="new">New</li>
          <li>Open
            <ul>
              <li> Recent Files 
                <ul>
                  <li>File A</li>
                  <li>File B</li>
                  <li>File C</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li> Edit
        <ul>
          <li> Commands
            <ul>
              <li> Recent Comnands
                <ul>
                  <li>Undo</li>
                  <li>Redo</li>
                  <li>Open File</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li disabled="disabled">Cut</li>
          <li disabled="disabled">Copy</li>
          <li disabled="disabled">Paste</li>
        </ul>
      </li>
      <li> Format
        <ul>
          <li>Font</li>
          <li>Text</li>
        </ul>
      </li>
      <li> View
        <ul>
          <li>100%</li>
          <li>Zoom In</li>
          <li>Zoom Out</li>
        </ul>
      </li>
      <li id="help">Help</li>
    </ul>
  </x-menu>

  <script>
    document.querySelector('#list-ul-li').addEventListener('x-menuitem-selected', evt => {
      document.querySelector('#message-ul-li').innerText = `selected "${evt.detail.outerHTML}:`;
    });
  </script>

  <x-pre>
    &lt;x-list selected="new">
      &lt;ul class="x-expanded" >
        &lt;li> File
          &lt;ul>
            &lt;li id="new">New&lt;/li>
            &lt;li>Open
              &lt;ul>
                &lt;li>File A&lt;/li>
                &lt;li>File B&lt;/li>
                &lt;li>File C&lt;/li>
              &lt;/ul>
            &lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Edit
          &lt;ul>
            &lt;li>Undo&lt;/li>
            &lt;li id="redo">Redo&lt;/li>
            &lt;li disabled="disabled">Cut&lt;/li>
            &lt;li disabled="disabled">Copy&lt;/li>
            &lt;li disabled="disabled">Paste&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Format
          &lt;ul>
            &lt;li>Font&lt;/li>
            &lt;li>Text&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> View
          &lt;ul>
            &lt;li>100%&lt;/li>
            &lt;li>Zoom In&lt;/li>
            &lt;li>Zoom Out&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li id="help">Help&lt;/li>
      &lt;/ul>
    &lt;/x-list>>
  </x-pre>
</div>

<h3>Attributes</h3>
<li><b>selected</b>: the id of preselected menu item, default null</li>

<h3>Events</h3> 
<li><b>x-menuitem-selected</b>: Fired when menu item is selected by click or enter pressed</li>
