<h2>x-data, Custom Formatter</h2>

Format number, currency, or date
  
<h3>Number</h3>
<div class="example">
  Default: <x-data type="number" value="1234567.8901234"></x-data> 
  <br/>
  French: <x-data type="number" locale="fr-CA" max-decimal="3" value="1234567.8901234"></x-data>
  <x-pre>
    Default: &lt;x-data type="number" value="1234567.8901234">&lt;/x-data> 
    French: &lt;x-data type="number" locale="fr-CA" max-decimal="3" value="1234567.8901234">&lt;/x-data>
  </x-pre>
</div>

<h3>Currency</h3>
<div class="example">
  Default: <x-data type="currency" value="1234567.8901234"></x-data> 
  <br/>
  French: <x-data type="currency" locale="fr-CA" currency="CAD" value="1234567.8901234"></x-data>
  <br/>
  Korean: <x-data type="currency" locale="ko-KR" currency="KRW" value="1234567.8901234"></x-data>
  <x-pre>
    Default: &lt;x-data type="currency" value="1234567.8901234">&lt;/x-data> 
    French: &lt;x-data type="currency" locale="fr-CA" currency="CAD" value="1234567.8901234">&lt;/x-data>
    Korean: &lt;x-data type="currency" locale="ko-KR" currency="KRW" value="1234567.8901234">&lt;/x-data>
  </x-pre>
</div>

<h3>Date</h3>
<div class="example">
  Default: <x-data type="date" value="2021-05-29 12:34:59"></x-data> 
  <br/>
  French: <x-data type="date" locale="fr-FR" value="2021-05-29 12:34:59"></x-data>
  <br/>
  Custom English: <x-data type="date" format="weekday month yyyy M d" value="2021-05-29 12:34:59"></x-data>
  <br/>
  Custom French: <x-data type="date" locale="fr-CA" format="week mon yyyy MM dd hh:mm:ss" value="2021-05-29 12:34:59"></x-data>
  <x-pre>
    Default:
      &lt;x-data type="date" value="2021-05-29 12:34:59">&lt;/x-data> 
    French:
      &lt;x-data type="date" locale="fr-FR" value="2021-05-29 12:34:59">&lt;/x-data>
    Custom English:
      &lt;x-data type="date" format="weekday month yyyy M d" value="2021-05-29 12:34:59">&lt;/x-data>
    Custom French:
      &lt;x-data type="date" locale="fr-CA" format="week mon yyyy MM dd hh:mm:ss" value="2021-05-29 12:34:59"></x-data>
  </x-pre>
</div>

<h3> Attributes </h3>

<li><b>type</b>: format type. number, currency, or date</li>
<li><b>data-value</b>: value to format. e.g. 12345.67</li>
<li><b>locale</b>: locale. default en-US, e.g. fr-CA (language-country)</li>
<li><b>max-decimal</b>: max decimal point. Default 2. Used with type="number"</li>
<li><b>currency</b>: currency. default. USD, e.g. USD, KRW, or CAD</li>
<li><b>format</b>: date format. e.g, yyyy-MM-dd hh:mm:ss
   Default. locale date format. for en-US, mm-dd-yy
   <br/>
   <blockquote>
   yyyy: 4 digit year, e.g., 2021 <br/>
   yy: 2 digit year, e.g., 21 <br/>
   MM: 2 digit month, e.g., 05 <br/>
   M: 1 or 2 digit month. e.g., 5, or 12 <br/>
   dd: 2 digit day. e.g., 05, or 12 <br/>
   d: 1 or digit day. e.g., 5, or 12 <br/>
   hh: 2 digit hours. e.g., 05, or 23 <br/>
   h: 1 or digit hours. e.g., 5, or 23 <br/>
   mm: 2 digit minutes. e.g., 05, or 59 <br/>
   m: 1 or digit minutes. e.g., 5, or 59 <br/>
   ss: 2 digit seconds. e.g., 05, or 59 <br/>
   s: 1 or digit seconds. e.g., 5, or 59 <br/>
   Month: Month name. e.g. January <br/>
   Mon: Month name in short format. e.g. Jan <br/>
   Weekday: Weekday name. e.g. Wednesday <br/>
   Week: Weekday name in short format. e.g. Wed <br/>
   </blockquote>
</li>
