<h3>색깔 입력</h3>

<div class="example">
  <x-input type="color" value="#F00"></x-input>
  <x-pre>
    &lt;x-input type="color">&lt;/x-input>
  </x-pre>
</div>

<h3>
  예제
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-color?file=index.html">Try with static html</a>
</h3> 

<div class="example">
  <x-input type="color" text-field label="Select color"></x-input>
  <x-pre>
    &lt;x-input type="color" text-field>&lt;/x-input>
  </x-pre>
</div>

<h3>속성</h3>
<li><b>넓이</b>: 색깔선택판의 넓이. 예, 240</li>
<li><b>height</b>: 색깔선택판의 높이. 예, 180</li>

<h3>이벤트</h3>
<li><b>x-select</b>: 커스텀이벤트. 선택된 색깔은 event.detail안에 있습니다.</li>