<div class="example">
  <h2> 정형화된 입력</h2>

  <div class="example">
    <h3>숫자
      <a class="try-it" target="_" href="//stackblitz.com/edit/x-input-mask?file=index.html">Try with static html</a>
    </h3> 
    <x-input mask="99999"></x-input>
    <x-pre>
      &lt;x-input mask="99999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>날짜</h3>
    <x-input mask="YYYY/MM/DD"></x-input>
    <x-pre>
      &lt;x-input mask="YYYY/MM/DD">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>아이디</h3>
    <x-input mask="###-##-####"></x-input>
    <x-pre>
      &lt;x-input mask="###-##-####">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>전화번호</h3>
    <x-input mask="(999) 999-9999"></x-input>
    <x-pre>
      &lt;x-input mask="(999) 999-9999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>신용카드 번호</h3>
    <x-input mask="9999 9999 9999 9999"></x-input>
    <x-pre>
      &lt;x-input mask="9999 9999 9999 9999">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>우편번호</h3>
    <x-input mask="X9X 9X9"></x-input>
    <x-pre>
      &lt;x-input mask="X9X 9X9">&lt;/x-input>
    </x-pre>
  </div>

  <div class="example">
    <h3>신용카드 번호: 입력시 숫자 숨기기</h3>
    <x-input mask="____ ____ ____ ____" hide-input></x-input>
    <x-pre>
      &lt;x-input mask="____ ____ ____ ____" hide-input>&lt;/x-input>
    </x-pre>
  </div>

  <h2>속성</h2>
  <li><b>mask</b>: 정형화 글자.  예 '(###) ###-####'</li>
  <li><b>hide-input</b>: 이 속성이 명시되면, 입력시 글자를 '*'로 숨깁니다.  </li>
</div>



