
<app-custom-css>
</app-custom-css>

<script>
document.addEventListener('x-select', function(event) {
  document.querySelector('.message').innerText
    = JSON.stringify(event.detail, null, '  ');
});
</script>

<p>
전체 레코드 수, 페이지당 레코드 수, 현재 페이지 번호에 따라 사용자가 특정 페이지를 선택할수 있는 기능을 제공합니다. 
The &lt;x-pagination> element enables the user to select a specific page from a range of pages that are composed by total records,  number of records per page, and the current page number.
</p>

<x-pre>
  &lt;x-pagination value="4"
    num-records-per-page="10"
    num-pages="5"
    total-records="1000">
  &lt;/x-pagination>
</x-pre>

<p>
  페이지가 선택되면 'x-select'를 발생합니다.
</p>

<p>
  아래의 예제에서 다양한 옵션을 바꿈으로서 페이지 인덱스가 어떻게 바뀌는지 참조하세요.
</p>

<h3>
  Example
  <a class="try-this" target="_" href="//stackblitz.com/edit/x-pagination?file=index.html">Try it</a>
</h3>

<hr/>
<p>
  <x-pagination
    num-records-per-page="10"
    num-pages="5"
    total-records="1000"
    value="4">
  </x-pagination>
</p>
<hr/>

<p>
  <label> 페이지당 레코드수 : </label>
  <input type="range" value="10" max="100" step="10"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('num-records-per-page', this.value);" /><b>10</b>

  <br/>
  <label> 보여줄 페이지의 갯수 :</label>
  <input type="range" value="5" max="9" min="1" step="2"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('num-pages', this.value);" /><b>5</b>

  <br/>
  <label>보여줄 페이지의 갯수 :</label>
  <input type="range" current-page="100" max="5000"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('total-records', this.value);" /><b>1000</b>

  <br/>
  <label> 현재 페이지 번호 :</label>
  <input type="range" current-pagee="100" max="100"
    oninput="this.nextElementSibling.innerText = this.value"
    onchange="document.querySelector('x-pagination').setAttribute('value', this.value);" /><b>4</b>
</p>

<b>x-select 이벤트 내역</b>
<x-pre class="message">Empty</x-pre>

<h3> 속성  </h3>

<li><b>current-page</b>: 현재 페이지 번호 </li>
<li><b>num-records-per-page</b>:  전체 레코드의 수</li>
<li><b>num-pages</b>: 보여줄 페이지의 갯수</li>
<li><b>total-records</b>: 보여줄 페이지의 갯수</li>

<h3> 이벤트 </h3>
<li><b>x-select</b>: 페이지가 선택될때 발생하는 이벤트 (page, offset, limit를 포함합니다.) </li>
