
<app-custom-css>
  .app x-switch {
    --x-switch-size: 24px;
    --x-switch-color: blue;
    min-width: 71px;
  }
</app-custom-css>

<h3>Features</h3>
<ul class="default">
  <li>Modifiable On/Off Text</li>
  <li>
    Customizable color and button size.
    <p>Try different styling by clicking "Overvide Default Style".</p>
  </li>
</ul>

<div class="example">
  <h3>Default</h3>
  <p>
    <x-switch checked="checked">
      <b>OFF</b> <b>ON</b>
    </x-switch>
    <x-switch>
      <b>OFF</b> <b>ON</b>
    </x-switch>
  </p>
  <app-pre>
    &lt;x-switch checked="checked">
      &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
    &lt;/x-switch>
    &lt;x-switch>
      &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
    &lt;/x-switch>
  </app-pre>

  <p>
    <h3>Custom</h3>
    <x-switch checked="true" color="blue" size="24px">
      <b>No</b> <b>Yes</b>
    </x-switch>
    <x-switch color="blue" size="24px" checked="false">
      <b>No</b> <b>Yes</b>
    </x-switch>
  </p>
  <app-pre>
    &lt;x-switch checked="true" color="blue" size="24px">
      &lt;b>No&lt;/b> &lt;b>Yes&lt;/b>
    &lt;/x-switch>
    &lt;x-switch color="blue" size="24px" checked="false">
      &lt;b>No&lt;/b> &lt;b>Yes&lt;/b>
    &lt;/x-switch>
  </app-pre>

  <p>
    DISABLED: <br/>
    <x-switch checked="checked" disabled="disabled">
      <b>OFF</b> <b>ON</b>
    </x-switch>
    <x-switch disabled="disabled">
      <b>OFF</b> <b>ON</b>
    </x-switch>
  </p>
  <app-pre>
    &lt;x-switch checked="checked" disabled="disabled">
      &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
    &lt;/x-switch>
    &lt;x-switch disabled="disabled">
      &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
    &lt;/x-switch>
  </app-pre>


</div>

<h3>Attributes</h3>
<li><b>size</b>: Default 32px, height of the switch button</li>
<li><b>color</b>: Default red, color of the switch button</li>
