<x-tabs>
  <div class="tabs">
    <div tab-for="js">Javascript</div>
    <div tab-for="ng">Angular</div>
    <div tab-for="vue">VueJs</div>
    <div tab-for="react">React</div>
  </div>
  <div class="contents">
    <app-pre contents-for="js">
      &lt;script src="https://unpkg.com/elements-x/dist/switch">&lt;/script>
      &lt;x-switch checked="checked">
        &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
      &lt;/x-switch>
    </app-pre>
    <app-pre contents-for="ng">
      import { NgModule, Component, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
      import { BrowserModule } from '@angular/platform-browser';
      <b>import 'elements-x/dist/switch';</b>
      
      @Component({
        selector: 'my-app',
        template: `
          &lt;x-switch checked="checked">
            &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
          &lt;/x-switch>
        `
      })
      class AppComponent  {}
      
      @NgModule({
        imports:      [ BrowserModule ],
        declarations: [ AppComponent ],
        bootstrap:    [ AppComponent ],
        schemas: [CUSTOM_ELEMENTS_SCHEMA]
      })
      export class AppModule {}
    </app-pre>
    <app-pre contents-for="vue">
      &lt;template>
        &lt;x-switch checked="checked">
          &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
        &lt;/x-switch>
      &lt;/template>
      
      &lt;script>
      <b>import 'elements-x/dist/switch';</b>
      
      export default {
        name: "App"
      };
      &lt;/script>
    </app-pre>
    <app-pre contents-for="react">
      import React from "react";
      <b>import 'elements-x/dist/button';</b>

      export default function App() {
        return (
          &lt;x-switch checked="checked">
            &lt;b>OFF&lt;/b> &lt;b>ON&lt;/b>
          &lt;/x-switch>
        );
      }
    </app-pre>
  </div>
</x-tabs>