<app-group-header title="HTTP, AJAX Call Executor" path="/http"></app-group-header>

<app-custom-css>
</app-custom-css>

<p>
It makes http call:  GET, POST, PUT, DELETE, or PATCH. It also shows loading sign when a call is made.
</p>

<div class="example">
  <h2> Example </h2>
  <x-pre>
    &lt;x-div>
      &lt;h3>HTTP Response:&lt;/h3>
      &lt;x-button on-click="fetch(#fetch)"">Fetch&lt;/x-button> 
      &lt;x-button on-click="set(resp, '')">Reset&lt;/x-button>
      &lt;x-http id="fetch" url="/components/list/countries.json"
        on-success="set(resp, event.detail)">&lt;/x-http>
      &lt;pre x-value="resp" style="height: 300px; overflow: auto">&lt;/pre>
    &lt;/x-div>
  </x-pre>

  <x-div> <!-- debug="" trace="" -->
    <h3>HTTP Response:</h3>
    <x-button on-click="fetch(#fetch)">Fetch</x-button> 
    <x-button on-click="set(resp, '')">Reset</x-button>
    <x-http id="fetch" auto="true" on-success="set(resp, event.detail)" url="/components/list/countries.json"></x-http>

    <pre x-value="resp" style="height: 300px; overflow: auto"></pre>
  </x-div>

</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>url</td><td>URL</td><td>N/A</td><td>Required</td><td>URL to make HTTP call,e.g. https://my.api.com/v1/users?q=foo </td></tr>
        <tr><td>method</td><td>String</td><td>get</td><td>Optional</td><td>Method of http call, "get", "post", "put", "delete", or "patch".</td></tr>
        <tr><td>auto</td><td>Boolean</td><td>false</td><td>Optional</td><td>When it's auto, it makes http call when initialized or its payload changes.</td></tr>
        <tr><td>resptype</td><td>String</td><td>json</td><td>Optional</td><td>Indicates response type, it determines the parser of response</td></tr>
        <tr><td>resp-status-code</td><td>String</td><td>undefined</td><td>Optional</td><td>When it's given, it determines status code from the given expression. e.g. "code"</td></tr>
        <tr><td>headers</td><td>String</td><td>undefined</td><td>Optional</td>
          <td>When it's given, the header is set for each call <br/> e.g., headers="Authorization: Bearer r3f3f2d63f2f23" </td></tr>
        <tr><td>payload</td><td>String</td><td>undefined</td><td>Optional</td>
          <td>When it's given, it is used to build body of http call.<br/>  e.g., payload="gender=Male;status=Active </td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="events" title="Events">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>x-success</td><td>CustomEvent</td><td>HTTPResponse</td><td>This event is fired when http call is successful, status code is less than 300</td></tr>
        <tr><td>x-error</td><td>CustomEvent</td><td>HTTPResponse</td><td>This event is fired when http call is NOT successful</td></tr>
      </tbody>
    </table>
  </x-table>
</div>
