
<app-custom-css>
</app-custom-css>

<h3>HTTP</h3>
<p>
It makes http call:  GET, POST, PUT, DELETE, or PATCH. It also shows loading sign when a call is made.
</p>

<h3>Attributes</h3>
<ul>
  <li><b>url</b>: Required, e.g. https://my.api.com/v1/users?q=foo.</li>
  <li><b>method</b>: Default. "get". Method of http call, "get", "post", "put", "delete", or "patch".</li>
  <li><b>auto</b>: Default false. When it's auto, it makes http call when initialized or its payload changes.</li>
  <li><b>resptype</b>: Default "json". Indicates response type, it determines the parser of response.</li>
  <li><b>resp-status-code</b>: Default undefined. 
    When it's given, it determines status code from the given expression. e.g. "code"
  <li><b>headers</b>: Default undefied. When it's given, the header is set for each call. 
    <br/> e.g., headers="Authorization: Bearer r3f3f2d63f2f23" </li>
  <li><b>payload</b>: Default undefined. When it's given, it is used to build body of http call.
    <br/> e.g., payload="gender=Male;status=Active
  </li>
</ul>

<h3>Events</h3>
<ul>
  <li><b>x-http-success</b>: This event is fired when http call is successful, status code is less than 300.</li>
  <li><b>x-http-errorr</b>: This event is fired when http call is NOT successful</li>
</ul>

<div class="example">
  <x-div debug="" trace="">
    <x-http x-http-success="set(resp, event.detail)" url="/components/list/countries.json" auto></x-http>
    <b>HTTP Response:</b>
    <pre id="message" x-value="resp" style="height: 300px; overflow: auto"></pre>
  </x-div>

  <x-pre>
    &lt;x-div>
      &lt;x-http  url="/components/list/countries.json" auto
        x-http-success="set(resp, event.detail)">&lt;/x-http>
      &lt;b>HTTP Response:&lt;/b>
      &lt;pre id="message" x-value="resp" style="height: 300px; overflow: auto">&lt;/pre>
    &lt;/x-div>
  </x-pre>
</div>


