<link href="/components/div/todo/todo.css" rel="stylesheet">
<h1 class="todo-header">todos</h1>

<x-div class="todoapp">
  <header class="header">
    <input id="toggle-all" type="checkbox" class="toggle-all" /> 
    <label for="toggle-all">
      <span class="check-all" x-click="set(todos.done=false.done, true)">❯</span>
      <span class="uncheck-all" x-click="set(todos.done=true.done, false)">❯</span>
    </label>
    <input autofocus="autofocus" autocomplete="off" 
      placeholder="What needs to be done?" class="new-todo" 
      x-enter="add(todos, done=false, name=::value)" />
  </header>
  <section class="main">
    <x-list x-value="todos" class="todo-list">
      <template var-name="todo">
        <li id="{{id}}" class="todo {{completed if done}}">
          <div class="view">
            <input type="checkbox" class="toggle" checked="{{done}}"
              x-click="set(todos.id={{id}}.done, ::checked)" />
            <label contenteditable>{{name}}</label> 
            <button class="destroy" x-click="remove(todos.id={{id}})"></button>
          </div>
        </li>
      </template>
    </x-list>
  </section>
  <footer class="footer" x-class="visible:todos.length">
    <span class="todo-count">
      <strong x-value="todos.done=false.length">0</strong> item left 
    </span>
    <ul class="filters">
      <li><a class="selected">All</a></li>
      <li><a class="">Active</a></li>
      <li><a class="">Completed</a></li>
    </ul> 
    <button class="clear-completed">
      Clear completed
    </button>
  </footer>
</x-div>

<footer class="todoapp-info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="https://allenhwkim.medium.com">Allen Kim</a></p>
  <!-- <p>Part of <a href="http://todomvc.com">TodoMVC</a></p> -->
</footer>