<h3>사용법</h3>
화면하단에 메세지를 잠시 보여주기 위해서는, `addSnackbar(message, options)` 함수를 샐행하세요. 
 예 addSnackbar('hello message')

<h3> 옵션 </h3>

<li>class: 스낵바 디자인.  예, 'left', 'right', 'green' 혹은 'red'</li>
<li>duration: 스낵바가 보여줄 시간(밀리 세컨드).  예 1000</li>

<h3>
  Example
  <a class="try-this" target="_" href="//stackblitz.com/edit/x-snackbar?file=index.html">Try it</a>
</h3>

<div class="example">
  <p>
    <button class="left green">왼쪽에 녹색 스낵바 </button>
    <button class="default">기본 스낵바</button>
    <button class="right red">오른쪽에 빨간 스낵바</button> <br/>
  </p>
  <script>
  document.querySelectorAll('button').forEach(el => {
    el.addEventListener('click', _ => {
      const msg = el.className + ' ' + Math.ceil(Math.random() * 10**12);
      addSnackbar(msg, {class: el.className, duration: 1000})
    });
  });
  </script>

  <x-pre>
    &lt;button class="left green">왼쪽에 녹색 스낵바&lt;/button>
    &lt;button class="default">기본 스낵바&lt;/button> 
    &lt;button class="right red">오른쪽에 빨간 스낵바&lt;/button>
    &lt;script>
    document.querySelectorAll('button').forEach(el => {
      el.addEventListener('click', _ => {
        const msg = el.className + ' ' + Math.ceil(Math.random() * 10**12);
        addSnackbar(msg, {class: el.className, duration: 1000})
      });
    });
    &lt;/script>
  </x-pre>
</div>