<app-group-header title="Calendar" path="/calendar"></app-group-header>

<app-custom-css>
  .app x-calendar .calendar {
    width: 320px;
    background: #eee;
  }
  .app x-calendar .calendar .x-weekday {
    font-weight: bold;
    background: #FFF;
  }
  .app x-calendar .x-date {
    background: blue;
    color: #FFF;
  }
</app-custom-css>

<h3>Features</h3>
<ul class="default">
  <li>
    Shows international language calendar
    <p>English, Korean, Chinese, Arabic, Thai and more</p>
  </li>
  <li> 
    Diaplay a calendar on a page flow or as a dropdown
    <p>It can be used with a button or input tag</p>
  </li>
  <li> 
    Highlights pre-selected date
  </li>
  <li> 
    Limit the calendar months using min. and max. date
  </li>
  <li>
    Customizable color and dates display
    <p>
      Try different styling by clicking "Overvide Default Style".
    </p>
  </li>
</ul>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-calendar?file=index.html">Try it</a>
</h3>

<div class="example">
  <h3> Open calendar with button</h3>
  <x-button>Show Calendar</x-button>
  <x-overlay>
    <x-calendar target="date2"></x-calendar>
  </x-overlay>
  Selected: <span id="date2"></span>
  <x-pre>
    &lt;button>Show Calendar&lt;/button>
    &lt;x-overlay>
      &lt;<b>x-calendar</b> target="date2"&lt;/<b>x-calendar</b>
    &lt;/x-overlay>
  </x-pre>
</div>

<div class="example">
  <h3> Calendar in a block</h3>
  <script>function setCal1(locale) {
    document.querySelector('#calendar1').setAttribute('locale',locale);
  }</script>
  <label onclick="setCal1('en-US')">
    <x-radio><input type="radio" name="r1" checked="checked" /> English</x-radio>
  </label>
  <label onclick="setCal1('ko-KR')">
    <x-radio><input type="radio" name="r1" /> Korean</x-radio>
  </label>
  <label onclick="setCal1('zh-CN-u-nu-hanidec')">
    <x-radio><input type="radio" name="r1" /> Chinese</x-radio>
  </label>
  <label onclick="setCal1('ar-EG')">
    <x-radio><input type="radio" name="r1" />Arabic/Egypt</x-radio>
  </label>
  <label onclick="setCal1('fa-AF')">
    <x-radio><input type="radio" name="r1" />Dari/Afghanistan</x-radio>
  </label>
  <label onclick="setCal1('th-TH-n-nu-thai-ca-chinese')">
    <x-radio><input type="radio" name="r1" />Thai</x-radio>
  </label>
  <br/>
  <br/>
  <div style="max-width:600px; border: 1px solid #ccc">
    <x-calendar id="calendar1" target="date1" locale="en-US"></x-calendar>
  </div>
  Selected: <span id="date1"></span>
  <x-pre>
    &lt;div style="max-width:600px; border: 1px solid #ccc">
      &lt;x-calendar target="date1" locale="en-US">&lt;/x-calendar>
    &lt;/div>
    Selected: &lt;span id="date1">&lt;/span>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>locale</td><td>string</td><td>en-US</td><td>Optional</td><td>language/country</td></tr>
        <tr><td>date</td><td>Date</td><td>Current Date</td><td>Optional</td><td>startig date. e.g. '2020-09-14'</td></tr>
        <tr><td>week-format</td><td>string</td><td>short</td><td>Optional</td><td>'short', 'long', 'short', or 'narrow'</td></tr>
        <tr><td>min-date</td><td>Date</td><td>1969-01-01</td><td>Optional</td><td>lowest calendar date selectable</td></tr>
        <tr><td>max-date</td><td>Date</td><td>2100-12-31</td><td>Optional</td><td>lowest calendar date selectable</td></tr>
        <tr><td>first-day-of-week</td><td>Number</td><td>0</td><td>Optional</td><td>The start day of week</td></tr>
        <tr><td>target</td><td>string</td><td>N/A</td><td>Optional</td><td>id of element to be updated when a date is selected</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="events" title="Events">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>x-select</td><td>CustomEvent</td><td>Date</td><td>fired when date is selected</td></tr>
      </tbody>
    </table>
  </x-table>
</div>
