<x-tabs>
  <div class="tabs">
    <div tab-for="js">Javascript</div>
    <div tab-for="ng">Angular</div>
    <div tab-for="vue">VueJs</div>
    <div tab-for="react">React</div>
  </div>
  <div class="contents">
    <x-pre contents-for="js">
      <b>import 'elements-x/dist/calendar';</b>

      const myDiv = document.getElementById('my');
      myDiv.innerHTML = `<b>&lt;x-calendar>&lt;/x-calendar></b>`;
    </x-pre>
    <x-pre contents-for="ng">
      import { NgModule, Component, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
      import { BrowserModule } from '@angular/platform-browser';
      <b>import 'elements-x/dist/calendar';</b>
      
      @Component({
        selector: 'my-app',
        template: '<b>&lt;x-calendar (x-select="handleEvent($event)">&lt;/x-calendar></b>'
      })
      class AppComponent  {
        handleEvnet(event) { console.log(event.detail); }
      }
      
      @NgModule({
        imports:      [ BrowserModule ],
        declarations: [ AppComponent ],
        bootstrap:    [ AppComponent ],
        schemas: [CUSTOM_ELEMENTS_SCHEMA]
      })
      export class AppModule {}
    </x-pre>
    <x-pre contents-for="vue">
      &lt;template>
        <b>&lt;x-calendar v-on:x-select="handleEvent">&lt;/x-calendar></b>
      &lt;/template>
      
      &lt;script>
      <b>import 'elements-x/dist/calendar';</b>
      
      export default {
        name: "App",
        methods: {
          handleEvent(event) { console.log(event.detail); }
        }
      };
      &lt;/script>
    </x-pre>
    <x-pre contents-for="react">
      import React from "react";
      <b>import 'elements-x/dist/button';</b>

      export default function App() {
        componentDidMount() {
          ReactDOM.findDOMNode(this).addEventListener('x-select', this.handleEvent);
        }

        handleEvent(event) { console.log(event); }

        return (
          &lt;div>
            <b>&lt;x-button>Hello&lt;/x-button></b> 
          &lt;/div>
        );
      }
    </x-pre>
  </div>
</x-tabs>