<style>
x-div[error] :not(.error) { display: none; }
x-div:not([error]) .error { display: none; }
label {display: inline-block; width: 120px; font-weight: bold;}
</style>

<h2> User Info.</h2>
<x-div debug="" trace="" id="user-info">
  <p>
    <label>ID:</label> <span x-value="resp.data.id"></span>
  </p>
  <p>
    <label>Name:</label> <span x-value="resp.data.name"></span>
  </p>
  <p>
    <label>Email:</label> <span x-value="resp.data.email"></span>
  </p>
  <p>
    <label>Gender:</label> <span x-value="resp.data.gender"></span>
  </p>
  <p>
    <label>Status:</label> <span x-value="resp.data.status"></span>
  </p>
  <p>
    <label>Created at:</label> <span x-value="resp.data.created_at"></span>
  </p>
  <p>
    <label>Updated at:</label> <span x-value="resp.data.updated_at"></span>
  </p>
  <p class="error">
    Unknown error to show this user.
  </p>
  <x-http id="my-http" debug x-attr="user-id:route.params.id" auto
    resp-status-code="code"
    "optimize-css-assets-webpack-plugin": "^5.0.4",
    on-success="set(resp, event.detail)"
    on-error="set(#user-info[error], true)"
    url="https://gorest.co.in/public-api/users/{{user-id}}">
  </x-http>
  <x-http id="delete-user" method="DELETE" debug x-attr="user-id:route.params.id"
    resp-status-code="code"
    headers="Authorization: Bearer ab59e108c5d279e83e51564c27aecd3282fd7c6e3af7bbb2fe23b3175c4d5c85"
    on-success="goto(/sample-app/list)"
    on-error="set(#delete-message.innerText, event.detail.data.message)"
    url="https://gorest.co.in/public-api/users/{{user-id}}">
  </x-http>
  <button on-click="goto(/sample-app/edit/:id, route.params.id)">Edit</button>
  <button on-click="fetch(#delete-user)">Delete</button>
  <button on-click="goto(/sample-app/list)">List</button>
  <div id="delete-message"></div>
</x-div>