<h3>Open color selector for input field</h3>

<div class="example">
  <x-input type="color"></x-input>
  <x-pre>
    &lt;x-input type="color">&lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <x-input type="color" text-field="" label="Select color"></x-input>
  <x-pre>
    &lt;x-input type="color">&lt;/x-input>
  </x-pre>
</div>

<h3>Attributes</h3>
<li><b>width</b>: width of color pallette. e.g., 240</li>
<li><b>height</b>: height of color pallette. e.g, 180</li>

<h3>Events</h3>
<li><b>x-select</b>: a custom event. selected color is in event.detail</li>