<div id="date">
  <h3> Open calendar for Input Field</h3>
  <x-input type="date"></x-input>
  <x-pre>
    &lt;x-input type="date">&lt;/x-input>
  </x-pre>
  <x-input type="date" locale="ko-KR" date="2020-09-14"
    week-format="short" min-date="2020-08-14" max-date="2020-10-14"></x-input>
  <x-pre>
    &lt;x-input type="date" locale="ko-KR" date="2020-09-14"
      week-format="short" min-date="2020-08-14" max-date="2020-10-14">&lt;/x-input>
  </x-pre>

  <h2>Attributes</h2>
  <li><b>locale</b>: default 'en-US'</li>
  <li><b>date</b>: startig date. e.g. '2020-09-14'</li>
  <li><b>week-format</b>: Default 'short', 'long', 'short', or 'narrow'</li>
  <li><b>min-date</b>: lowest calendar date selectable. default. '1969-01-01'</li>
  <li><b>max-date</b>: lowest calendar date selectable. default. '2100-12-31'</li>
  <li><b>first-day-of-week</b>: Default 0, which is Sunday</li>
  <li><b>date-format</b>: Default 'yyyy-MM-dd', Format of date</li>

  <h2>Events</h2>
  <li><b>x-select</b>: fired when date is selected with value in Date type</li>

</div>