<h3>Features </h3>
<ul class="default">
  <li> To collect files, user can drag and drop a file or multiple files. </li>
  <li> To collect files, user can copy/paste a file. </li>
  <li>
    Users can see the preview of file if the collected file is an image.
  </li>
  <li> 
    Provides file uploading functionality.
    <p>To enable uploading functionality, user need to provide a upload function.</p>
    <p>Upload button is visible when user collect a file.</p>
    <p>When upload button is clicked, it executes the provided upload function.</p>
    <p>It also shows the progress of upload. </p>
  </li>
  <li> Supports custom contents and design</li>
  <li> 
    Customizable contents and design.
    <p>
      Try different styling by clicking "Overvide Default Style".
    </p>
  </li>
  <li>
     It fires custom events when
     <p>File is changed</p>
     <p>File is being uploaded or uploaded successfully</p>
  </li>
</ul>

<div class="example">
  <h3>Example</h3>

  <x-input type="file">
    Drag/drop or copy/paste file here.
  </x-input>

  <x-pre>
    &lt;x-input type="file">
      Drag/drop or copy/paste file here.
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>Example with upload functionality</h3>

  <x-input id="file-selector" type="file" upload-fn="upload" multiple="multiple">
    or, Drag and drop files <br/>
    or Copy and paste files here
  </x-input>

  <x-pre>
    &lt;<b>/b> type="file" id="file-selector" <b>upload-fn="upload"</b> multiple="multiple">
      or, Drag and drop files &lt;br/>
      or Copy and paste files here
    &lt;/x-input>
    &lt;script>
      document.querySelector('#file-selector').addEventListener('<b>x-select</b>', event => {
        console.log(event.detail);
      });
      document.querySelector('#file-selector').addEventListener('<b>x-error</b>', event => {
        alert(event.detail);
      });

      function upload(file) { // imgur anonymous upload
        let formData = new FormData();
        formData.append('image', file, file.name);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://api.imgur.com/3/image.json');
        xhr.setRequestHeader('Authorization', 'Client-ID YOUR_CLIENT_ID');
        xhr.send(formData);
        return xhr;
      }
    &lt;/script>
  </x-pre>
</div>

<h3>Attributes</h3>
<li><b>upload-fn</b>:  string, the uplod function name that returns xhr</li>

<h3>Events</h3> 
<li><b>x-select</b>: fired when collected files are changed with the values of list of files</li>
<li><b>x-progress</b>: fired when upload is in progress</li>
<li><b>x-load</b>: fired when upload is done successfully</li>
<li><b>x-error</b>: fired when upload is errored</li>

<script>
  document.querySelector('#file-selector').addEventListener('x-select', event => {
    console.log(event.detail);
  });

  function upload(file) {
    let formData = new FormData();
    // var blob = new Blob(['<a>hi</a>'], { type: "text/xml"});
    formData.append('image', file, file.name);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://api.imgur.com/3/image.json');
    xhr.setRequestHeader('Authorization', 'Client-ID 863c02f211a9506');
    xhr.send(formData);
    return xhr;
  }
</script>