<h3>Provide custom look-and-feel of input radio</h3>
<div id="radio">
  <p>
     with;
    size, border, background color, icon, and icon color
  </p>

  <div class="example">
    Instead of a normal input radio button, 
    Extend it, with &lt;x-input type="radio">
    <x-pre>
      &lt;x-input type="radio" name="r1" value="0">&lt;/x-input> 
      &lt;x-input type="radio" name="r2" value="0" fill="blue" icon="✖" >&lt;/x-input>
      &lt;x-input type="radio" name="r3" value="0" fill="red" icon="★" >&lt;/x-input>
    </x-pre>

    <p>
      <x-input type="radio" name="r1" value="1" checked="checked"></x-input> Yes
      <x-input type="radio" name="r1" value="0"></x-input> No
      &nbsp;
      <x-input type="radio" name="r2" value="1" fill="blue" icon="✖" checked="checked"></x-input> Yes
      <x-input type="radio" name="r2" value="0" fill="blue" icon="✖" ></x-input> No
      &nbsp;
      <x-input type="radio" name="r3" value="1" fill="red" icon="★" checked="checked"></x-input> Yes
      <x-input type="radio" name="r3" value="0" fill="red" icon="★" ></x-input> No
    </p>

  </div>

  <h4>Attributes</h4>
  <li><b>size</b>: Default 20px, width and height of the radio button</li>
  <li><b>border</b>: Default #333, border color of the radio button</li>
  <li><b>fill</b>: Default red, background color of the radion button</li>
  <li><b>icon</b>: Default '\25CF', ●, circle icon</li>
  <li><b>color</b>: Default inherit, color of the radio button</li>
</div>