<div class="example">
  <h3>Default</h3>
  <x-input type="text"></x-input>
  <x-pre>
    &lt;x-input type="text">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>With label</h3>
  <x-input type="text" label="Username"></x-input>
  <x-pre>
    &lt;x-input type="text" label="username">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>With placeholder</h3>
  <x-input type="text" placeholder="Enter user name  here"></x-input>
  <x-pre>
    &lt;x-input type="text" placeholder="Enter user name here">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>With label and placeholder</h3>
  <x-input type="text" label="Username" placeholder="Enter user name here"></x-input>
  <x-pre>
    &lt;x-input type="text" label="Username" placeholder="Enter user name here">
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>Disabled</h3>
  <x-input disabled type="text" value="Allen Kim" label="Username" placeholder="Enter user name here"></x-input>
  <x-pre>
    &lt;x-input disabled type="text" value="Allen Kim" label="Username" placeholder="Enter user name here">
    &lt;/x-input>
  </x-pre>
</div>