<x-input type="text"></x-input>
<x-pre>
  &lt;x-input type="text">
  &lt;/x-input>
</x-pre>

<x-input type="text" label="Username"></x-input>
<x-pre>
  &lt;x-input type="text" label="username">
  &lt;/x-input>
</x-pre>

<x-input type="text" placeholder="Enter user name  here"></x-input>
<x-pre>
  &lt;x-input type="text" placeholder="Enter user name here">
  &lt;/x-input>
</x-pre>

<x-input type="text" label="Username" placeholder="Enter user name here"></x-input>
<x-pre>
  &lt;x-input type="text" label="Username" placeholder="Enter user name here">
  &lt;/x-input>
</x-pre>

<x-input disabled type="text" value="Allen Kim" label="Username" placeholder="Enter user name here"></x-input>
<x-pre>
  &lt;x-input disabled type="text" value="Allen Kim" label="Username" placeholder="Enter user name here">
  &lt;/x-input>
</x-pre>