<app-group-header title="Time Selector" path="/input"></app-group-header>

  <h3> Time selector for Input Field 
    <a class="try-this" target="_" href="//stackblitz.com/edit/x-input-time?file=index.html">Try it</a>
 </h3>
  <x-pre>
    &lt;x-input type="time">&lt;/x-input>
  </x-pre>
  <x-input type="time" value="10:15" run="true"></x-input>
  <x-pre>
    &lt;x-input type="time" hour="10" minute="15" run="true">&lt;/x-input>
  </x-pre>

  <div class="attributes" title="Attributes">
    <x-table class="no-header no-footer">
      <table>
        <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
        <tbody>
          <tr><td>hour</td><td>Number</td><td>Current Hour</td><td>Optional</td><td>0 to 24</td></tr>
          <tr><td>minute</td><td>Number</td><td>Current Minute</td><td>Optional</td><td>0 to 59</td></tr>
        </tbody>
      </table>
    </x-table>
  </div>
  
  <div class="events" title="Events">
    <x-table class="no-header no-footer">
      <table>
        <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
        <tbody>
          <tr><td>x-select</td><td>CustomEvent</td><td>Time</td><td>Selected Time</td></tr>
        </tbody>
      </table>
    </x-table>
  </div>