<style>
          figure { margin: 16px 0;}
          img {max-width: 100%; max-height: 100%;}
          .layout-1 { max-width: 680px; }
          .layout-3 { max-width: 1192px; }
          .layout-5 { width: 100%; }
          .layout-6 { width: 30%;}
          .layout-7 { width: 30%;}</style>
<h1 class="title">Angular: Create my own *ngIf</h1>
<h2 class="subtitle">Let’s call it as <span class="quote">*myIf</span></h2>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/0*iIFuUZ5oAvwc7yvD" /><figcaption><a href="https://github.com/angular/angular/blob/10.0.2/packages/common/src/directives/ng_if.ts#L10-L238">https://github.com/angular/angular/blob/10.0.2/packages/common/src/directives/ng_if.ts#L10-L238</a>Photo by <a href="https://unsplash.com/@adigold1?utm_source=medium&utm_medium=referral">Adi Goldstein</a> on <a href="https://unsplash.com?utm_source=medium&utm_medium=referral">Unsplash</a></figcaption></figure></div>
<p>Have you ever thought of making your own <span class="quote">*ngIf</span>?</p>
<p>It seems not easy to create something like an Angular-core built-in-like directive. First, it seems not easy to make a directive to work, which starts with with <span class="quote">*</span>. Second, it seems there are some complicated feature inside the weird looking directive.</p>
<p>Let’s look at the actual source code. This is the actual code of <span class="quote">*ngIf</span> at <a href="https://github.com/angular/angular/blob/10.0.2/packages/common/src/directives/ng_if.ts">github</a>.</p>
<p>To create <span class="quote">*myIf</span>, a simpler version of <span class="quote">*ngIf</span>, it seems necessary to understand <span class="quote">ViewContainerRef</span> and <span class="quote">TemplateRef</span>. The more detail about these are at the end.</p>
<h2>HTML</h2>
<pre>&lt;div *myIf="show">
  This is controlled by *myIf="show", not *ngIf
&lt;/div></pre>
<p>The above Angular-style html is the same as the following.</p>
<pre>&lt;ng-template [myIf]="show">
  &lt;div>
    This is controlled by *myIf="show", not *ngIf
    &lt;br/> Date: {{myDate}}
  &lt;/div>
&lt;/ng-template></pre>
<h2>Javascript</h2>
<li class="bulletin">NOT to show any, execute <span class="quote">viewContainer.clear()</span></li>
<li class="bulletin">To show all, execute <span class="quote">viewContainer.createEmbeddedBiew(templateRef)</span></li>
<pre><a href="http://twitter.com/Directive">@Directive</a>({selector: '[myIf]'})
export class MyIf {</pre>
<pre><a href="http://twitter.com/Input">@Input</a>()
  set myIf(condition) {
    this.viewContainer.clear();
    if (condition) {
      this.viewContainer.createEmbeddedView(this.templateRef);
    }
  }</pre>
<pre>constructor(
    private viewContainer: ViewContainerRef,
    private templateRef: TemplateRef&lt;any>
  ) {}
}</pre>
<p>This is the result when it’s implemented</p>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-3"><iframe src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fstackblitz.com%2Fedit%2Fangular-my-if%3Fembed%3D1%26file%3Dsrc%252Fapp%252Fapp.component.html&display_name=StackBlitz&url=https%3A%2F%2Fstackblitz.com%2Fedit%2Fangular-my-if%3Ffile%3Dsrc%252Fapp%252Fapp.component.html&image=https%3A%2F%2Fc.staticblitz.com%2Fassets%2Ficon-1d2450aadcf984376236c23cd2ab0ba231ddd1d85c9b72990ed2ede5b4974d1b.png&key=a19fcc184b9711e1b4764040d3dc5c07&type=text%2Fhtml&schema=stackblitz" width="745" height="400"></iframe><figcaption><a href="https://stackblitz.com/edit/angular-my-if?file=src%2Fapp%2Fapp.component.html">https://stackblitz.com/edit/angular-my-if</a></figcaption></figure></div>
<p>The below section is about understanding of <span class="quote">ElementRef</span>, <span class="quote">ViewContainerRef</span>, and <span class="quote">TemplateRef</span>. The following code may help you little better. The running <a href="https://stackblitz.com/edit/angular-refs?file=src%2Fapp%2Fapp.component.html">demo</a> is at stackblitz.</p>
<pre><a href="http://twitter.com/Component">@Component</a>
&lt;<b>ViewContainerRef</b>> <b>my-component</b>
  &lt;!-- 
  <b>ElementRef</b>({
    selector: 'my-component',
    template: `
      &lt;div <b>#el</b>>div&lt;/div>                <b>ElementRef</b>
      &lt;<b>ng-container #vc</b>>&lt;/ng-container> <b>ViewContainerRef</b>
      &lt;<b>ng-template</b> <b>#tpl</b>>                <b>TemplateRef</b>
        &lt;div>in ng-template&lt;/div>
      &lt;/<b>ng-template</b>>`
  })
  -->
&lt;<b>my-component</b>></pre>
<pre><b>ViewContainerRef</b>
&lt;<b>ng-template</b> [my-directive]> <b>TemplateRef</b>
  &lt;div>Within ng-template [my-directive]&lt;/div>
&lt;/<b>ng-template</b>></pre>
<li class="bulletin"><span class="quote">ViewContainerRef</span> : Reference for view container, it represents a container where one or more views can be attached..</li>
<li class="bulletin"><span class="quote">TemplateRef</span>: It holds a reference to its host element, which is <span class="quote">&lt;ng-template></span></li>
<li class="bulletin"><span class="quote">ElementRef</span>: A wrapper around a native element inside of a View.</li>
<p>Hope this make your job.</p>
<p>Happy coding :)</p>
<p>This article is a part of <a href="https://medium.com/@allenhwkim/angular-random-how-tos-61be27cac0a2">Angular Random How-Tos</a>. You may find some useful articles for your daily development.</p>
<p><a href="https://twitter.com/allenhwkim">Follow Allen on Twitter (@allenhwkim)</a> <b>Do you think this useful? If so please;
*</b>below️ to let others to see this too.
* <b>Clap 👏 button </b></p>
<h2>References:</h2>
<li class="bulletin"><a href="https://medium.com/@kevinwkds/angular-views-and-references-element-template-viewcontainer-5cdcf6b21bdb">https://medium.com/@kevinwkds/angular-views-and-references-element-template-viewcontainer-5cdcf6b21bdb</a></li>