<style>
          figure { margin: 16px 0;}
          img {max-width: 100%; max-height: 100%;}
          .layout-1 { max-width: 680px; }
          .layout-3 { max-width: 1192px; }
          .layout-5 { width: 100%; }
          .layout-6 { width: 30%;}
          .layout-7 { width: 30%;}</style>
<h1 class="title">Vue/Firebase</h1>
<p>This is the implementation notes <a href="https://medium.com/@anas.mammeri/vue-2-firebase-how-to-build-a-vue-app-with-firebase-authentication-system-in-15-minutes-fdce6f289c3c">Vue + Firbase</a>.</p>
<h1>Getting Started with Vue / Webpack</h1>
<pre>$ npm install -g vue-cli
$ vue init webpack vue-firebase-practive # vue init &lt;template> &lt;project>
$ cd vue-firebase-practice
$ npm install
$ npm start</pre>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/1*hfYZRj2a91b4dMRBUH2Avw.png" /><figcaption></figcaption></figure></div>
<p>Take a look at the files that we are going to modify.</p>
<pre>$ ls src/main.js
$ ls src/router/index.js
$ ls src/components/HelloWorld.vue</pre>
<p>This is the page flow diagram that we want to implement.</p>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/1*xeHpflBiaQNdfu3ifFTi8Q.png" /><figcaption></figcaption></figure></div>
<h1>Create Pages and Routes Without Firebase</h1>
<p>These files are going to be updated.</p>
<pre>$ vi src/router/index.js
$ vi src/components/Login.vue
$ vi src/components/SignUp.vue</pre>
<h2>src/router/index.js</h2>
<pre>import Vue from 'vue'
import Router from 'vue-router'
import HelloWorld from '@/components/HelloWorld'
import Login from '@/components/Login'
import SignUp from '@/components/SignUp'</pre>
<pre>Vue.use(Router)</pre>
<pre>let router = new Router({
  routes: [
    { path: '*', redirect: '/login' },
    { path: '/', redirect: '/login' },
    { path: '/login', name: 'Login', component: Login },
    { path: '/sign-up', name: 'SignUp', component: SignUp },
    { path: '/hello-world', name: 'HelloWorld', component: HelloWorld }
  ]
})</pre>
<pre>export default router</pre>
<h2>src/components/Login.vue</h2>
<pre>&lt;template>
  &lt;div class="login">
    &lt;h3>Sign In&lt;/h3>
    &lt;input type="text" v-model="email" placeholder="Email">&lt;br/>
    &lt;input type="password" v-model="password" placeholder="Password">&lt;br/>
    &lt;button v-on:click="signIn">Connection&lt;/button>
    &lt;p>You don't have an account? You can &lt;router-link to="/sign-up">create one&lt;/router-link>&lt;/p>
  &lt;/div>
&lt;/template></pre>
<pre>&lt;script>
  export default {
    name: 'login',
    data: function() {
      return {
        email: '',
        password: ''
      };
    },
    methods: {
      signIn: function() {}
    }
  }
&lt;/script></pre>
<h2><b>src/components/SignUp.vue</b></h2>
<pre>&lt;template>
  &lt;div class="sign-up">
    &lt;p> Let's create a new account !&lt;/p>
    &lt;input type="text" v-model="email" placeholder="Email">&lt;br/>
    &lt;input type="password" v-model="password" placeholder="Password">&lt;br/>
    &lt;button v-on:click="signUp">Sign Up&lt;/button>
    &lt;span> or go gack to &lt;router-link to="/login">login.&lt;/router-link> &lt;/span>
  &lt;/div>
&lt;/template></pre>
<pre>&lt;script>
  import firebase from 'firebase';</pre>
<pre>  export default {
    name: 'signUp',
    data: function() { 
      return { email: '', password: '' }
    },
    methods: {
      signUp: function() {}
    }
  }
&lt;/script></pre>
<p>Let’s check the app</p>
<pre>$ npm start
# <a href="http://localhost:8080/#/login">http://localhost:8080/#/login</a>
# <a href="http://localhost:8080/#/login">http://localhost:8080/#/s</a>ign-up
# <a href="http://localhost:8080/#/login">http://localhost:8080/#/</a>hello-world</pre>
<h1>Let’s Connect All Pages With Firebase Auth.</h1>
<p>These files will be updated</p>
<pre>$ vi src/main.js
$ vi src/router/index.js
$ vi src/components/Login.vue
$ vi src/components/SignUp.vue</pre>
<h2>src/main.js</h2>
<pre>import Vue from 'vue'
import App from './App'
import router from './router'
<b>import firebase from 'firebase'</b></pre>
<pre>Vue.config.productionTip = false</pre>
<pre><a href="https://korean-reporters.firebaseio.com'">https://korean-reporters.firebaseio.com'</a></pre>
<pre>/* eslint-disable no-new */
new Vue({
  el: '#app',
  router,
  components: { App },
  template: '&lt;App/>'
})</pre>
<h2>src/router/index.js</h2>
<pre>import Vue from 'vue'
import Router from 'vue-router'
import HelloWorld from '@/components/HelloWorld'
import Login from '@/components/Login'
import SignUp from '@/components/SignUp'
<b>import firebase from 'firebase'</b></pre>
<pre>Vue.use(Router)</pre>
<pre>let router = new Router({
  routes: [
    { path: '*', redirect: '/login' },
    { path: '/', redirect: '/login' },
    { path: '/login', name: 'Login', component: Login },
    { path: '/sign-up', name: 'SignUp', component: SignUp },
    {
      path: '/hello-world',
      name: 'HelloWorld',
      component: HelloWorld,
<b>      meta: {
        requiresAuth: true
      }</b>
    }
  ]
})</pre>
<pre><b>router.beforeEach((to, from, next) => {
  let currentUser = firebase.auth().currentUser
  let requiresAuth = to.matched.some(record => record.meta.requiresAuth)
  (requiresAuth && !currentUser) ? next('login') : next()
})</b></pre>
<pre>export default router</pre>
<h2>src/router/Login.vue</h2>
<pre>&lt;template>
  &lt;div class="login">
    &lt;h3>Sign In&lt;/h3>
    &lt;input type="text" v-model="email" placeholder="Email">&lt;br/>
    &lt;input type="password" v-model="password" placeholder="Password">&lt;br/>
    &lt;button v-on:click="signIn">Connection&lt;/button>
    &lt;p>You don't have an account? You can &lt;router-link to="/sign-up">create one&lt;/router-link>&lt;/p>
  &lt;/div>
&lt;/template></pre>
<pre>&lt;script>
<b>  import firebase from 'firebase';</b></pre>
<pre>export default {
    name: 'login',
    data: function() {
      return { email: '', password: '' }
    },
    methods: {
      signIn: function() {
<b>        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
          user => this.$router.replace('hello-world'),
          err => alert('Ooops.' + err.message)
        )</b>
      }
    }
  }
&lt;/script></pre>
<h2>src/router/SignUp.vue</h2>
<pre>&lt;template>
  &lt;div class="sign-up">
    &lt;p> Let's create a new account !&lt;/p>
    &lt;input type="text" v-model="email" placeholder="Email">&lt;br/>
    &lt;input type="password" v-model="password" placeholder="Password">&lt;br/>
    &lt;button v-on:click="signUp">Sign Up&lt;/button>
    &lt;span> or go gack to &lt;router-link to="/login">login.&lt;/router-link> &lt;/span>
  &lt;/div>
&lt;/template></pre>
<pre>&lt;script>
  <b>import firebase from 'firebase';</b></pre>
<pre>  export default {
    name: 'signUp',
    data: function() { 
      return { email: '', password: '' }
    },
    methods: {
      signUp: function() {
<b>        firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
          user => this.$router.replace('hello-world'),
          err => alert('Ooops, ' + err.message)
        )</b>
      }
    }
  }
&lt;/script></pre>
<p>Let’s check the app</p>
<pre>$ npm start
# <a href="http://localhost:8080/#/login">http://localhost:8080/#/</a>hello-world
# <a href="http://localhost:8080/#/login">http://localhost:8080/#/s</a>ign-up
# <a href="http://localhost:8080/#/login">http://localhost:8080/#/</a>login</pre>
<div style="display:flex; flex-wrap: wrap"><figure class="layout-1"><img src="https://cdn-images-1.medium.com/1*J-jV9-boQ0ESY8yvEfh6KA.png" /><figcaption></figcaption></figure></div>
<p>Happy Coding,</p>
<p>Allen Kim</p>