<h3>Feature</h3>
<ul class="default">
  <li>Used to expand/collapse content by clicking title</li> 
</ul>

<h3>Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-accordion?file=index.html"> VanillaJS</a>
  <a class="try-it" target="_" href="https://codesandbox.io/s/ng-elements-x-custom-bd5c7?file=/src/app/components/accordion.component.ts&initialpath=/accordion"> Angular </a>
</h3>

<div class="example">
  <x-accordion label="Hello Accordion">
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
  </x-accordion>
  
  <x-accordion label="Hello Accordion">
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
  </x-accordion>
  
  <x-accordion label="Hello Accordion">
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
  </x-accordion>
  <x-pre>
    &lt;x-accordion label="Hello Accordion">
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
    &lt;/x-accordion>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>label</td><td>String</td><td>N/A</td><td>Required</td><td>Head title of accordion</td></tr>
    </tbody>
  </table>
</div>

<div class="classes" title="Classes">
  <h3>Classes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>expanded</td><td> Indicates if contents is visible.</td></tr>
    </tbody>
  </table>
</div>