<style>
  x-ace { margin-right: 12px; border: 1px solid #CCC;}
  .x-flex {display: flex;}
  .x-flex x-ace { height: 120px;}
</style>

<h2>ACE Editor</h2>  

<h3>Features </h3>
<ul>
  <li> Convert a section to ACE Editor, https://ace.c9.io/</li>
  <li> Customizable theme and language</li>
  <li> Fires Events, 'load','blur', 'change', 'copy', 'focus', and 'paste'</li>
</ul>

<h4>Default</h4>
<x-pre>
  &lt;x-ace theme="chrome">
    function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
    }
  &lt;/x-ace>
</x-pre>
<div class="example default x-flex">
  <x-ace theme="chrome">
    function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
    }
  </x-ace>
  <x-ace theme="monokai">
    function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
    }
  </x-ace>
</div>

<h4>With Gutter</h4>
<x-pre>
  &lt;x-ace theme="chrome" gutter>
    function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
    }
  &lt;/x-ace>
</x-pre>
<b></b>
<div class="example gutter x-flex">
  <x-ace theme="chrome" gutter>
    function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
    }
  </x-ace>
  <x-ace theme="monokai" gutter>
    function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
    }
  </x-ace>
</div>

<h4>Different Modes</h4>
<x-pre>
  &lt;x-ace theme="chrome" mode="text" gutter wrap-mode>
    Text Mode
     - Hello Ace Editor
  &lt;/x-ace> 
</x-pre>
<div class="example x-flex modes">
  <x-ace theme="chrome" mode="text" gutter wrap-mode>
    Text Mode
     - Hello Ace Editor
  </x-ace>
  <x-ace theme="chrome" mode="html" gutter wrap-mode>
    &lt;h3>HTML Mode&lt;/h3>
    &lt;div>
      &lt;b>Hello Ace Editor&lt;/b>
    &lt;/div>
  </x-ace>
  <x-ace theme="chrome" mode="javascript" gutter wrap-mode>
    // JavaScript Mode
    function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
    }
  </x-ace>
</div>

<br/>
<div class="example x-flex modes">
  <x-ace theme="chrome" mode="markdown" gutter wrap-mode>
    ** Markdown Mode
    - Hello Ace Editor
  </x-ace>
  <x-ace theme="chrome" mode="scss" gutter wrap-mode>
    /* SCSS Mode */
    .hello {
      .ace.editor {
        color: red;
      }
    }
  </x-ace>
  <x-ace theme="chrome" mode="json" gutter wrap-mode>
    {
      "json": "mode",
      "hello": "Ace Editor"
    }
  </x-ace>
</div>

<h3>Attributes</h3>
<table x="">
  <thead>
    <tr>
      <th>Name</th>  <th>Description</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>mode</td> 
      <td>default javascript, https://cloud9-sdk.readme.io/docs/language-mode e.g. javascript, css, html, text, markdown, json, or scss</td>
    </tr>
    <tr>
      <td>theme</td> 
      <td>default monokai, Editor theme, https://cloud9-sdk.readme.io/docs/themes</td>
    </tr>
    <tr>
      <td>gutter</td><td>Show gutter</td>
    </tr>
    <tr>
      <td>wrap-mode</td> <td>Text wrap mode</td>
    </tr>
  </tbody>
</table>

<h3>Events</h3>
<table x="">
  <thead>
    <tr>
      <th>Name</th> <th>Type</th> <th>Data</th> <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>blur</td> <td>CustomEvent</td> <td></td> <td>Fired when out of focus</td>
    </tr>
    <tr>
      <td>change</td> <td>CustomEvent</td> <td>Object with detail</td> <td>Fired when content changes</td>
    </tr>
    <tr>
      <td>copy</td> <td>CustomEvent</td> <td>Object with detail</td> <td>Fired when contents copied</td>
    </tr>
    <tr>
      <td>focus</td> <td>CustomEvent</td> <td>Focus Event</td> <td>Fired when focused</td>
    </tr>
    <tr>
      <td>load</td> <td>CustomEvent</td> <td>ACE editor instance</td> <td>Fired when starts</td>
    </tr>
    <tr>
      <td>paste</td> <td>CustomEvent</td> <td>Object with detail</td> <td>Fired when contents pasted</td>
    </tr>
  </tbody>
</table>
