<h3 class="tldr"> TL;DR, Not One-For-All, But All-For-One </h3>

<style>
  .tldr { color: #999; }
  .code { padding: 12px; }
  .code:not(.visible) {display: none;}
</style>

<p>
  There are many open source one-for-all solutions in the Internet. 
  Calling it as "all-in-one autocomplete", they provides their own promising built-in 
  features with easy implementation.
</p>

<p>
  However, when users wants to have their own features beyond its built-in features, 
  it's more problematic than building a new one from the scratch because updating built-in 
  features is more complicated and sometimes it seems not doable.
</p>

<p>
  With your own requirements with all-in-one autocomplete, you may end up with the following questions.
</p>
<ul class="default">
  <li> What if the input field is not &lt;input> tag? e.g, editable &lt;div> tag</li>
  <li> What if it requires unique dropdown list? e.g. with different background, color, font, and even with images</li>
  <li> What if list data structure is complicated? e.g., such as remote source, different types of program source(e.g. Promise)</li>
  <li> What if input tag has some unique behaviour?</li>
  <li> What if there are some unique functions need to be executed for event handling?</li>
</ul>

<p>
  elements-x does not have autocomplete as a separate tag.
  Instead, it provides the tools to build custom autocomplete features, which are;
</p>
<ul class="default">
  <li> 
    <a href="overlay">x-overlay</a> 
    <p>As a container of `x-list`</p>
   </li> 
  <li> 
    <a href="list">x-list</a>
    <p>To show list of items matching to search</p>
  </li> 
</ul>

<p>
  These two can be combined with any input to build your own auto complete.
</p>

For autocomplete with elements-x, you need two html sections;
<ol>
  <li>input section</li>
  <li>list section</li>
</ol>
Also, you need to have Javascript to handle events;
<ol>
  <li>input event</li>
  <li>list item selected event</li>
</ol>

<div class="simple">
  <h3> Simple Autocomplete </h3>
  <p>
    For simple autocomplete, you do not need to have Javascript to handle events.
    Instead, by setting attribute "trigger" of &x-obverlay> and "filter-by" of &x-list> with 
    value of &input> id, it will work without any Javascript coding.
  </p>

  <input placeholder="Select pet types" id="simple-input" />
  <x-overlay id="simple-list" trigger="simple-input">
    <x-list select-first="false" filter-by="simple-input">
      <div>Cats</div>
      <div>Dogs</div>
      <div>Birds</div>
      <div>Rabbits</div>
      <div>Guinea pigs</div>
      <div>Fish</div>
    </x-list>
  </x-overlay>

  <div class="code">
    HTML Code:
    <app-pre>
      &lt;input placeholder="Select pet types" <b>id="simple-input"</b> />
      &lt;x-overlay id="simple-list" <b>trigger="simple-input"</b>>
        &lt;x-list select-first="false" <b>filter-by="simple-input"</b>>
          &lt;div>Cats&lt;/div>
          &lt;div>Dogs&lt;/div>
          &lt;div>Birds&lt;/div>
          &lt;div>Rabbits&lt;/div>
          &lt;div>Guinea pigs&lt;/div>
          &lt;div>Fish&lt;/div>
        &lt;/x-list>
      &lt;/x-overlay
    </app-pre>
  </div>
</div>

<div class="example">
  <h3> Combobox Style Autocomplete </h3>
  <div class="autocomplete">
    <input placeholder="Select favorite pet" id="my-input" />
    <x-overlay id="my-list" trigger="my-input">
      <x-list select-first="false" filter-by="my-input">
        <div>Cats</div>
        <div>Dogs</div>
        <div>Birds</div>
        <div>Rabbits</div>
        <div>Guinea pigs</div>
        <div>Fish</div>
      </x-list>
    </x-overlay>
  </div>

  <style>
  .autocomplete { position: relative; display: inline-block; }
  .autocomplete::after { position: absolute; content: '▼'; line-height: 32px; right: 4px; color: #999; }
  .autocomplete input { padding-right: 20px; }
  </style>

  <div class="code">
    HTML Code:
    <app-pre>
      &lt;div class="autocomplete">
        &lt;input placeholder="Select favorite pet" <b>id="my-input"</b> />
        &lt;x-overlay id="my-list" <b>trigger="my-input"</b>>
          &lt;x-list select-first="false" <b>filter-by="my-input"</b>>
            &lt;div>Cats&lt;/div>
            &lt;div>Dogs&lt;/div>
            &lt;div>Birds&lt;/div>
            &lt;div>Rabbits&lt;/div>
            &lt;div>Guinea pigs&lt;/div>
            &lt;div>Fish&lt;/div>
          &lt;/x-list>
        &lt;/x-overlay>
      &lt;/div>
    </app-pre>

    CSS Code:
    <app-pre>
      .autocomplete { position: relative; display: inline-block; }
      .autocomplete::after { position: absolute; content: '▼'; line-height: 32px; right: 4px; color: #999; }
      .autocomplete input { padding-right: 20px; }
    </app-pre>

  </div>
</div>

<div class="example">
  <h3>Autocomplete with style, x-textfield</h3>

  The following example is to show more stylish input textfield, x-textfield.

  <div style="position:relative">
    <x-textfield id="pet-textfield">
      <span class="label">Pet Name</span>
      <input placeholder="Select favorite pet" id="pet-name" />
      <b class="icon" aria-hidden="true">▼</b>
      <div class="ink-bar"></div>
    </x-textfield>
    <x-overlay id="pets" trigger="pet-name">
      <x-list select-first="false" filter-by="pet-name">
        <div>Cats</div>
        <div>Dogs</div>
        <div>Birds</div>
        <div>Rabbits</div>
        <div>Guinea pigs</div>
        <div>Fish</div>
      </x-list>
    </x-overlay>
  </div>

  <div class="code">
    HTML Code: 
    <app-pre>
      &lt;x-textfield id="pet-textfield">
        &lt;span class="label">Pet Name&lt;/span>
        &lt;input placeholder="Select favorite pet" <b>id="pet-name"</b> />
        &lt;b class="icon" aria-hidden="true">▼&lt;/b>
        &lt;div class="ink-bar">&lt;/div>
      &lt;/x-textfield>
      &lt;x-overlay id="pets" <b>trigger="pet-name"</b>>
        &lt;x-list select-first="false" <b>filter-by="pet-name"</b>>
          &lt;div>Cats&lt;/div>
          &lt;div>Dogs&lt;/div>
          &lt;div>Birds&lt;/div>
          &lt;div>Rabbits&lt;/div>
          &lt;div>Guinea pigs&lt;/div>
          &lt;div>Fish&lt;/div>
        &lt;/x-list>
      &lt;/x-overlay>
    </app-pre>
  </div>
</div>

<div class="example">
  <h3>Autocomplete with RESTful API</h3>
  <p>
  The following example is to choose a country using countries API; https://restcountries.eu/rest/v2/name/XXX.
  The usage of this API is found at https://restcountries.eu/#api-endpoints-name.
  The API returns list of country by the given name with detail of country code, name, and etc.
  </p>

  <div class="example">
    <div class="demo" style="position:relative">
      <input id="country-name" placeholder="Enter country name" />
      <x-overlay id="country-list-overlay" trigger="country-name">
        <x-list id="country-list">
          <div>Search a country.</div>
          <template var-name="country">
            <div><b>${alpha3Code}</b> ${name}</div>
          </template>
          <template class="error">
            <div>Cannot find a country.</div>
          </template>
        </x-list>
      </x-overlay>
      <br/>
      <b>Selected Country:</b>
      <pre id="country-object" style="margin:0; height: 200px;"></pre>
    </div>
  </div>
  <script>
    // listen to input element key typing, then update the autocomplete list
    var $_ = document.querySelector.bind(document);
    $_('#country-name').addEventListener('input', event => {
      if (!event.target.value) return;
      window.fetch(`https://restcountries.eu/rest/v2/name/${event.target.value}`)
        .then(resp => resp.ok && resp.json())
        .then(resp => $_('#country-list').datalist = resp);
    });

    // listen to autocomplete list selection, then update input field and more
    const listOverlay = $_('#country-list-overlay');
    listOverlay.addEventListener('x-listitem-selected', event => {
      if (event.detail.country) {
        $_('#country-name').value = event.detail.country.name;
        $_('#country-object').innerHTML = JSON.stringify(event.detail.country, null, '  ');
      }
      listOverlay.close();
    });
  </script>

  <x-click set=".restful.code.visible">show/hide code</x-click>
  <div class="restful code">
    HTML Code:
    <app-pre>
      &lt;input id="<b>country-name"</b> placeholder="Enter country name" />
      &lt;x-overlay id="<b>country-list-overlay"</b> trigger="country-name">
        &lt;x-list id="<b>country-list"</b>>
          &lt;div>Search a country.&lt;/div>
          &lt;template var-name="<b>country</b>">
            &lt;div>&lt;b>${alpha3Code}&lt;/b> ${name}&lt;/div>
          &lt;/template>
          &lt;template class="<b>error</b>">
            &lt;div>Cannot find a country.&lt;/div>
          &lt;/template>
        &lt;/x-list>
      &lt;/x-overlay>
      &lt;br/>
      &lt;b>Selected Country:&lt;/b>
      &lt;pre id="country-object" style="margin:0; height: 200px;">&lt;/pre>
    </app-pre>

    Javascript Code:
    <app-pre>
      // listen to input element key typing, then update the autocomplete list
      var $_ = document.querySelector.bind(document);
      $_('#country-name').addEventListener('input', event => {
        if (!event.target.value) return;
        window.fetch(`https://restcountries.eu/rest/v2/name/${event.target.value}`)
          .then(resp => resp.ok && resp.json())
          .then(resp => $_('#country-list').datalist = resp);
      });
  
      // listen to autocomplete list selection, then update input field and more
      const listOverlay = $_('#country-list-overlay');
      listOverlay.addEventListener('x-listitem-selected', event => {
        if (event.detail.country) {
          $_('#country-name').value = event.detail.country.name;
          $_('#country-object').innerHTML = JSON.stringify(event.detail.country, null, '  ');
        }
        listOverlay.close();
      });
    </app-pre>
  </div>
</div>
