
<h3>Feature</h3>
<ul class="default">
  <li>Barcode generator</li> 
  <li>Uses jsbarcode, https://github.com/lindell/JsBarcode</li> 
</ul>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/elements-x-qrcode?file=index.html"> static html</a>
  <a class="try-it" target="_" href="https://codesandbox.io/s/ng-elements-x-custom-bd5c7?file=/src/app/components/barcode.component.ts&initialpath=/barcode"> Angular</a>
</h3>

<div class="example">
  <x-barcode value="123456789012" format="upc"></x-barcode>
  <x-pre>
    &lt;x-barcode value="123456789012" format="upc">&lt;/x-barcode>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>value</td><td>String</td><td>N/A</td><td>Required</td><td>Barcode value</td></tr>
      <tr><td>format</td><td>String</td><td>code128</td><td>Optional</td><td>
        Barcode format, code128, ean, code39, itf, msi, pharmacode, codabar, or upc
      </td></tr>
    </tbody>
  </table>
</div>
