<app-group-header title="Button" path="/button"></app-group-header>
<h3>How it is different from html &lt;button></h3>
<ul class="default">
  <li> Better look-and-feel.</li> 
  <li> Showing loading sign.
    <p>
      An element with 'loading' class is hidden in default. It shows up when x-button has 'loading' class.
    </p>
  </li>
  <li> Customizable color and button size.
    <p>
      Try different styling by clicking "Overvide Default Style".
    </p>
  </li>
</ul>

<h3>
  Default
  <a class="try-it" target="_" href="//stackblitz.com/edit/elements-x-button?file=index.html">Try it</a>
</h3>
<div class="example">
  <p>
    <x-button> Default </x-button>
    <x-button class="primary"> Primary </x-button>
    <x-button class="accent"> Accent </x-button>
    <x-button disabled="disabled"> Disabled </x-button>
    <x-button class="no-style"> No Style </x-button>
  </p>
  <pre language="html">
    &lt;x-button> Default &lt;/x-button>
    &lt;x-button class="<b>primary</b>"> Primary &lt;/x-button>
    &lt;x-button class="<b>accent</b>"> Accent &lt;/x-button>
    &lt;x-button <b>disabled</b> Disabled &lt;/x-button>
    &lt;x-button class="<b>no-style</b>"> No Style &lt;/x-button>
  </pre>
</div>

<h3>Icon</h3>
<p>
  Button with "icon" class will have rounded shape instead of rectanble shape.
</p>
<div class="example">
  <x-button class="icon">&#9829;</x-button>
  <x-button class="icon primary">&#9829;</x-button>
  <x-button class="icon accent">&#9829;</x-button>
  <x-button class="icon" disabled="disabled">&#9829;</x-button>
  <x-button class="icon no-style">&#9829;</x-button>
  <pre language="html">
  &lt;x-button class="<b>icon</b>">&#9829;&lt;/x-button>
  &lt;x-button class="<b>icon</b> primary">&#9829;&lt;/x-button>
  &lt;x-button class="<b>icon</b> accent">&#9829;&lt;/x-button>
  &lt;x-button class="<b>icon</b>" disabled="disabled">&#9829;&lt;/x-button>
  &lt;x-button class="<b>no-style</b>">&#9829;&lt;/x-button>
  </pre>
</div>

<div class="classes" title="Classes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>primary</td><td> primary styling, background blue, color white</td></tr>
        <tr><td>accent</td><td> accent styling, background red, color white</td></tr>
        <tr><td>loading</td><td> It does not hide elelement with class with 'loading'</td></tr>
        <tr><td>no-bg</td><td> Shows transparent background color and changes color to black</td></tr>
        <tr><td>no-border</td><td> Shows transparent border </td></tr>
        <tr><td>no-shadow</td><td> Does not show shadow </td></tr>
        <tr><td>icon</td><td> Button with "icon" class will have rounded shape instead of rectanble shape </td></tr>
      </tbody>
    </table>
  </x-table>
</div>