<h3>How it is different from html &lt;button></h3>
<ul class="default">
  <li> Better look-and-feel.</li> 
  <li> Showing loading sign.
    <p>
      An element with 'loading' class is hidden in default. It shows up when x-button has 'loading' class.
    </p>
  </li>
  <li> Customizable color and button size.
    <p>
      Try different styling by clicking "Overvide Default Style".
    </p>
  </li>
</ul>

<h3>
  Default
  <a class="try-it" target="_" href="//stackblitz.com/edit/elements-x-button?file=index.html"> static html</a>
  <a class="try-it" target="_" href="https://codesandbox.io/s/ng-elements-x-hdbyk?file=/src/app/app.module.ts&initialpath=/button"> Angular</a>
</h3>
<div class="example">
  <p>
    <button x=""> Default </button>
    <button x="" class="primary"> Primary </button>
    <button x="" class="accent"> Accent </button>
    <button x="" disabled="disabled"> Disabled </button>
    <button x="" class="no-style"> No Style </button>
  </p>
  <pre language="html">
    &lt;button x> Default &lt;/button>
    &lt;button x class="<b>primary</b>"> Primary &lt;/button>
    &lt;button x class="<b>accent</b>"> Accent &lt;/button>
    &lt;button x <b>disabled</b> Disabled &lt;/button>
    &lt;button x class="<b>no-style</b>"> No Style &lt;/button>
  </pre>
</div>

<h3>Icon</h3>
<p>
  Button with "icon" class will have rounded shape instead of rectanble shape.
</p>
<div class="example">
  <button x="" class="icon">&#9829;</button>
  <button x="" class="icon primary">&#9829;</button>
  <button x="" class="icon accent">&#9829;</button>
  <button x="" class="icon" disabled="disabled">&#9829;</button>
  <button x="" class="icon no-style">&#9829;</button>
  <pre language="html">
  &lt;button x class="<b>icon</b>">&#9829;&lt;/button>
  &lt;button x class="<b>icon</b> primary">&#9829;&lt;/button>
  &lt;button x class="<b>icon</b> accent">&#9829;&lt;/button>
  &lt;button x class="<b>icon</b>" disabled="disabled">&#9829;&lt;/button>
  &lt;button x class="<b>no-style</b>">&#9829;&lt;/button>
  </pre>
</div>

<div class="classes" title="Classes">
  <h3>Classes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>primary</td><td> primary styling, background blue, color white</td></tr>
      <tr><td>accent</td><td> accent styling, background red, color white</td></tr>
      <tr><td>loading</td><td> It does not hide elelement with class with 'loading'</td></tr>
      <tr><td>no-bg</td><td> Shows transparent background color and changes color to black</td></tr>
      <tr><td>no-border</td><td> Shows transparent border </td></tr>
      <tr><td>no-shadow</td><td> Does not show shadow </td></tr>
      <tr><td>icon</td><td> Button with "icon" class will have rounded shape instead of rectanble shape </td></tr>
    </tbody>
  </table>
</div>