<h2>Calendar</h2>  

<h3>Features </h3>
<ul>
  <li> Multiple language expression with <code>locale</code> attribute. e.g., en, ko, or thai etc</li>
  <li> Fire events when a date is selected and unselected</li>
  <li> Updatable start day of week. Saturday, Sunday, or Monday </li>
  <li> Holiday display using <code>SDate.Holidays</code></li>
  <li> Controllable date select with <code>isSelectable(date)</code> function </li>
</ul>

<div class="example default" style="display: flex">
  <x-calendar id="cal1" multiple></x-calendar>
  <x-calendar id="cal2" multiple locale="ko" first-day-of-week="1"></x-calendar>
  <x-calendar id="cal3" multiple locale="zh"></x-calendar>
</div>
<div>
  Selected Dates: <span id="datex-selected"></span>
</div>
<x-pre>
  &lt;x-calendar id="cal2" date="2022-04-01" multiple locale="ko" first-day-of-week="1">&lt;/x-calendar>
</x-pre>
<script>
  function getDisplayable(dates) {
    return '[' + dates.map(el => el.toISOString().slice(0, 10)).join(', ') + ']';
  }
  let datesSelected = [new Date('2022-04-15'), new Date('2022-04-16'), new Date('2022-04-17')];
  $('#cal2').datesSelected = datesSelected;
  $('#datex-selected').innerHTML = getDisplayable(datesSelected);
  $('.example').addEventListener('select', function(e) {
    datesSelected.push(e.detail);
    $('#datex-selected').innerHTML = getDisplayable(datesSelected);
  });
  $('.example').addEventListener('deselect', function(event) {
    datesSelected = datesSelected.filter(el => el.toISOString().slice(0, 10) !== event.detail.toISOString().slice(0, 10));
    $('#datex-selected').innerHTML = getDisplayable(datesSelected);
  });
</script>

<p>
  To show holidays on calendar, provide <code>XCalanedar.HOLIDAYS</code> as like the following.
</p>
<x-highlightjs>
  import {XCalendar} from '@formhero/smartform-elements';
  XCalendar.HOLIDAYS = [
    {date: '2022-01-01', name: 'New Years\'s Day', Type: 'Statutory Holiday'},
    {date: '2022-01-03', name: 'New Years\'s Day(in lieu)', Type: 'Government Holiday'},
    {date: '2022-02-21', name: 'Family Day', Type: 'Regional Holiday'},
    ...
  ];
</x-highlightjs>

<p>
  To control selectable dates, provide <code>XCalendar.IS_SELECTABLE(date)</code> function.
  In default, all dates are selectable.
</p>
<x-highlightjs>
  import {XCalendar} from '@formhero/smartform-elements';
  XCalendar.IS_SELECTABLE = function(date) {
    const isHoliday = XCalendar.HOLIDAYS.find(h => h.date === date.toISOString().slice(0,10));
    const isWeekend = date.getDay() === 0 || date.getDay() === 6;
    return !isHoliday &amp;&amp; !isWeekend;
  }
</x-highlightjs>

<h3>Attributes</h3>
<div class="attributes" title="Attributes">
  <table x="">
    <thead>
      <tr> <th>Name</th> <th>Default</th> <th>Optional</th> <th>Description</th> </tr>
    </thead>
    <tbody>
      <tr> <td>date</td> <td>Current Date</td> <td>Optional</td> <td>startig date. e.g. '2020-09-14'</td> </tr>
      <tr> <td>first-day-of-week</td> <td>0</td> <td>Optional</td> <td>The start day of week</td> </tr>
      <tr> <td>locale</td> <td>en-US</td> <td>Optional</td> <td>language/country</td> </tr>
      <tr> <td>multiple</td> <td>N/A</td> <td>Optional</td> <td>If provided, It allows to select multiple dates</td> </tr>
      <tr> 
        <td>month-format</td> <td>long</td> <td>Optional</td> 
        <td>
          format of month, default is 'long'". e.g., 
          "numeric" (e.g., 1)
          "2-digit" (e.g., 01)
          "long" (e.g., January)
          "short" (e.g., Jan)
          "narrow" (e.g., J)
        </td> 
      </tr>
      <tr> 
        <td>week-format</td> <td>short</td> <td>Optional</td> 
        <td> format of week, default is 'short'". "long"(Monday), "short"(Mon), "narrow"(M)</td> 
      </tr>
    </tbody>
  </table>
</div>