<app-custom-css>
  .app x-calendar .calendar {
    width: 320px;
    background: #eee;
  }
  .app x-calendar .calendar .x-weekday {
    font-weight: bold;
    background: #FFF;
  }
  .app x-calendar .x-date {
    background: blue;
    color: #FFF;
  }
</app-custom-css>

<div class="example">
  <h3> Calendar in a block</h3>
  <script>function setCal1(locale) {
    document.querySelector('#calendar1').setAttribute('locale',locale);
  }</script>
  <label onclick="setCal1('en-US')">
    <x-radio><input type="radio" name="r1"> English</x-radio>
  </label>
  <label onclick="setCal1('ko-KR')">
    <x-radio><input type="radio" name="r1"> Korean</x-radio>
  </label>
  <label onclick="setCal1('zh-CN-u-nu-hanidec')">
    <x-radio><input type="radio" name="r1"> Chinese</x-radio>
  </label>
  <label onclick="setCal1('ar-EG')">
    <x-radio><input type="radio" name="r1">Arabic/Egypt</x-radio>
  </label>
  <label onclick="setCal1('fa-AF)">
    <x-radio><input type="radio" name="r1">Dari/Afghanistan</x-radio>
  </label>
  <label onclick="setCal1('th-TH-n-nu-thai-ca-chinese')">
    <x-radio><input type="radio" name="r1">Thai</x-radio>
  </label>
  <x-calendar id="calendar1" locale="ko-KR"></x-calendar>
  Selected: <span id="date1"></span>
  <app-pre>
    &lt;<b>x-calendar id="<b>calendar1</b>"</b>>&lt;/<b>x-calendar</b>>
    Selected: &lt;span id="<b>date1</b>">&lt;/span>
    &lt;script>
      document.querySelector('<b>#calendar1</b>').addEventListener('<b>x-calendar-selected</b>', event => {
        document.querySelector('<b>#date1</b>').innerText = <b>event.detail</b>;
      });
    &lt;/script>
  </app-pre>

  <h3> Open calendar with button</h3>
  <button id="show-calendar">Show Calendar</button>
  <x-overlay id="calendar2" trigger="show-calendar" style="width: 280px">
    <x-calendar></x-calendar>
  </x-overlay>
  Selected: <span id="date2"></span>
  <app-pre>
    &lt;button id="show-calendar">Show Calendar&lt;/button>
    &lt;x-overlay id="<b>calendar2</b>" trigger="show-calendar" style="width: 280px">
      &lt;<b>x-calendar</b>>&lt;/<b>x-calendar</b>>
    &lt;/x-overlay>
    Selected: &lt;span id="<b>date2</b>">&lt;/span>
    &lt;script>
      document.querySelector('<b>#calendar2</b>').addEventListener('<b>x-calendar-selected</b>', event => {
        document.querySelector('<b>#date2</b>').innerText = <b>event.detail</b>;
        document.querySelector('<b>#calendar2</b>').close(); // close overlay when selected
      });
    &lt;/script>
  </app-pre>
</div>

<h2>Attributes</h2>
<li><b>locale</b>: default 'en-US'</li>
<li><b>date</b>: startig date. e.g. '2020-09-14'</li>
<li><b>week-format</b>: Default 'short', 'long', 'short', or 'narrow'</li>
<li><b>min-date</b>: lowest calendar date selectable. default. '1969-01-01'</li>
<li><b>max-date</b>: lowest calendar date selectable. default. '2100-12-31'</li>
<li><b>first-day-of-week</b>: Default 0, which is Sunday</li>

<h2>Events</h2>
<li><b>x-calendar-selected</b>: fired when date is selected with value in Date type</li>

<script>
  document.querySelector('#calendar1').addEventListener('x-calendar-selected', event => {
    document.querySelector('#date1').innerText = event.detail;
  });
  document.querySelector('#calendar2').addEventListener('x-calendar-selected', event => {
    document.querySelector('#date2').innerText = event.detail;
    document.querySelector('#calendar2').close();
  });
</script>