<app-group-header title="Clipboard" path="/clipboard"></app-group-header>

<h3>Feature</h3>
<ul class="default">
  <li>Copy text to clipboard when clicked</li> 
</ul>

<h3>Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-clipboard?file=index.html">Try with static html</a>
</h3> 
<div class="example">
  <x-clipboard label="Click to copy">This text will be copied</x-clipboard>
  <x-pre>
    &lt;x-clipboard label="Click to copy">This text will be copied&lt;/x-clipboard>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>label</td><td>String</td><td>Copy this</td><td>Optional</td><td>Toolip text</td></tr>
      </tbody>
    </table>
  </x-table>
</div>
