<app-group-header title="Clock" path="/clock"></app-group-header>

<app-custom-css>
  .app x-clock { width: 200px; height: 200px; }
  .app x-clock .x-clock-circle { fill: green; stroke: blue; }
  .app x-clock .x-clock-1-minute { stroke: white; }
  .app x-clock .x-clock-5-minute { stroke: gold; } 
  .app x-clock .x-clock-hour-hand { 
    stroke: yellow; 
    filter: drop-shadow(4px 4px 8px yellow);
  }
  .app x-clock .x-clock-minute-hand { stroke: orange; } 
  .app x-clock .x-clock-numbers text { fill: yellow; } 
  .app x-clock .x-clock-digital text { fill: white; } 
</app-custom-css>

<h3>Features </h3>
<ul class="default">
  <li>Shows an analog clock with given hour and minute.</li>
  <li>With run="true", clock runs by itself</li>
  <li>Updatable hour and minute by dragging hour hand or minute hand.</li>
  <li>Fires `x-select` when time changes.</li>
</ul>

<div class="example">
  <p>
    To update time, press tab to select hour hand or minute hand,
    Then, press arrow keys; up/down/left/right to update time.
    Or, simply, drag hour hand or minute hand to adjust time.
  </p>
</div>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-clock?file=index.html">Try it</a>
</h3> 

<div class="example">
  <x-clock run="true"></x-clock>
  <x-pre> &lt;x-clock run="true">&lt;/x-clock> </x-pre>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>hour</td><td>Number</td><td>Current Hour</td><td>Optional</td><td>0 to 24</td></tr>
        <tr><td>minute</td><td>Number</td><td>Current Minute</td><td>Optional</td><td>0 to 59</td></tr>
        <tr><td>run</td><td>Boolean</td><td>false</td><td>Optional</td><td>If true, a second hands shows and runs clock</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="events" title="Events">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>x-select</td><td>CustomEvent</td><td>Time</td><td>Selected Time</td></tr>
      </tbody>
    </table>
  </x-table>
</div>