
<div class="example">

  <x-currency value="1234567.890"></x-currency>
  <pre>
    &lt;x-currency style="currency" currency="USD" value="1234567.890"">&lt;/x-currency>
  </pre>
  
  <x-currency locale="fr-CA" currency="CAD" value="1234567.890"></x-currency>
  <pre>
    &lt;x-currency  locale="fr-CA" style="currency" currency="CAD" value="1234567.890">&lt;/x-currency>
  </pre>
  
  <x-currency locale="kr" value="1234567.890" currency="KRW"></x-currency>
  <pre>
    &lt;x-currency locale="kr" style="currency" value="1234567.890" currency="KRW">&lt;/x-currency>
  </pre>
  
  <x-currency locale="de" currency="EUR"  value="1234567.890"></x-currency>
  <pre>
    &lt;x-currency locale="de" style="currency" currency="USD"  value="1234567.890">&lt;/x-currency>
  </pre>
  
  <x-currency locale="ja-JP" value="1234567.890" currency="JPY"></x-currency>
  <pre>
    &lt;x-currency locale="ja-JP" style="currency" value="1234567.890" currency="JPY">&lt;/x-currency>
  </pre>
  
  <x-number locale="en-IN" maximum-significant-digits="3" value="1234567.890"></x-number>
  <pre>
    &lt;x-number locale="en-IN" maximum-significant-digits="3" value="1234567.890">&lt;/x-number>
  </pre>
  
  
  <x-number locale="en-IN" maximum-significant-digits="3" value="1234567.890"></x-number>
  <pre>
    &lt;x-number locale="en-IN" maximum-significant-digits="3" value="1234567.890">&lt;/x-number>
  </pre>
  
  <x-number locale="pt-PT" style="unit" value="1234567.890" unit="mile-per-hour"></x-number>
  <pre>
    &lt;x-number locale="pt-PT" style="unit" value="1234567.890" unit="mile-per-hour">&lt;/x-number>
  </pre>
  
  <x-number locale="en-GB" style="unit" value="1234567.890" unit="liter" unit-display="long"></x-number>
  <pre>
    &lt;x-number locale="en-GB" style="unit" value="1234567.890" unit="liter" unit-display="long">&lt;/x-number>
  </pre>
  
  <x-number locale="ar-EG" value="1234567.890"></x-number>
  <pre>
    &lt;x-number locale="ar-EG" value="1234567.890">&lt;/x-number>
  </pre>
  
  <x-number locale="zh-Hans-CN-u-nu-hanidec" value="1234567.890"></x-number>
  <pre>
    &lt;x-number locale="zh-Hans-CN-u-nu-hanidec" value="1234567.890">&lt;/x-number>
  </pre>
  
</div>

<h3>Features </h3>
<li> Convert number to currency or any number format using Intl.NumberFormat  </li>

<h3>Attributes</h3>
Reference: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat
<li>locale: Default en-US </li>
<li>style: Default currency</li>
<li>currency: Default USD </li>
<li>unit: The unit to use in unit formatting </li>
<li>unit-display: The unit formatting style to use in unit formatting </li>
<li>use-grouping: Whether to use grouping separators </li>
<li>notation: The formatting that should be displayed for the number </li>
<li>compact-display: Only used when notation is "compact". Takes either "short" (default) or "long". </li>
<li>currency-display: How to display the currency in currency formatting </li>
<li>currency-sign: accounting or standard</li>
<li>numbering-system: numbring system, e.g. arab</li>
<li>sign-display: When to display the sign for the number </li>
<li>minimum-integer-digits: The minimum number of integer digits to use.</li>
<li>minimum-fraction-digits: The minimum number of fraction digits to use.</li>
<li>minimum-fraction-digits: The maximum number of fraction digits to use</li>
<li>minimum-significant-digits: The minimum number of significant digits to use</li>
<li>maximum-significant-digits: The maximum number of significant digits to use. </li>
