<app-group-header title="Syntax Highlighter" path="/highlightjs"></app-group-header>

<h3>Feature</h3>
<ul class="default">
  <li>Convert a section to a syntax highlighted view, https://highlightjs.org/</li> 
  <li>Customizable theme</li> 
  <li>Prettify code with 'prettier' option</li> 
  <li>Fires 'load' event</li> 
</ul>

<h3>Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-highlightjs?file=index.html">Try with static html</a>
</h3> 
<p>
  When you use a framework like Angular and see no line breaks, 
  please wrap innerHTML with &lt;pre> because some framework 
  does not keep the text format with its own compiler.
</p>
 
<div class="example">
  <x-highlightjs theme="monokai">
    addEventListener('load', () => {
      const code = document.querySelector('#code');
      const worker = new Worker('worker.js');
      worker.onmessage = (event) => { code.innerHTML = event.data; };
      worker.postMessage(code.textContent);
    });
  </x-highlightjs>

  <h4>HTML</h4>
  <x-highlightjs language="html">
    &lt;x-highlightjs theme="monokai">
      addEventListener('load', () => {
        const code = document.querySelector('#code');
        const worker = new Worker('worker.js');
        worker.onmessage = (event) => { code.innerHTML = event.data; };
        worker.postMessage(code.textContent);
      });
    &lt;/x-highlightjs>
  </x-highlightjs>
</div>

<div class="properties" title="Properties">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>value</td><td>String</td><td>N/A</td><td>Text contents to syntax-highlight</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr>
          <td>theme</td><td>String</td><td>monokai</td><td>Optional</td>
          <td>Viewer theme, https://highlightjs.org/static/demo/</td>
        </tr>
        <tr>
          <td>language</td><td>String</td><td>javascript</td><td>Optional</td>
          <td>
            Formatting language; 'css', 'html', 'babel', 'angular', 'markdown',
            'typescript', 'yaml', or 'javascript'
          </td>
        </tr>
        <tr>
          <td>prettier</td><td>N/A</td><td>N/A</td><td>Optional</td>
          <td>If given, it prettify code with Prettier, https://prettier.io/docs/en/index.html</td>
        </tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="events" title="Events">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>load</td><td>CustomEvent</td><td>Highlighted HTML element</td><td>Fired when starts</td></tr>
      </tbody>
    </table>
  </x-table>
</div>
