<app-group-header title="Include" path="/include"></app-group-header>

<h3>Feature</h3>
<ul class="default">
  <li>Complete the section by making a remote HTTP call for html</li> 
</ul>

<h3>Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-include">Try it</a>
</h3> 
<div class="example">
  The following grey area is from page, /components/include/demo.html
  <div style="background: #DDD; border: 1px dashed red;">
    <x-include src="components/include-demo.html"></x-include>
  </div>
</div>
<x-pre>
  &lt;x-include src="components/include/demo.html">&lt;/x-include>
</x-pre>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>src</td><td>URL</td><td>N/A</td><td>Required</td><td>URL to make HTTP call,e.g. /compoents/cliboard/index.html </td></tr>
      </tbody>
    </table>
  </x-table>
</div>
