<app-custom-css>
  .app x-list,
  .app x-list ul {
    display: block;
    padding: 16px;
    background: blue;
    color: #FFF;
  }
  .app x-list [aria-selected] {
    background: blue;
    color: #FFF; 
  }
  .app x-list li {
    font-weight: bold;
  }
  .app x-list li.x-has-list[aria-expanded],
  .app x-list li.x-has-list[aria-expanded] > ul,
  .app x-list .dropdown-menu li > ul {
    background: orange;
  }
  .app x-list .x-highlighted {
    background: green;
  }
</app-custom-css>

<div class="example">

  <h2>With UL/LI</h2>
  <p>
    The below is multi-leveled list. Click the list, 
    and usinghkeyboard to open, close, or navigate ist items.
  </p>
  <x-list selected="file-b">
    <ul class="x-expanded" >
      <li> File
        <ul>
          <li>New</li>
          <li>Open
            <ul>
              <li>File A</li>
              <li id="file-b">File B</li>
              <li>File C</li>
            </ul>
          </li>
        </ul>
      </li>
      <li> Edit
        <ul>
          <li>Undo</li>
          <li id="redo">Redo</li>
          <li disabled>Cut</li>
          <li disabled>Copy</li>
          <li disabled>Paste</li>
        </ul>
      </li>
      <li> Format
        <ul>
          <li>Font</li>
          <li>Text</li>
        </ul>
      </li>
      <li> View
        <ul>
          <li>100%</li>
          <li>Zoom In</li>
          <li>Zoom Out</li>
        </ul>
      </li>
      <li id="help">Help</li>
    </ul>
  </x-list>

  <app-pre>
    &lt;x-list selected="file-b">
      &lt;ul class="x-expanded" >
        &lt;li> File
          &lt;ul>
            &lt;li>New&lt;/li>
            &lt;li>Open
              &lt;ul>
                &lt;li>File A&lt;/li>
                &lt;li id="file-b">File B&lt;/li>
                &lt;li>File C&lt;/li>
              &lt;/ul>
            &lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Edit
          &lt;ul>
            &lt;li>Undo&lt;/li>
            &lt;li id="redo">Redo&lt;/li>
            &lt;li disabled>Cut&lt;/li>
            &lt;li disabled>Copy&lt;/li>
            &lt;li disabled>Paste&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Format
          &lt;ul>
            &lt;li>Font&lt;/li>
            &lt;li>Text&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> View
          &lt;ul>
            &lt;li>100%&lt;/li>
            &lt;li>Zoom In&lt;/li>
            &lt;li>Zoom Out&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li id="help">Help</li>
      &lt;/ul>
    &lt;/x-list>>
  </app-pre>

  <h2>With DIV</h2>
  <x-list select-first>
    <div>File</div>
    <div>Edit</div>
    <div>Format</div>
    <div>View</div>
    <div>Help</div>
  </x-list>

  <app-pre>
    &lt;x-list select-first>
      &lt;div>File&lt;/div>
      &lt;div>Edit&lt;/div>
      &lt;div>Format&lt;/div>
      &lt;div>View&lt;/div>
      &lt;div>Help&lt;/div>
    &lt;/x-list>
  </app-pre>

</div>

<h3>Features </h3>
<li>Convert ul/li list to hierarchy collapsable list</li> 
<li>Provide navigation using keyboard</li>
<li>Fire 'x-list-selct` evnet when item is clickd or enter pressed</li>
<li>Select first item in default</li>
<li>When menu-style given as attribute, it responds to mouse hover</li>
<li>Accessibility full-feagtured</li>
<li>Highlight selected item</li>

<h3>Attributes</h3>
<li><b>menu-style</b>: When given, the list works like menu by responding to mouseenter/mouseleave</li>
<li><b>select-first</b>: Default true, select the first item when initialized</li>
<li><b>selected</b>:  the id of preselected menu item, default null</li>

<h3>Events</h3> 
<li><b>x-list-select</b>: Fired when menu item is selected by click or enter pressed</li>
