<style>
  x-openlayers { height: 300px;}
</style>

<ul class="default">
  <li> Show a necessary map with simple HTML. </li> 
  <li> Show a marker with popup. </li>
  <li> It does not require a access token. </li>
</ul>

<h3>Default
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-openlayers?file=index.html"> static html</a>
  <a class="try-it" target="_" href="https://codesandbox.io/s/ng-elements-x-custom-bd5c7?file=/src/app/components/openlayers.component.ts&initialpath=/openlayers"> Angular</a>
</h3> 
<div class="example">
  <x-openlayers center="Hangang Bridge"></x-openlayers>
  <x-pre>
    &lt;x-openlayers center="Hangang Bridge">&lt;/x-openlayers>
  </x-pre>
</div>

<h3>With A Marker</h3>
<div class="example">
  <x-openlayers zoom="15" satellite>
    <x-ol-marker position="Hangang Bridge" center src="/assets/pinegg.png">
      <b>HanGang Bridge</b><p>View is nice here</p>
    </x-ol-marker>
  </x-openlayers>
  <x-pre>
    &lt;x-openlayers zoom="15" satellite>
      &lt;x-ol-marker position="Hangang Bridge" center src="/assets/pinegg.png">
        &lt;b>HanGang Bridge&lt;/b>&lt;p>View is nice here&lt;/p>
      &lt;/x-ol-marker>
    &lt;/x-openlayers>
  </x-pre>
</div>

<h3>x-openlayers</h3>
<div class="attributes" title="Attributes">
  <h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>zoom</td><td>Default 15, Zoom level of the map</td></tr>
      <tr><td>center</td>
        <td>Default 0, 0, Center Lng/Lat of the map, or an adderss. e.g. Incheon International Airport</td>
      </tr>
      <tr><td>satellite</td>
        <td>If given, satellite layer will be visible when initialized</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>x-ol-marker</h3>
<div class="attributes" title="Attributes">
  <h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>position</td>
        <td>Center Lng/Lat of the map, or an adderss. e.g. Incheon International Airport</td>
      </tr>
      <tr><td>center</td>
        <td>If given, this marker will be center of the map</td>
      </tr>
    </tbody>
  </table>
</div>