<h2>Overlay</h2>

<h3>Features</h3>

<ul>
  <li>Close overlay when document clicked.</li>
  <li>Close overlay when ESC pressed</li>
  <li>Position overlay underneath of an element</li>
  <li>Trap focus inside overlay element</li>
  <li>Focus back to previous element when closed</li>
</ul>

<div class="example">
  <p>
    Show an overlay under an element with <code>elementsX.showOverlay(overlayEl, positionEl)</code>
  </p>
  <div style="position: relative">
    <button x="" onclick="elementsX.showOverlay($('#my-overlay'), this)">Show Overlay</button>
    <div id="my-overlay" style="display: none">
      This is overlay element. The following is to check if trap focus works within this block.
      <p>
        <button x="">Button</button>
        <a href="#">Anchor</a>
        <textarea aria-label="textarea">textarea</textarea>
      </p>
      <p>
        <s-input placeholder="Input"></s-input>
        <s-input type="checkbox"></s-input> checkbox
        <s-input type="radio"></s-input> radio
      </p>
      <p>
        <s-select> 
          <option>Select</option>
        </s-select>
      </p>
      <div tabindex="0">Div w/ tabindex</div>
    </div>
  </div>

  <h3>Arguments</h3>
  <div class="classes" title="Classes">
    <table x="">
      <thead><tr><th>Name</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>overlayEl</td><td> Required, Overlay element to display under position element</td></tr>
        <tr><td>positionEl</td><td> Required, An element to display overlay element underneath</td></tr>
      </tbody>
    </table>
  </div>

</div>