<app-group-header title="Overlay" path="/overlay"></app-group-header>

<app-custom-css>
.app x-overlay .x-overlay {
  background: blue;
  color: #FFF;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 4px 4px 8px #333;
}
</app-custom-css>

<h2>Features</h2>
<ul class="default">
  <li> Open overlay when trigger element focused or clicked.</li>
  <li> Close overlay when document clicked.</li>
  <li> When esc pressed close overlay.</li>
  <li> When open, trap focus within it.</li>
  <li> Position overlay underneath or over the trigger element.</li>
  <li> When closed, focus back to trigger element.</li>
  <li> Customizable trigger actions.</li>
  <li> Customizable close actions.</li>
  <li> Customizable arrow display.</li>
</ul>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-overlay?file=index.html">Try with static html</a>
</h3> 

<div class="example">
  <x-button>Show Overlay</x-button>
  <x-overlay opened>
    <div style="padding: 24px;">
      <button>Hello</button>
      <button>Overlay</button>
    </div>
  </x-overlay>
  <x-pre>
    &lt;button>Show Overlay&lt;/button>
    <b>&lt;x-overlay></b>
      &lt;div style="padding: 24px;">
        &lt;button>Hello&lt;/button>
        &lt;button>Overlay&lt;/button>
      &lt;/div>
    <b>&lt;/x-overlay></b>
  </x-pre>
</div>

<div class="example">
  <x-input id="my-input" type="text" autocomplete="off"></x-input>
  <x-overlay trigger="my-input">
    <div style="padding: 24px;">
      Hello My Overlay
    </div>
  </x-overlay>
  <x-pre>
    &lt;x-input id="my-input" type="text" autocomplete="off">&lt;/x-input>
    &lt;x-overlay trigger="my-input">
      &lt;div style="padding: 24px;">
        Hello My Overlay
      &lt;/div>
    &lt;/x-overlay>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>trigger</td><td>String</td><td>N/A</td><td>Optional</td><td>id of element to activate this overlay</td></tr>
        <tr><td>opened</td><td>N/A</td><td>N/A</td><td>Optional</td><td>when defined, it opens when initialized</td></tr>
        <tr><td>show-arrow</td><td>Boolean</td><td>true</td><td>Optional</td><td>DescriDefault false, for tooltip, show arrowption</td></tr>
        <tr><td>trigger-actions</td><td>String</td><td>click</td><td>Optional</td><td>actions to open overlay</td></tr>
        <tr><td>close-actions</td><td>String</td><td>blur</td><td>Optional</td><td>actions to close overlay</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="events" title="Events">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Data</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>x-overlay-open</td><td>CustomElement</td><td>N/A</td><td>Fired when overlay opened with reason</td></tr>
        <tr><td>x-overlay-close</td><td>CustomElement</td><td>N/A</td><td>Fired when overlay closed with reason</td></tr>
      </tbody>
    </table>
  </x-table>
</div>
