<h2>Pagination</h2>
<p>
  It enables the user to select a specific page from a range of 
  pages that are composed by total records, number of records per page, and the current row number.
</p>

<p>
  It fires 'select' event when a page is selected, so that a page-related setion. e.g., list, can react to it.
</p>

<h3>Default</h3>
<div class="example default">
  <x-pagination onselect="console.log(event.detail)"></x-pagination>
  <x-pre language="html">
    &lt;x-pagination onselect="console.log(event.detail)">&lt;/x-pagination>
  </x-pre>
</div>

<h3>Responsive To Attribute Change</h3>
<p>
  It reacts to attribute value changes
</p>

<div class="example responsive">
  <x-pagination id="pg1" index="0" total="9999" num-per-page="10" num-pages="5"></x-pagination>
  <div class="x-flex">
    <div style="padding: 12px">
      <div>Select Index</div>
      <x-select id="pg1-index" value="0" size="7.5" read-only>
        <option>0</option> <option>1000</option> <option>5000</option>
      </x-select>
    </div>
    <div style="padding: 12px">
      <div>Select Number Per Page.</div>
      <x-select id="pg1-num-per-page" value="10" size="10" read-only>
        <option>10</option> <option>100</option> <option>1000</option>
      </x-select>
    </div>
    <div style="padding: 12px">
      <div>Select Number of Pages To Show.</div>
      <x-select id="pg1-num-pages" value="5" read-only>
        <option>3</option> <option>5</option> <option>9</option>
      </x-select>
    </div>
  </div>

  <script>
    $('#pg1-index').addEventListener('change', e => $('#pg1').setAttribute('index', e.target.value));
    $('#pg1-num-per-page').addEventListener('change', e => $('#pg1').setAttribute('num-per-page', e.target.value));
    $('#pg1-num-pages').addEventListener('change', e => $('#pg1').setAttribute('num-pages', e.target.value));
  </script>
</div>
<x-highlightjs language="html">
  &lt;x-pagination id="pg1" index="0" total="9999" num-per-page="10" num-pages="5">&lt;/x-pagination>
  &lt;div class="x-flex">
    &lt;div style="padding: 12px">
      &lt;div>Select Index&lt;/div>
      &lt;x-select id="pg1-index" value="0" size="7.5" read-only>
        &lt;option>0&lt;/option> &lt;option>1000&lt;/option> &lt;option>5000&lt;/option>
      &lt;/x-select>
    &lt;/div>
    &lt;div style="padding: 12px">
      &lt;div>Select Number Per Page.&lt;/div>
      &lt;x-select id="pg1-num-per-page" value="10" size="10" read-only>
        &lt;option>10&lt;/option> &lt;option>100&lt;/option> &lt;option>1000&lt;/option>
      &lt;/x-select>
    &lt;/div>
    &lt;div style="padding: 12px">
      &lt;div>Select Number of Pages To Show.&lt;/div>
      &lt;x-select id="pg1-num-pages" value="5" read-only>
        &lt;option>3&lt;/option> &lt;option>5&lt;/option> &lt;option>9&lt;/option>
      &lt;/x-select>
    &lt;/div>
  &lt;/div>

  &lt;script>
    $('#pg1-index').addEventListener('change', e => $('#pg1').setAttribute('index', e.target.value));
    $('#pg1-num-per-page').addEventListener('change', e => $('#pg1').setAttribute('num-per-page', e.target.value));
    $('#pg1-num-pages').addEventListener('change', e => $('#pg1').setAttribute('num-pages', e.target.value));
  &lt;/script>
</x-highlightjs>


<h3>Attributes</h3>
<table x="">
  <thead>
    <tr>
      <th>Name</th>  <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>index</td>
      <td>Defalt 0, Current index of records. Used to determine the current page.</td>
    </tr>
    <tr>
      <td>num-per-page</td> 
      <td>Default 10, number of records per page</td>
    </tr>
    <tr>
      <td>num-pages</td>
      <td>Default 5, number of page buttons to display</td>
    </tr>
    <tr>
      <td>total</td> 
      <td>Default 100, number of total records</td>
    </tr>
  </tbody>
</table>

<h3>Events</h3>
<table x="">
  <thead>
    <tr>
      <th>Name</th> <th>Type</th> <th>Data</th> <th>Description</th> </tr>
  </thead>
  <tbody>
    <tr>
      <td>select</td> <td>Custom Event</td> <td>index, total, and numPerPage</td> 
      <td>Fired when a page is selected</td> 
    </tr>
  </tbody>
</table>