
<h3>Feature</h3>
<ul class="default">
  <li>QR code generator</li> 
</ul>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/elements-x-qrcode?file=index.html"> static html</a>
  <a class="try-it" target="_" href="https://codesandbox.io/s/ng-elements-x-custom-bd5c7?file=/src/app/components/qrcode.component.ts&initialpath=/qrcode"> Angular</a>
</h3>

<div class="example">
  <x-qrcode value="https://www.google.com"></x-qrcode>
  <x-pre>
    &lt;x-qrcode  value="https://www.google.com">&lt;/x-qrode>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>value</td><td>String</td><td>N/A</td><td>Required</td><td>QR code value</td></tr>
    </tbody>
  </table>
</div>