<h2>Select</h2>

<x-pre>
  &lt;x-select read-only placeholder="Choose one value" value="Hello World">
    &lt;option value="">Choose One&lt;/option>
    &lt;option>Hello&lt;/option>
    &lt;option>Hello World&lt;/option>
    &lt;option>Foo&lt;/option>
    &lt;option disabled>4&lt;/option>
    &lt;option>Foo Bar&lt;/option>
  &lt;/x-select>
</x-pre>

<div class="example basic">
  <x-select placeholder="Basic Dropdown">
    <option value="">Choose One</option>
    <option>Basic</option>
    <option>Select</option>
    <option>Dropdown</option>
    <option disabled>Disabled</option>
    <option>Test</option>
  </x-select>
</div>

<br/>
<div class="example read-only">
  <x-select placeholder="Read-Only Dropdown" read-only>
    <option value="">Choose One</option>
    <option>Read-Only</option>
    <option>No Type Allowed</option>
    <option>However</option>
    <option disabled>Disabled</option>
    <option>Keyboard Up/Down Still Working</option>
  </x-select>
</div>

<br/>
<div class="example long">
  <x-select read-only placeholder="Long List of Options">
    <option>Long 1</option>
    <option>Long 2</option>
    <option>Long 3</option>
    <option>Long 4</option>
    <option>Long 5</option>
    <option>Long 6</option>
    <option>Long 7</option>
    <option>Long 8</option>
    <option>Long 9</option>
    <option>Long 10</option>
    <option>Long 11</option>
    <option>Long 12</option>
    <option>Long 13</option>
    <option>Long 14</option>
  </x-select>
</div>

<br/>
<div class="example disabled">
  <x-select value="Disabled" disabled>
    <option value="">Choose One</option>
    <option>Hello</option>
    <option>Hello World</option>
    <option>Foo</option>
    <option disabled>Disabled</option>
    <option>Foo Bar</option>
  </x-select>
</div>

<h3>Functionality Checklist</h3>
<ul>
  <li> When attribute 'value' is given, it shows the value</li>
  <li> When attribute 'disabled' is given, it's not focusable </li>
  <li> When attribute 'placeholder' is given, it shows the given placeholder </li>
  <li> When element is focused, dropdown is visible </li>
  <li> When element is NOT focused, dropdown is not visible </li>
  <li> When focused and keyboard downarrow pressed, highlight next dropdown option </li>
  <li> When focused and keyboard uparrow pressed, highlight prev dropdown option </li>
  <li> When focused and ESC Key pressed, dropdown is not visible </li>
  <li> When focused and keyboard Enter pressed, dropdown not visible, and it selects the highlighted value </li>
  <li> When focused and any character key is pressed, highlight an element that contains that character </li>
  <li> When focused and element is clicked, it selects the clicked item </li>
  <li> When focused and dissbled element is clicked, it does not select the clicked item </li>
  <li> When value attribute changes, it reflects the value </li>
  <li> When disabled attribute changes, it reflects the value </li>
  <li> When focused again, the previously selected value must be highlighted </li>
  <li> When dropdown list is too big to show in 200px dropdown height, when arrow up/down key is pressed, it shows the highlighted list in dropdown by auto scrolling into it.  </li>
  <li> When positioned at the bottom, show the dropdown on the top of input </li>
</ul>

<div class="example">
  <x-select placeholder="Bottom Position Test">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div disabled>4</div>
    <div>5</div>
  </x-select>
</div>

<h3>Attributes</h3>
  <table x="">
    <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
    <tbody>
      <tr><td>read-only</td><td>N/A</td><td>N/A</td><td>Optional</td><td>If given, input value is not modifiable</td></tr>
      <tr><td>placeholder</td><td>String</td><td>N/A</td><td>Optional</td><td>Input placeholder text</td></tr>
      <tr><td>value</td><td>String</td><td>N/A</td><td>Optional</td><td>Indicates pre-selected option value</td></tr>
      <tr><td>size</td><td>Number</td><td>N/A</td><td>Optional</td><td>Size(em) of the input field</td></tr>
    </tbody>
  </table>

<h3>Events</h3>
  <table x="">
    <thead>
      <tr>
        <th>Name</th> <th>Type</th> <th>Data</th> <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>change</td> <td>Event</td> <td></td> <td>Fired when an option is selected</td>
      </tr>
    </tbody>
  </table>
