<app-group-header title="Tabs" path="/tabs"></app-group-header>

<app-custom-css>
  .tabs-example x-tabs .tabs {
    border-bottom: 2px solid #999;
  }
  
  .tabs-example x-tabs .tabs [tab-for] {
    align-items: center;
    min-width: 120px;
    background: #666;
    color: #FFF;
  }
  
  .tabs-example x-tabs .tabs [tab-for][aria-selected] {
    background: orange;
    color: #FFF;
    border-bottoM: 2px solid #FFF;
  }
  
  .tabs-example x-tabs .tabs  .underline-bar {
    display: none;
  }
</app-custom-css>

<h3>Features</h3>
<ul class="default">
  <li>Provides organized look-and-feel for tabs section and tab contents section.</li>
  <li>The tab contents section change its contents by responding to selected tab.</li>
  <li>With 'selected' attribute, a tab section is shown when initialized.</li>
  <li>With 'disabled' attribute, it's unabled to see tab contents.</li>
  <li>With 'ink-bar' class, it provides enhanced highlighting on aselected tab.</li>
  <li>
    Customizable tab index section and contents section
    <p>Try different styling by clicking "Overvide Default Style".</p>
  </li>

</ul>

<div class="tabs-example">
  <h3>
    Example
    <a class="try-it" target="_" href="//stackblitz.com/edit/elements-x-tabs">Try with static html</a>
  </h3> 
  <x-tabs selected="js">
    <div class="tabs">
      <div tab-for="html">HTML</div>
      <div tab-for="na" disabled="disabled">Disabled</div>
      <div tab-for="js">Javascript</div>
      <div class="ink-bar"></div>
    </div>
    <div class="tab-contents">
      <div contents-for="html">Html Contents</div>
      <div contents-for="js">Javascript Contents</div>
      <div contents-for="na">Disabled Contents</div>
    </div>
  </x-tabs>

  <p></p>
  <x-pre>
    &lt;x-tabs selected="js">
      &lt;div class="tabs">
        &lt;div tab-for="html">HTML&lt;/div>
        &lt;div tab-for="na" disabled="disabled">Disabled&lt;/div>
        &lt;div tab-for="js">Javascript&lt;/div>
        &lt;div class="ink-bar">&lt;/div>
      &lt;/div>
      &lt;div class="tab-contents">
        &lt;div contents-for="html">Html Contents&lt;/div>
        &lt;div contents-for="js">Javascript Contents&lt;/div>
        &lt;div contents-for="na">Disabled Contents&lt;/div>
      &lt;/div>
    &lt;/x-tabs>
  </x-pre>

  <h2>Attributes</h2>
  <li><b>selected</b>: First selected tab</li>
   
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>selected</td><td>String</td><td>N/A</td><td>Optional</td><td>A tab specified by this is pre-selected</td></tr>
        <tr><td>disabled</td><td>N/A</td><td>N/A</td><td>Optional</td><td>When it's given, the tab won't be selectable</td></tr>
        <tr><td>tab-for</td><td>String</td><td>N/A</td><td>Required</td><td>Indicates tab section</td></tr>
        <tr><td>contents-for</td><td>String</td><td>N/A</td><td>Required</td><td>Indicates contents section</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="classes" title="Classes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>tabs</td><td> Indicates tab section</td></tr>
        <tr><td>tab-contents</td><td> Indicates contants- section</td></tr>
        <tr><td>ink-bar</td><td> Tab underline indicator. </td></tr>
      </tbody>
    </table>
  </x-table>
</div>