<h2>Tooltip</h2>

<div class="example">

  <p>
    Shows a help section on mouseover or focus.
  </p>

  <span data-tooltip="This is a tooltip">
    Help
  </span>

  <x-pre>
    &lt;span data-tooltip="This is a tooltip">
      Help
    &lt;/span>
  </x-pre>

  <h3>Attributes</h3>
  <div class="attributes" title="Attributes">
    <table x="">
      <thead><tr><th>Name</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>data-tooltip</td><td> Tooltip text</td></tr>
      </tbody>
    </table>
  </div>

</div>