<app-custom-css>
  .app x-tooltip .x-overlay {
    background: blue;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 24px;
  }
  .app x-tooltip .x-arrow.up .x-icon::after {
    border-bottom: 11px solid blue;
  }
  .app x-tooltip .x-arrow.down .x-icon::after {
    border-top: 11px solid blue;
  }
</app-custom-css>

<h2>Feature</h2>
<ul class="default">
  <li> open tooltip when trigger element hovered, clicked, or focused </li>
  <li> close tooltip when document clicked, mouseleave, or blur</li>
  <li> when esc pressed, close tooltip</li>
  <li> when open, trap focus within inside tooltip.</li>
  <li> position tooltip underneath or over the trigger element</li>
</ul>

<div class="example">
  <span tabindex="0" id="show-tooltip">Show tooltip</span>
  <x-tooltip trigger="show-tooltip">
    Hello Tooltip
  </x-tooltip>
  <app-pre>
    &lt;span tabindex="0" <b>id="show-tooltip"</b>>Show Tooltip&lt;/span>
    <b>&lt;x-tooltip trigger="show-tooltip"></b>
      Hello Tooltip
    <b>&lt;/x-tooltip></b>
  </app-pre>
</div>

<h2>Attributes</h2>
<li><b>trigger</b>: id of element to activate this tooltip</li>