<app-group-header title="Typing Effect" path="/typing-effect"></app-group-header>

<h3>Feature</h3>
<ul class="default">
  <li>Displays inner text with thyping effect</li> 
</ul>

<h3>Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-typing-effect?file=index.html">Try it</a>
</h3> 
<div class="example">
<x-typing-effect>
Hello?

Hi,

My Name is Allen Kim
</x-typing-effect>
  <x-pre>
    &lt;x-typing-effect>
    Hello?

    Hi,

    My Name is Allen Kim
    &lt;/x-typing-effect>
  </x-pre>
</div>
