
<app-custom-css>
  .app x-clock { width: 200px; height: 200px; }
  .app x-clock .x-clock-circle { fill: green; stroke: blue; }
  .app x-clock .x-clock-1-minute { stroke: white; }
  .app x-clock .x-clock-5-minute { stroke: gold; } 
  .app x-clock .x-clock-hour-hand { 
    stroke: yellow; 
    filter: drop-shadow(4px 4px 8px yellow);
  }
  .app x-clock .x-clock-minute-hand { stroke: orange; } 
  .app x-clock .x-clock-numbers text { fill: yellow; } 
  .app x-clock .x-clock-digital text { fill: white; } 
</app-custom-css>

<h3>Features </h3>
<ul class="default">
  <li>Shows an analog clock with give hour and minute.</li>
  <li>With run="true", clock runs by itself</li>
  <li>Updatable hour and minute by dragging hour hand or minute hand.</li>
  <li>Fires `x-time-selected` when time changes.</li>
  <li>
    Diaplay a clock on a page flow or as a dropdown
    <p>It can be used with a button or input tag</p>
  </li>
</ul>

<div class="example">
  <h3>Usage with input field</h3>
  <p>
    To update time, press tab to select hour hand or minute hand,
    Then, press arrow keys; up/down/left/right to update time.
    Or, simply, drag hour hand or minute hand to adjust time.
  </p>
  
  <input/>
  <x-overlay>
    <x-clock hour="22" minute="10"></x-clock>
  </x-overlay>
  <x-pre>
    &lt;input />
    &lt;x-overlay>
      <b>&lt;x-clock>&lt;/x-clock></b>
    &lt;/x-overlay>
  </x-pre>
</div>

<div class="example">
  <x-clock run="true"></x-clock>
  <x-pre> &lt;x-clock run="true">&lt;/x-clock> </x-pre>
</div>

<h3>Attributes</h3>
<li><b>hour</b>: 0 to 24</li>
<li><b>minute</b>: 0 to 59</li>
<li><b>target</b>: id of element to be updated when a clock is updated.</li>

<h3>Events</h3>
<li><b>x-time-selected</b>: a custom event. selected time is in event.detail</li>
