<app-custom-css>
.app x-dialog .x-blocker {
  background: rgba(0, 0, 0, 0.6);
}
.app x-dialog .x-dialog {
  background-color: blue;
  border-radius: 8px;
  color: #FFF;
  padding: 24px;
}
.app x-dialog .x-dialog .x-close-button {
  background: #FFF;
  border-radius: 50%;
  opacity: 1;
  top: 8px;
}
</app-custom-css>

<h3>기능 </h3>

<li> 배경이 클릭되면 다이얼로그창이 닫힙니다.</li>
<li> ESC키가 눌러지면 다이얼로그창이 닫힙니다.</li>
<li> 다이얼로그 창이 열리면 포커스가 다이럴로그창안에서만 움직입니다. </li>
<li> 다이럴로그 창이 닫히면, 다이얼로그창을 연 엘리먼트로 포커스가 이동합니다.</li>
<li> 다이얼로그 창이 열리거나 닫히면, 이벤트를 발생합니다.</li>

<div class="example">
  <h3> 다이얼로그 창 열기 </h3>
  "openDialog(message, options)"함수를 사용해서 다리얼로그창을 엽니다. 
  <li>message: 댜이얼로그 메세지</li>
  <li>options
    <ul>
      <li>buttons: 다이얼로그 창 아랫쪽에 표시할 버튼들, key는 버튼의 문자덜이고 value는 버튼이 눌러졌을 경우 실행될 함수입니다.
      </li>
      <li>style: 다이얼로그의 맞춤형 스타일. 예 {color: '#333'} </li>
    </ul>
  </li>
  <script>
    function confirm() {
      openDialog('Do you want to continue', {
        buttons: {
          Yes: e => console.log('Yes button clicked', e),
          No: e => console.log('Nos button clicked', e)
        },
        style: {border: '2px solid yellow', minWidth: '200px'}
      });
    }
  </script>
  <x-button onclick="confirm()"> 다이얼로그 창 열기 </x-button>
  <x-pre>
    &lt;script>
      function confirm() {
        openDialog('Do you want to continue', {
          buttons: {
            Yes: e => console.log('Yes button clicked', e),
            No: e => console.log('Nos button clicked', e)
          },
          style: {border: '2px solid yellow', minWidth: '200px'}
        });
      }
    &lt;/script>
    &lt;x-button onclick="confirm()"> 다이얼로그 창 열기 &lt;/x-button>
  </x-pre>
</div>

<div class="example">
  <h3> Basic Dialog </h3>
  <x-button id="button1"> 다이얼로그 창 열기 </x-button>
  <x-dialog trigger="button1">
    <div>This is a dialog.</div>
    <x-button>Button 1</x-button>
    <x-button>Button 2</x-button>
    <x-button>Button 3</x-button>
  </x-dialog>

  <x-pre>
    &lt;button id="button1"> 다이얼로그 창 열기 &lt;/button>
    &lt;x-dialog trigger="button1">
      This is a dialog.
    &lt;/x-dialog>
  </x-pre>
</div>

 
<div class="example">
  <h3> Non-Closable Dialog </h3>
  <x-button id="button2">닫을수 없는 다이얼로그 창 열기</x-button>
  <x-dialog trigger="button2" closable="false">
    이 다이얼로그는 배경회면을 클릭하거나 x 버튼을 눌러 닫을수 없슴니다. <br/>
    <x-button onclick="this.closest('x-dialog').close()">닫기</x-button>
  </x-dialog>
  <x-pre>
    &lt;button id="button2">닫을수 없는 다이얼로그 창 열기&lt;/button>
    &lt;x-dialog trigger="button2" closable="false">
      This is a non-closable dialog. &lt;br/>
      &lt;button onclick="this.closest('x-dialog').close()">닫기&lt;/button>
    &lt;/x-dialog>
  </x-pre>
</div>

<h3>속성</h3>
<li><b>closable</b>:기본값 true, false일 경우 다이얼로그는 close() 함수만을 사용해서 닫을 수 있습니다</li>

<h3>이벤트</h3>
<li><b>x-dialog-close</b>: 다이얼로그를 닫을때 발생하는 이벤트 </li>
<li><b>x-dialog-open</b>:  다이얼로그를 열때 발생하는 이벤트</li>
