<x-tabs>
  <div class="tabs">
    <div tab-for="html">HTML</div>
    <div tab-for="ng">Angular</div>
    <div tab-for="vue">VueJs</div>
    <div tab-for="react">React</div>
  </div>
  <div class="contents">
    <x-pre contents-for="html">
      &lt;html>
        &lt;head>
          &lt;script src="https://unpkg.com/elements-x/dist/currency">&lt;/script>
        &lt;/head>
        &lt;body>
          &lt;x-number value="1234567.89">&lt;/x-number>
        &lt;/body>
      &lt;/html>
    </x-pre>
    <x-pre contents-for="ng">
      import { NgModule, Component, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
      import { BrowserModule } from '@angular/platform-browser';
      <b>import 'elements-x/dist/currency';</b>
      
      @Component({
        selector: 'my-app',
        template: `
          &lt;x-number value="1234567.89">&lt;/x-number>
        `
      })
      class AppComponent  {}
      
      @NgModule({
        imports:      [ BrowserModule ],
        declarations: [ AppComponent ],
        bootstrap:    [ AppComponent ],
        schemas: [CUSTOM_ELEMENTS_SCHEMA]
      })
      export class AppModule {
        setTime($event) { console.log($vent); }
      }
    </x-pre>
    <x-pre contents-for="vue">
      &lt;template>
        &lt;x-number value="1234567.89">&lt;/x-number>
      &lt;/template>
      
      &lt;script>
      <b>import 'elements-x/dist/currency';</b>
      
      export default {
        name: "App",
        methods: function(event) { console.log(event); }
      };
      &lt;/script>
    </x-pre>
    <x-pre contents-for="react">
      import React from "react";
      <b>import 'elements-x/dist/currency';</b>

      export default function App() {
        return (
          &lt;x-number value="1234567.89">&lt;/x-number>
        );
      }
    </x-pre>
  </div>
</x-tabs>