<div id="date">
  <h3> 달력을 입력란에서 여는 법
    <a class="try-this" target="_" href="//stackblitz.com/edit/x-input-date?file=index.html">Try it</a>
  </h3> 
  <x-input type="date" text-field=""></x-input>
  <x-pre>
    &lt;x-input type="date" text-field="">&lt;/x-input>
  </x-pre>
  <x-input type="date" locale="ko-KR" value="2020-09-14"
    week-format="short" min-date="2020-08-14" max-date="2020-10-14"></x-input>
  <x-pre>
    &lt;x-input type="date" locale="ko-KR" value="2020-09-14"
      week-format="short" min-date="2020-08-14" max-date="2020-10-14">&lt;/x-input>
  </x-pre>

  <h2>속성들</h2>
  <li><b>locale</b>: 기본값 'en-US'</li>
  <li><b>date</b>: 시작일. 예 '2020-09-14'</li>
  <li><b>week-format</b>: 기본값 'short', 'long', 'short', or 'narrow'</li>
  <li><b>min-date</b>: 선택가능한 최소 일자. 기본값. '1969-01-01'</li>
  <li><b>max-date</b>: 선택가능한 최대 일자. 기본값. '2100-12-31'</li>
  <li><b>first-day-of-week</b>: 기본값 0, which is Sunday</li>
  <li><b>date-format</b>: 기본값 'yyyy-MM-dd', 날짜 포맷 텍스트</li>

  <h2>이벤트들</h2>
  <li><b>x-select</b>: 날짜가 선택되었을때 이벤트가 발생합니다. 이벤트값의 타입은 Date입니다.</li>
</div>