<h3> 기능 </h3>

<ul class="default">
  <li>하나 혹은 여러개의 파일을 끌어와서 놓으면 파일이 선택됩니다 </li>
  <li>복사 붙여널기를 통해서도 파일을 선택할수 있습니다 </li>
  <li>선택된 파일들은 미리보기를 할 수 있습니다 </li>
  <li>업로드기능도 있습니다 </li>
  <li>업로드를 하기 위해서는 사용자가 upload-fn을 제공해야 합니다 </li>
  <li>업로드버튼은 사용자가 화일을 선택했을때 보여집니다 </li>
  <li>업로드버튼이 클릭되면 제공된 upload-fn을 실행합니다. 그리고 경과도 보여줍니다 </li>
  <li>샤용자가 디자인과 내용물을 변경할 있습니다. </li>
  <li>화일이 변경되었거나 업로드가 실행중이거나 업로드가 완료될경우 이벤트를 발생시킵니다 </li>
</ul>

<div class="example">
  <h3>예제
    <a class="try-this" target="_" href="//stackblitz.com/edit/x-input-file?file=index.html">Try this</a>
  </h3> 

  <x-input type="file">
    여기에 파일을 끌어와 놓거나 복사/붙여넣기를 하세요
  </x-input>

  <x-pre>
    &lt;x-input type="file">
      여기에 파일을 끌어와 놓거나 복사/붙여넣기를 하세요
    &lt;/x-input>
  </x-pre>
</div>

<div class="example">
  <h3>업로드 기능 예제</h3>

  <x-input id="file-selector" type="file" upload-fn="upload" multiple="multiple">
    혹은, 파일을 끌어와서 놓거나 <br/>
    혹은, 파일을 복사 붙여넣기를 하세요
  </x-input>

  <x-pre>
    &lt;x-input id="file-selector" type="file" id="file-selector" <b>upload-fn="upload"</b> multiple="multiple">
      혹은, 파일을 끌어와서 놓거나 &lt;br/>
      혹은, 파일을 복사 붙여넣기를 하세요
    &lt;/x-input>
    &lt;script>
      document.querySelector('#file-selector').addEventListener('<b>x-select</b>', event => {
        console.log(event.detail);
      });
      document.querySelector('#file-selector').addEventListener('<b>x-error</b>', event => {
        alert(event.detail);
      });

      function upload(file) { // imgur anonymous upload
        let formData = new FormData();
        formData.append('image', file, file.name);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://api.imgur.com/3/image.json');
        xhr.setRequestHeader('Authorization', 'Client-ID YOUR_CLIENT_ID');
        xhr.send(formData);
        return xhr;
      }
    &lt;/script>
  </x-pre>
</div>

<h3>속성</h3>
<li><b>upload-fn</b>:xhr을 리턴하는 업로드 함수 이름</li>

<h3>이벤트</h3> 
<li><b>x-select</b>: 파일이 변경되었을 경우 파일배열과 함께 이벤트가 발생됩니다 </li>
<li><b>x-progress</b>: 파일이 업로드되고 있는 경우, 업로드 정도를 이벤트로 알 수 있습니다.  </li>
<li><b>x-load</b>: 파일이 업로드가 완료된 경우, 이벤트가 발생됩니다.</li>
<li><b>x-error</b>: 파일이 업로드중 에러가 생긴경우, 이벤트가 빌생됩니다. </li>

<script>
  document.querySelector('#file-selector').addEventListener('x-select', event => {
    console.log(event.detail);
  });

  function upload(file) {
    let formData = new FormData();
    // var blob = new Blob(['<a>hi</a>'], { type: "text/xml"});
    formData.append('image', file, file.name);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://api.imgur.com/3/image.json');
    xhr.setRequestHeader('Authorization', 'Client-ID 863c02f211a9506');
    xhr.send(formData);
    return xhr;
  }
</script>