<h3>기능</h3>
<ul class="default">
  <li>변경가능한 온/오프 문자</li>
  <li>색상과 크기를 변경할수 있습니다.</li>
</ul>

<div class="example">
  <p>
    <x-input type="switch" status="on"></x-input>
    <x-input type="switch" status="off"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch">&lt;/x-input>
  </x-pre>

  <h3> 다양한 사용법 </h3>
  <p>
    <x-input type="switch" status="on" on="YES" off="No" color="blue"></x-input>
    <x-input type="switch" status="off" on="YES" off="No" color="blue"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch" status="on" on="YES" off="No" color="blue">&lt;/x-input>
  </x-pre>
  <p>
    <x-input type="switch" status="on" on="ON" off="OFF" color="orange"></x-input>
    <x-input type="switch" status="off" on="ON" off="OFF" color="orange"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch" status="on" on="ON" off="OFF" color="orange">&lt;/x-input>
  </x-pre>

  <p>
    <x-input type="switch" status="on" on="ON" off="OFF" disabled="disabled"></x-input>
    <x-input type="switch" status="off" on="ON" off="OFF" disabled="disabled"></x-input>
  </p>
  <x-pre>
    &lt;x-input type="switch" status="on" on="ON" off="OFF" disabled="disabled">&lt;/x-input>
  </x-pre>

</div>

<h3>속성</h3>
<li><b>color</b>: 기본값 red, 스위치 버튼 배경 색깔 </li>
<li><b>on</b>: 기본값 ' ', 상태가 온일 경우 문자 </li>
<li><b>off</b>: 기본값 ' ', 상태가 오프일 경우의 문자</li>
<li><b>status</b>: 기본값 'off', 기본 상태, 'on' 혹은 'off'</li>
<li><b>disabled</b>: 이 속성이 명시되면 비활성화됩니다. </li>