<div id="date">
  <h3> 입력란에서 시각을 선택할경우 사용 
    <a class="try-this" target="_" href="//stackblitz.com/edit/x-input-time?file=index.html">Try it</a>
  </h3> 

 <x-input type="time" text-field=""></x-input>
  <x-pre>
    &lt;x-input type="time">&lt;/x-input>
  </x-pre>
  <x-input type="time" value="10:15" run="true"></x-input>
  <x-pre>
    &lt;x-input type="time" hour="10" minute="15" run="true">&lt;/x-input>
  </x-pre>

  <ul class="default">
    <li>주어진 시와 분에 따라 아날로그 시계를 보여줍니다.</li>
    <li>시침과 분침을 마우스로 움직여 시각을 변경할 수 있습니다.</li>
    <li>시각이 변경되면 `x-select`이벤트를 발생합니다.</li>
  </ul>

  <p>
    시각을 변경하기 위해, 탭을 눌러 시침이나 분침을 선택하세요,
    그리고, 화살표키를 눌러 시각을 변경하시면 됩니다.
    혹은 마우스로 시침혹은 분침을 움직여 시각을 변경하시면 됩니다.
  </p>
 
  <h3>속성</h3>
  <li><b>hour</b>: 0 - 24</li>
  <li><b>minute</b>: 0 - 59</li>

  <h3>이벤트</h3>
  <li><b>x-select</b>: 선택된 시각은 event.detail에서 찾을수 있습니다.</li>

</div>