<app-custom-css>
.app x-dialog .x-blocker {
  background: rgba(0, 0, 0, 0.6);
}
.app x-dialog .x-dialog {
  background-color: blue;
  border-radius: 8px;
  color: #FFF;
  padding: 24px;
}
.app x-dialog .x-dialog .x-close-button {
  background: #FFF;
  border-radius: 50%;
  opacity: 1;
  top: 8px;
}
</app-custom-css>

<h3>Features </h3>
<li> close dialog when background clicked</li>
<li> when esc pressed close dialog</li>
<li> when open, trap focus within it.</li>
<li> when closed, focus back to trigger element</li>
<li> fire event when opened or closed</li>

<div class="example">
  <h3> Open Dialog </h3>
  You can open a dialog with a windows function "openDialog(message, options)"
  <li>message: paragraph of dialog</li>
  <li>options
    <ul>
      <li>buttons: Buttons to be on the bottom of dialog. key is text of the button 
        and value is a function to be performed when a button is clicked.
      </li>
      <li>style: Custom style for dialog contents. e.g. {color: '#333'} </li>
    </ul>
  </li>
  <script>
    function confirm() {
      openDialog('Do you want to continue', {
        buttons: {
          Yes: e => console.log('Yes button clicked', e),
          No: e => console.log('Nos button clicked', e)
        },
        style: {border: '2px solid yellow', minWidth: '200px'}
      });
    }
  </script>
  <x-button onclick="confirm()">Open Dialog</x-button>
  <x-pre>
    &lt;script>
      function confirm() {
        openDialog('Do you want to continue', {
          buttons: {
            Yes: e => console.log('Yes button clicked', e),
            No: e => console.log('Nos button clicked', e)
          },
          style: {border: '2px solid yellow', minWidth: '200px'}
        });
      }
    &lt;/script>
    &lt;x-button onclick="confirm()">Open Dialog&lt;/x-button>
  </x-pre>
</div>

<div class="example">
  <h3> Basic Dialog </h3>
  <x-button id="button1">Open Diaog</x-button>
  <x-dialog trigger="button1">
    <div>This is a dialog.</div>
    <x-button>Button 1</x-button>
    <x-button>Button 2</x-button>
    <x-button>Button 3</x-button>
  </x-dialog>

  <x-pre>
    &lt;button id="button1">Open Diaog&lt;/button>
    &lt;x-dialog trigger="button1">
      This is a dialog.
    &lt;/x-dialog>
  </x-pre>
</div>

<div class="example">
  <h3> Non-Closable Dialog </h3>
  <x-button id="button2">Open Non-closable Diaog</x-button>
  <x-dialog trigger="button2" closable="false">
    This is a non-closable dialog. <br/>
    <x-button onclick="this.closest('x-dialog').close()">Close</x-button>
  </x-dialog>
  <x-pre>
    &lt;button id="button2">Open Non-closable Diaog&lt;/button>
    &lt;x-dialog trigger="button2" closable="false">
      This is a non-closable dialog. &lt;br/>
      &lt;button onclick="this.closest('x-dialog').close()">Close&lt;/button>
    &lt;/x-dialog>
  </x-pre>
</div>

<h3>Attributes</h3>
<li><b>closable</b>: Default true, if false, only closable by close function()</li>

<h3>Events</h3>
<li><b>x-dialog-close</b>: Fired when dialog close</li>
<li><b>x-dialog-open</b>: Fired when dialog open</li>
