<x-tabs>
  <div class="tabs">
    <div tab-for="html">HTML</div>
    <div tab-for="ng">Angular</div>
    <div tab-for="vue">VueJs</div>
    <div tab-for="react">React</div>
  </div>
  <div class="contents">
    <x-pre contents-for="html">
      &lt;html>
        &lt;head>
          &lt;script src="https://unpkg.com/elements-x/dist/dialog">&lt;/script>
        &lt;/head>
        &lt;body>
          &lt;button id="button1">Open Diaog&lt;/button>
          &lt;x-dialog trigger="button1">
            This is a dialog.
          &lt;/x-dialog>
        &lt;/body>
      &lt;/html>
    </x-pre>
    <x-pre contents-for="ng">
      import { NgModule, Component, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
      import { BrowserModule } from '@angular/platform-browser';
      <b>import 'elements-x/dist/dialog';</b>
      
      @Component({
        selector: 'my-app',
        template: `
          &lt;button id="button1">Open Diaog&lt;/button>
          &lt;x-dialog trigger="button1">
            This is a dialog.
          &lt;/x-dialog>
        `
      })
      class AppComponent  {}
      
      @NgModule({
        imports:      [ BrowserModule ],
        declarations: [ AppComponent ],
        bootstrap:    [ AppComponent ],
        schemas: [CUSTOM_ELEMENTS_SCHEMA]
      })
      export class AppModule {
      }
    </x-pre>
    <x-pre contents-for="vue">
      &lt;template>
        &lt;button id="button1">Open Diaog&lt;/button>
        &lt;x-dialog trigger="button1">
          This is a dialog.
        &lt;/x-dialog>
      &lt;/template>
      
      &lt;script>
      <b>import 'elements-x/dist/dialog';</b>
      
      export default {
        name: "App",
        methods: function(event) { console.log(event); }
      };
      &lt;/script>
    </x-pre>
    <x-pre contents-for="react">
      import React from "react";
      <b>import 'elements-x/dist/dialog';</b>

      export default function App() {
        return (
          &lt;button id="button1">Open Diaog&lt;/button>
          &lt;x-dialog trigger="button1">
            This is a dialog.
          &lt;/x-dialog>
        );
      }
    </x-pre>
  </div>
</x-tabs>