
  combop-box {
    display: inline-block;
    position: relative;
  }

  combop-box:focus-within ul {
    display: block;
  }
  
  combop-box input {
    min-width: 200px;
    height: 32px;
    padding: 0 20px 0 4px;
    border: 1px solid #CCC;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' fill='%23666' /><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    border-radius: 4px;
    box-sizing: border-box;
  }

  combop-box input:read-only {
    pointer-events: none;
  }

  combop-box ul {
    display: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: absolute;
    min-width: 200px;
    max-height: 200px;
    white-space: nowrap;
    background: #FFF;
    overflow: auto;
    z-index: 1;
  }

  combop-box ul > :is(.x-highlighted, :hover) {
    background: #529FFF;
    color: #FFF;
  }
  combop-box ul:empty {
    display: none;
  }

  combop-box ul > * {
    line-height: 26px;
    padding: 0 2px;
  }
  combop-box ul > li.disabled {
    pointer-events: none;
  }

  combop-box ul > .x-selected:before {
    content: '✓ ';
  }


file-select {
  display: inline-block;
  background: #F5F5F5;
  padding: 16px;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
}

file-select .x-file-input {
  cursor: pointer;
  file-select & input {
    display: none;
  }
}

file-select .x-file-list {
  color: #666;
  file-select .x-file { /* file info */
    display: flex;
    padding: 4px;
    position: relative;
    justify-content: space-between;

    file-select &:first-child {
      border-top: 1px solid #ccc;
    }
    file-select &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    file-select .x-name {
      white-space: nowrap;
    }

    file-select .x-preview {
      max-width: 200px;
      max-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    file-select .x-buttons * {
      border: 0;
      background: transparent;
      cursor: pointer;
    }
  }
}

  form-stepper {
    --fs-label-size: 32px;
    --fs-width: 100px;
    display: flex;
  }
  
  form-stepper .form-step {
    flex: 1; /* stretch width */
    display: flex;
    justify-content: center;
    position: relative;
  }
  form-stepper .form-step.submit {
    display: none;
  }

  form-stepper .form-step .form-link {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: var(--fs-width);
    cursor: pointer
  }

  form-stepper .form-step .form-link .form-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--fs-label-size);
    height: var(--fs-label-size);
    font-size: 16px;
    border: 1px solid;
    border-radius: 50%;
    border-color: #b2b2b2;
    color: #1a1a1a;
    background-color: #fff;
  }

  form-stepper .form-step.incomplete .form-link {
    cursor: auto;
  }

  form-stepper .form-step.active .form-link {
    font-weight: 600;
  }

  form-stepper .form-step:is(.complete, .active, .skipped, .error) .connection-line {
    background-color: #90caf9;
  }

  form-stepper .form-step:not(.active).complete .form-link .form-label:after {
    content: '✓';
    position: absolute;
    background: inherit;
  }

  form-stepper .form-step:is(.complete, .active, .skipped) .form-link .form-label {
    color: #FFF;
    border-color: #1976d2;
    background-color: #1976d2;
  }

  form-stepper .form-step:is(.error) .form-link .form-label {
    color: #FFF;
    border-color: #d27519;
    background-color: #d27519;
  }

  form-stepper .form-step .form-link .form-title {
    padding-top: .2rem;
    word-wrap: break-word;
  }

  form-stepper .form-step .form-link .form-desc {
    color: grey;
  }

  form-stepper .form-step .connection-line {
    position: absolute;
    width: calc(100% - var(--fs-label-size) - 8px);
    background-color: #EEE;
    height: 4px;
    right: calc(50% + var(--fs-label-size) / 2 + 4px);
    top: calc( var(--fs-label-size) / 2);
  }


  input-mask {
    display: block;
  }

  input-mask {
    position: relative; /* mask will be positioned absolutely */
    margin-bottom: 12px;
  }

  input-mask input {
    font-family: monospace;
    background: transparent;
    padding: 4px;
    border: 1px solid #CCC;
  }

  input-mask .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: monospace;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    opacity: .3;
  }

  list-select ul { margin: 0; padding-left: 1rem; background: #FFF;}
  list-select li { list-style: none; cursor: pointer; position: relative;}
  list-select li.disabled { opacity: .7; cursor: initial; }
  list-select li:has(> ul) { list-style: '⊟ ';}
  list-select li:has(> ul[hidden]) { list-style: '⊞ '; }
  list-select li:has(> ul)::before { content: ' '; position: absolute; top: 18px; left: -12px; bottom: 6px; border-left: 1px dashed #999;}
  list-select li:has(> ul) sup { display: none; }
  list-select li:has(> ul[hidden]) sup { display: initial; opacity: .8; }
  list-select li:not(:has(> ul)) { list-style: none; position: relative;} 
  list-select .x-highlighted { background: #ccc; }

  list-select ul.menu { display: flex;}
  list-select ul.menu ul { padding: 0; border: 1px solid #ccc;} 
  list-select ul.menu li { list-style: none; white-space: nowrap; padding: 6px 12px;} /* clear all list styles */
  list-select ul.menu li:has(> ul)::before { display: none; } /* do not show left-side dashed group border */

  list-select ul.menu ul {display: none; } /* ignore all [hidden] attribute and hide all dependents */
  list-select ul.menu > li { border: 1px solid #ccc; margin-left: -1px; min-width: 40px; } /* main list styling */
  list-select ul.menu > li > ul { position: absolute;  left: 0; top: 100%; min-width: 100%; } /* show first child below */
  list-select ul.menu > li > ul ul { position: absolute; top: 0; left: 100%;} /* show non-first child on the right-side */

  list-select ul.menu li:is(:has(.x-highlighted), .x-highlighted) > ul {display: block; } /* show only highlighted child */
  list-select ul.menu li:is(:has(.x-highlighted), .x-highlighted) { display: block;} /* show highlighted list */


  side-bar {
    min-width: 200px;
    padding: 12px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 0;
    left: -100%;
    height: 100%;
    transition: all 0.5s ease;
    box-shadow: 0 4px 10px 0 #333;
  }
  side-bar.visible {
    left: 0;
  }
  side-bar .close-button {
    border: none;
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    background: none;
    color: #666;
    top: 0;
    cursor: pointer;
    padding: .5rem;
  }


x-pagination {
  display: block;
}
x-pagination .navitation .prev {
  display: inline-block;
}

x-pagination .page {
  border: none;
  background: #FFF;
  min-width: 28px;
  min-height: 28px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: inherit;

  x-pagination &:disabled { color: #CCC; }
  x-pagination &.prev::before { content : '◀'; }
  x-pagination &.next::before { content : '▶'; }
  x-pagination &.first::before { content : '◀◀'; }
  x-pagination &.last::before { content : '▶▶'; }
}

x-pagination .pages {
  display: inline-block;
}

x-pagination .pages > .page.selected {
  color: #FFF;
  background-color: #0B51C1;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 #DDD, 0 2px 10px 0 #CCC;
  transition: all .2s linear;
}
