<app-custom-css>
.app x-overlay .x-overlay {
  background: blue;
  color: #FFF;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 4px 4px 8px #333;
}
</app-custom-css>

<h2>Features</h2>
<ul class="default">
  <li> Open overlay when trigger element focused or clicked.</li>
  <li> Close overlay when document clicked.</li>
  <li> When esc pressed close overlay.</li>
  <li> When open, trap focus within it.</li>
  <li> Position overlay underneath or over the trigger element.</li>
  <li> When closed, focus back to trigger element.</li>
  <li> Customizable trigger actions.</li>
  <li> Customizable close actions.</li>
  <li> Customizable arrow display.</li>
</ul>

<div class="example">
  <x-button>Show Overlay</x-button>
  <x-overlay opened="">
    <div style="padding: 24px;">
      <button>Hello</button>
      <button>Overlay</button>
    </div>
  </x-overlay>
  <x-pre>
    &lt;button>Show Overlay&lt;/button>
    <b>&lt;x-overlay></b>
      &lt;div style="padding: 24px;">
        &lt;button>Hello&lt;/button>
        &lt;button>Overlay&lt;/button>
      &lt;/div>
    <b>&lt;/x-overlay></b>
  </x-pre>
</div>

<div class="example">
  <x-input id="my-input" type="text" autocomplete="off"></x-input>
  <x-overlay trigger="my-input">
    <div style="padding: 24px;">
      Hello My Overlay
    </div>
  </x-overlay>
  <x-pre>
    &lt;x-input id="my-input" type="text" autocomplete="off">&lt;/x-input>
    &lt;x-overlay trigger="my-input">
      &lt;div style="padding: 24px;">
        Hello My Overlay
      &lt;/div>
    &lt;/x-overlay>
  </x-pre>
</div>

<h2>Attributes</h2>
<li><b>trigger</b>: id of element to activate this overlay</li>
<li><b>show-arrow</b>: Default false, for tooltip, show arrow </li>
<li><b>trigger-actions</b>: Default click, actions to open overlay </li>
<li><b>close-actions</b>: Default blur, actions to close overlay </li>

<h2>Events</h2>
<li><b>x-overlay-open</b>: Fired when overlay opened with reason</li>
<li><b>x-overlay-close</b>: Fired when overlay closed with reason</li>
