<app-group-header title="Table; sortable, searchable, and paginated" path="/table"></app-group-header>

<h3>Features </h3>
<ul class="default">
  <li>Filtering rows</li>
  <li>Ordering by column name</li>
  <li>Showing limited records by offset and limit</li>
</ul>

<h3 id="list-by-data-n-template">List by data and template</h3>
The following list displays <a target="_blank" href="/components/list/countries.json">country data</a>, 
originated form <a href="https://restcountries.eu/rest/v2/all?fields=name;alpha2Code;alpha3Code;capital;subregion;population;flag;">https://restcountries.eu</a>

<p>
  You can generate list items automatically by providing template and data to value of the element.
</p>

<div class="example">
  <h2> Default Example </h2>
  <x-table class="no-header no-footer">
    <table>
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="alpha3Code">code</th>
          <th class="capital">Capital</th>
          <th class="subregion">Region</th>
          <th class="population">Population</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Name1</td>
          <td class="alpha3Code">alpha3Code 1</td>
          <td class="capital">capital 1</td>
          <td class="subregion">subregion</td>
          <td class="population" style="text-align: right">1</td>
        </tr>
        <tr>
          <td class="name">Name2</td>
          <td class="alpha3Code">alpha3Code 2</td>
          <td class="capital">capital 2</td>
          <td class="subregion">subregion</td>
          <td class="population" style="text-align: right">2</td>
        </tr>
        <tr>
          <td class="name">Name3</td>
          <td class="alpha3Code">alpha3Code  3</td>
          <td class="capital">capital 3</td>
          <td class="subregion">subregion</td>
          <td class="population" style="text-align: right">3</td>
        </tr>
      </tbody>
    </table>
  </x-table>

  <x-pre>
    &lt;x-table class="no-header no-footer">
      &lt;table>
        &lt;thead>
          &lt;tr>
            &lt;th class="name">Name&lt;/th>
            &lt;th class="alpha3Code">code&lt;/th>
            &lt;th class="capital">Capital&lt;/th>
            &lt;th class="subregion">Region&lt;/th>
            &lt;th class="population">Population&lt;/th>
          &lt;/tr>
        &lt;/thead>
        &lt;tbody>
          &lt;tr>
            &lt;td class="name">Name1&lt;/td>
            &lt;td class="alpha3Code">alpha3Code 1&lt;/td>
            &lt;td class="capital">capital 1&lt;/td>
            &lt;td class="subregion">subregion&lt;/td>
            &lt;td class="population" style="text-align: right">1&lt;/td>
          &lt;/tr>
          &lt;tr>
            &lt;td class="name">Name2&lt;/td>
            &lt;td class="alpha3Code">alpha3Code 2&lt;/td>
            &lt;td class="capital">capital 2&lt;/td>
            &lt;td class="subregion">subregion&lt;/td>
            &lt;td class="population" style="text-align: right">2&lt;/td>
          &lt;/tr>
          &lt;tr>
            &lt;td class="name">Name3&lt;/td>
            &lt;td class="alpha3Code">alpha3Code  3&lt;/td>
            &lt;td class="capital">capital 3&lt;/td>
            &lt;td class="subregion">subregion&lt;/td>
            &lt;td class="population" style="text-align: right">3&lt;/td>
          &lt;/tr>
        &lt;/tbody>
      &lt;/table>
    &lt;/x-table>
  </x-pre>
</div>

<div class="example">
  <h2> Table With HTTP Data Example </h2>
  <x-http id="get-countries" url="/components/list/countries.json" auto=""></x-http>
  <x-table list-from="get-countries">
    <table>
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="alpha3Code">code</th>
          <th class="capital">Capital</th>
          <th class="subregion">Region</th>
          <th class="population">Population</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><img clss="flag" src="{{flag}}" width="18" height="14" /> {{name}}</td>
          <td class="alpha3Code">{{alpha3Code}}</td>
          <td class="capital">{{capital}}</td>
          <td class="subregion">{{subregion}}</td>
          <td class="population" style="text-align: right"><x-format type="number" value="{{population}}"></x-format></td>
        </tr>
        <tr class="empty">
          <td colspan="5">No records found</td>
        </tr>
        <tr class="bottom">
          <td colspan="5">Bottom of the list.</td>
        </tr>
        <tr class="error">
          <td colspan="5">There is an error processing list.</td>
        </tr>
      </tbody>
    </table>
  </x-table>
  <x-pre>
    &lt;x-http id="get-countries" url="/components/list/countries.json" auto="">&lt;/x-http>
    &lt;x-table list-from="get-countries">
      &lt;table>
        &lt;thead>
          &lt;tr>
            &lt;th class="name">Name&lt;/th>
            &lt;th class="alpha3Code">code&lt;/th>
            &lt;th class="capital">Capital&lt;/th>
            &lt;th class="subregion">Region&lt;/th>
            &lt;th class="population">Population&lt;/th>
          &lt;/tr>
        &lt;/thead>
        &lt;tbody>
          &lt;tr>
            &lt;td class="name">&lt;img clss="flag" src="{{flag}}" width="18" height="14" /> {{name}}&lt;/td>
            &lt;td class="alpha3Code">{{alpha3Code}}&lt;/td>
            &lt;td class="capital">{{capital}}&lt;/td>
            &lt;td class="subregion">{{subregion}}&lt;/td>
            &lt;td class="population" style="text-align: right">&lt;x-format type="number" value="{{population}}">&lt;/x-format>&lt;/td>
          &lt;/tr>
          &lt;tr class="empty">
            &lt;td colspan="5">No records found&lt;/td>
          &lt;/tr>
          &lt;tr class="error">
            &lt;td colspan="5">There is an error processing list.&lt;/td>
          &lt;/tr>
        &lt;/tbody>
      &lt;/table>
    &lt;/x-table>
  </x-pre>
</div>

<h3>Attributes</h3>

<ul class="default">
  <li><b>order</b>:
    Default null, order expression, e.g. "id desc"
  </li>
  <li><b>offset</b>:
    Default 0. Starting offset number. if it is 10, the first list item is 11th records. Default is 0
  </li>
  <li><b>limit</b>:
    Default 0, number of records to show. If 10, it only shows 10 records starting from offset.
  </li>
  <li><b>list-from</b>:
    &lt;x-http> element id. if given, it listens to 'x-success' event to get its list value
  </li>
</ul>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>order</td><td>String</td><td>null</td><td>Optional</td><td>order expression, e.g. "id desc"</td></tr>
        <tr><td>offset</td><td>Number</td><td>0</td><td>Optional</td>
          <td>Starting offset number. if it is 10, the first list item is 11th records.</td></tr>
        <tr><td>limit</td><td>Number</td><td>10</td><td>Optional</td>
          <td>umber of records to show. If 10, it only shows 10 records starting from offset.</td></tr>
        <tr><td>list-from</td><td>String</td><td>N/A</td><td>Optional</td>
          <td>&lt;x-http> element id. if given, it listens to 'x-success' event to get its list value</td></tr>
      </tbody>
    </table>
  </x-table>
</div>