<h3>기능 </h3>
<ul class="default">
  <li>주어진 시와 분에 따라 아날로그 시계를 보여줍니다.</li>
  <li>run="true"가 명시되면 시계가 움직입니다.</li>
  <li>시침과 분침을 마우스로 움직여 시각을 변경할 수 있습니다.</li>
  <li>시각이 변경되면 `x-select`이벤트를 발생합니다.</li>
</ul>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-clock?file=index.html">Try with static html</a>
</h3>

<div class="example">
  <p>
    시각을 변경하기 위해, 탭을 눌러 시침이나 분침을 선택하세요,
    그리고, 화살표키를 눌러 시각을 변경하시면 됩니다.
    혹은 마우스로 시침혹은 분침을 움직여 시각을 변경하시면 됩니다.
  </p>
</div>

<div class="example">
  <x-clock run="true"></x-clock>
  <x-pre> &lt;x-clock run="true">&lt;/x-clock> </x-pre>
</div>

<h3>속성</h3>
<li><b>hour</b>: 0 - 24</li>
<li><b>minute</b>: 0 - 59</li>
<li><b>target</b>: 시각이 변경되었을 경우 업데이트할 엘리먼트 아이디.</li>

<h3>이벤트</h3>
<li><b>x-select</b>: 커스텀 이벤트. 선택된 시각은 event.detail에서 찾을수 있습니다</li>
