
<h3>기능 </h3>

<ul class="default">
  <li>색깔을 선택하면 선택된 엘리먼트의 값이 변경됩니다.</li>
  <li>색깔을 선택하면 'x-select' 이벤트를 발생합니다.</li>
</ul>

<div class="example">
  <h3>입력란과 함께 사용하는 경우
    <a class="try-it" target="_" href="//stackblitz.com/edit/x-color-picker?file=index.html">Try it</a>
  </h3>
  
  <input id="color2" />
  <x-color-picker target="color2" width="400" height="300"></x-color-picker>
  <x-pre>
    &lt;input id="color"  width="400" height="300"/>
    &lt;x-color-picker target="color">&lt;/x-color-picker>
  </x-pre>
</div>

<h3>속성</h3>
<li><b>width</b>: 칼라팔렛트 넓이. 예, 240</li>
<li><b>height</b>: 칼라팔렛트 높이. 예, 180</li>
<li><b>trigger</b>: 칼라가 선택되었을 경우 변경될 엘리먼트의 i</li>


<h3>이벤트</h3>
<li><b>x-select</b>: 맞춤형 이벤트, 칼라가 선택되었을 경우 선택된 색상을 event.detal에 포함해 이벤트를 발생합니다. </li>