<h3>HTTP</h3>
<p>
HTTP 콜(GET / POST / PUT / DELETE / PATCH)을 실행합니다. 
그리고 콜이 실행뒬때 로딩사인을 보여줍니다. 
</p>

<h3>속성</h3>
<ul>
  <li>
    <b>url</b>: 필수,  예 https://my.api.com/v1/users?q=foo.
  </li>
  <li>
    <b>method</b>: 기본값. "get". Method of http call, "get", "post", "put", "delete", "patch".
  </li>
  <li>
    <b>auto</b>: 기본값 false. auto일 경우 초기화시 실행되거나 payload가 변경될경우 실행됩니다. 
  </li>
  <li>
    <b>resptype</b>: 기본값 "json". response 타입. 이것은 response의 parser를 결정합니다. 
  </li>
  <li><b>resp-status-code</b>: 기본값 undefined. 
    이 값이 주어졌을 경우 status code를 HTTP의 response에서 찾는게 아니라 주어진 response의 표현에서 찾습니다.  
    예 "status.code"
  </li>
  <li><b>headers</b>: 기본값 undefied. 
    이 값이 주어질 경우, HTTP콜을 하기전에 Header를 주어진 값에 따라 설정합니다. 
    <br/>  예, headers="Authorization: Bearer r3f3f2d63f2f23" 
  </li>
  <li><b>payload</b>: 기본값 undefined. 
    이 값이 주어질 령우, HTTP콜을 하기전에 payload를 주어진 값에 따라 설정합니다. 
    <br/>  예, payload="gender=Male;status=Active
  </li>
</ul>

<h3>이벤트</h3>
<ul>
  <li><b>x-success</b>: 
    HTTP콜이 성공적으로 이루어질 경우, 즉 status code가 200대일 경우, 에 발생하는 이벤트.</li>
  <li><b>x-errorr</b>: HTTP콜에서 에러가 나는 경우 발생하는 이벤트</li>
</ul>

<div class="example">
  <h2> 예제 
    <a class="try-it" target="_" href="//stackblitz.com/edit/x-http">Try it</a>
  </h2>
  <x-pre>
    &lt;x-div>
      &lt;x-http  url="/components/table/countries.json" auto
        xon-success="set(resp, event.detail)">&lt;/x-http>
      &lt;b>HTTP Response:&lt;/b>
      &lt;pre x-value="resp" style="height: 300px; overflow: auto">&lt;/pre>
    &lt;/x-div>
  </x-pre>

  <x-div> <!-- debug="" trace="" -->
    <x-http xon-success="set(resp, event.detail)" url="/components/table/countries.json" auto></x-http>
    <b>HTTP Response:</b>
    <pre x-value="resp" style="height: 300px; overflow: auto"></pre>
  </x-div>

</div>


