<app-custom-css>
.app x-overlay .x-overlay {
  background: blue;
  color: #FFF;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 4px 4px 8px #333;
}
</app-custom-css>

<h2>기능</h2>
<ul class="default">
  <li> 트리거 엘리먼트가 포커스가 오거나 클릭되면 오버레이가 열립니다..</li>
  <li> Document가 클릭되면 오버레이가 닫힙니다. </li>
  <li> ESC가 눌러지면 오버레이가 닫힙니다. </li>
  <li> 오버레이가 열리면, 포커스가 오버레이안에서만 움직입니다. </li>
  <li> 오버레이는 트리게 엘리먼트의 위 혹은 아래에 위치합니다. </li>
  <li> 오버레이가 닫힐때 트리거 엘리먼트가 다시 포커스를 갖습니다. </li>
  <li> 열림 이벤트, 닫힘 이벤트, 화살표 디자인을 맞춤화 할수 있습니다. </li>
</ul>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/x-overlay?file=index.html">Try with static html</a>
</h3>

<div class="example">
  <x-button>Show Overlay</x-button>
  <x-overlay>
    <div style="padding: 24px;">
      <button>Hello</button>
      <button>Overlay</button>
    </div>
  </x-overlay>
  <x-pre>
    &lt;button>Show Overlay&lt;/button>
    <b>&lt;x-overlay></b>
      &lt;div style="padding: 24px;">
        &lt;button>Hello&lt;/button>
        &lt;button>Overlay&lt;/button>
      &lt;/div>
    <b>&lt;/x-overlay></b>
  </x-pre>
</div>

<div class="example">
  <x-input id="my-input" type="text" autocomplete="off"></x-input>
  <x-overlay trigger="my-input">
    <div style="padding: 24px;">
      Hello My Overlay
    </div>
  </x-overlay>
  <x-pre>
    &lt;x-input id="my-input" type="text" autocomplete="off">&lt;/x-input>
    &lt;x-overlay trigger="my-input">
      &lt;div style="padding: 24px;">
        Hello My Overlay
      &lt;/div>
    &lt;/x-overlay>
  </x-pre>
</div>

<h2>속성</h2>
<li><b>trigger</b>: 오버레이를 시작시킬 엘리먼트의 id </li>
<li><b>show-arrow</b>: 기본값 false, 화살표를 보여줍니다.  </li>
<li><b>trigger-actions</b>: 기본값 click, 오버레이를 열어주는 이벤트들 예, 'focus, mouseenter, click' </li>
<li><b>close-actions</b>: 기본값 blur, 오버레이를 닫는 이벤트들 예, 'blur, mouseleave'</li>

<h2>이벤트</h2>
<li><b>x-overlay-open</b>: 오버레이가 열릴때 발생하는 이벤트 </li>
<li><b>x-overlay-close</b>: 오버레이가 닫힐때 발생하는 이벤트</li>
