<app-custom-css>
  .app x-tooltip .x-overlay {
    background: blue;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 24px;
  }
  .app x-tooltip .x-arrow.up .x-icon::after {
    border-bottom: 11px solid blue;
  }
  .app x-tooltip .x-arrow.down .x-icon::after {
    border-top: 11px solid blue;
  }
</app-custom-css>

<h2>기능</h2>
<ul class="default">
  <li> 마우스, 클릭, 혹은 탭으로 툴팁을 보여줍니다.  </li>
  <li> 클릭, 마우스, 혹은 탭으로 툴팁을 닫습니다. </li>
  <li> ESC키가 눌러지면, 툴팁을 닫습니다. </li>
  <li> 툴팁이 열리면, 포커스가 툴팁안에서만 움직입니다. .</li>
  <li> 툴팁은 엘리먼트의 아래나 위에 열립니다. </li>
</ul>

<h3>
  Example
  <a class="try-it" target="_" href="//stackblitz.com/edit/elements-x-tooltip?file=index.html">Try it</a>
</h3>

<div class="example">
  <a href="javascript:void(0)" tabindex="0" id="show-tooltip">Show tooltip</a>
  <x-tooltip trigger="show-tooltip">
    Hello Tooltip<br/>
    <x-button class="primary no-shadow">button 1</x-button>
    <x-button class="primary no-shadow">button 2</x-button>
  </x-tooltip>
  <x-pre> 
    &lt;a href="javascript:void(0)" tabindex="0" id="show-tooltip">Show tooltip&lt;/a>
    &lt;x-tooltip trigger="show-tooltip">
      Hello Tooltip&lt;br/>
      &lt;button>button 1&lt;/button>&lt;br/>
      &lt;button>button 2&lt;/button>&lt;br/>
    </x-tooltip>
  </x-pre>
</div>

<h2>속성</h2>
<li><b>trigger</b>: 툴팁이 보여질 엘리먼트의 id</li>