<style>
  .message br {
    display: none;
  }
  .message {
    padding: 8px;
    background: #666;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

<h3>기능 </h3>
<ul class="default">
  <li>키보드를 이용한 네비게이션 기능 제공</li>
  <li>리스트 아이템이 선택된 경우 'x-select'를 발생합니다.</li>
  <li>With 'selected' attribute, it highlights selected item</li>
  <li>엑세스빌러티 기능 포함;  aria-expanded / aria-has-popup </li>
</ul>

<div class="example">
  <h3>기본 예제 
    <a class="try-it" target="_" href="//stackblitz.com/edit/x-ul?file=index.html">Try with static html</a>
  </h3> 
  <x-ul id="default" selected="file">
    <ul>
      <li id="file"> File </li>
      <li> Edit </li>
      <li> Format </li>
      <li> View </li>
      <li> Help </li>
    </ul>
  </x-ul>
  <div class="message" id="message-default">
    리스트에서 하나의 아이템을 선택하세요
  </div>
  <script>
    document.querySelector('#default').addEventListener('x-select', evt => {
      document.querySelector('#message-default').innerText = `selected "${evt.detail.outerHTML}"`;
    });
  </script>
  <x-pre>
    &lt;x-ul selected="file">
      &lt;ul>
        &lt;li id="file"> File &lt;/li>
        &lt;li> Edit &lt;/li>
        &lt;li> Format &lt;/li>
        &lt;li> View &lt;/li>
        &lt;li> Help &lt;/li>
      &lt;/ul>
    &lt;/x-ul>
  </x-pre>
</div>

<div class="example">
  <h2>계층화된 리스트 예제 </h2>
  <x-ul id="hierarchical" selected="new">
    <ul>
      <li> File
        <ul>
          <li id="new">New</li>
          <li>Open
            <ul>
              <li> Recent Files 
                <ul>
                  <li>File A</li>
                  <li>File B</li>
                  <li>File C</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li> Edit
        <ul>
          <li> Commands
            <ul>
              <li> Recent Comnands
                <ul>
                  <li>Undo</li>
                  <li>Redo</li>
                  <li>Open File</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li disabled="disabled">Cut</li>
          <li disabled="disabled">Copy</li>
          <li disabled="disabled">Paste</li>
        </ul>
      </li>
      <li> Format
        <ul>
          <li>Font</li>
          <li>Text</li>
        </ul>
      </li>
      <li> View
        <ul>
          <li>100%</li>
          <li>Zoom In</li>
          <li>Zoom Out</li>
        </ul>
      </li>
      <li id="help">Help</li>
    </ul>
  </x-ul>
  <div class="message" id="message-hierarchical">
    리스트에서 하나의 아이템을 선택하세요.
  </div>
  <script>
    document.querySelector('#hierarchical').addEventListener('x-select', evt => {
      document.querySelector('#message-hierarchical').innerText = `selected "${evt.detail.outerHTML}"`;
    });
  </script>

  <x-pre>
    &lt;x-ul selected="new">
      &lt;ul>
        &lt;li> File
          &lt;ul>
            &lt;li id="new">New&lt;/li>
            &lt;li>Open
              &lt;ul>
                &lt;li> Recent Files 
                  &lt;ul>
                    &lt;li>File A&lt;/li>
                    &lt;li>File B&lt;/li>
                    &lt;li>File C&lt;/li>
                  &lt;/ul>
                &lt;/li>
              &lt;/ul>
            &lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Edit
          &lt;ul>
            &lt;li>Undo&lt;/li>
            &lt;li id="redo">Redo&lt;/li>
            &lt;li disabled="disabled">Cut&lt;/li>
            &lt;li disabled="disabled">Copy&lt;/li>
            &lt;li disabled="disabled">Paste&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> Format
          &lt;ul>
            &lt;li>Font&lt;/li>
            &lt;li>Text&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li> View
          &lt;ul>
            &lt;li>100%&lt;/li>
            &lt;li>Zoom In&lt;/li>
            &lt;li>Zoom Out&lt;/li>
          &lt;/ul>
        &lt;/li>
        &lt;li id="help">Help&lt;/li>
      &lt;/ul>
    &lt;/x-ul>
  </x-pre>
</div>

<div class="example">

  <h2>계층화된 리스트, 드롭다운 스타일</h2>
  <x-ul id="my-list" selected="redo" class="dropdown">
    <ul>
      <li> File
        <ul>
          <li id="new">New</li>
          <li>Open
            <ul>
              <li> Recent Files 
                <ul>
                  <li>File A</li>
                  <li>File B</li>
                  <li>File C</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li> Edit
        <ul>
          <li> Commands
            <ul>
              <li> Recent Comnands
                <ul>
                  <li>Undo</li>
                  <li>Redo</li>
                  <li>Open File</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li disabled="disabled">Cut</li>
          <li disabled="disabled">Copy</li>
          <li disabled="disabled">Paste</li>
        </ul>
      </li>
      <li> Format
        <ul>
          <li>Font</li>
          <li>Text</li>
        </ul>
      </li>
      <li> View
        <ul>
          <li>100%</li>
          <li>Zoom In</li>
          <li>Zoom Out</li>
        </ul>
      </li>
      <li id="help">Help</li>
    </ul>
  </x-ul>
  <div class="message" id="message-div">
    리스트에서 하나의 아이템을 선택하시면 선택된 항목이 표시됩니다. 
  </div>
  <br/>
  <script>
    document.querySelector('#my-list').addEventListener('x-select', evt => {
      document.querySelector('#message-div').innerText = `selected "${evt.detail.outerHTML}"`;
    });
  </script>

  <x-pre>
    &lt;x-ul id="my-list" class="dropdown" selected="redo">
      ...  위의 항목과 동일합니다. ...
    &lt;/x-ul>
  </x-pre>
</div>

<h3>속성</h3>
<li><b>selected</b>: 선택된 리스트 아이템의 id, 기본값 null</li>

<h3>이벤트</h3> 
<li><b>x-select</b>: 리스트가 선택되었을 경우 발생하는 이벤트</li>
