<app-custom-css>
  .app x-tooltip .x-overlay {
    background: blue;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 24px;
  }
  .app x-tooltip .x-arrow.up .x-icon::after {
    border-bottom: 11px solid blue;
  }
  .app x-tooltip .x-arrow.down .x-icon::after {
    border-top: 11px solid blue;
  }
</app-custom-css>

<h2>Feature</h2>
<ul class="default">
  <li> open tooltip when trigger element hovered, clicked, or focused </li>
  <li> close tooltip when document clicked, mouseleave, or blur</li>
  <li> when esc pressed, close tooltip</li>
  <li> when open, trap focus within inside tooltip.</li>
  <li> position tooltip underneath or over the trigger element</li>
</ul>

<div class="example">
  <a href="javascript:void(0)" tabindex="0" id="show-tooltip">Show tooltip</a>
  <x-tooltip trigger="show-tooltip">
    Hello Tooltip<br/>
    <button>button 1</button><br/>
    <button>button 2</button><br/>
    <button>button 3</button><br/>
  </x-tooltip>
  <app-pre> 
    &lt;a href="javascript:void(0)" tabindex="0" id="show-tooltip">Show tooltip&lt;/a>
    &lt;x-tooltip trigger="show-tooltip">
      Hello Tooltip&lt;br/>
      &lt;button>button 1&lt;/button>&lt;br/>
      &lt;button>button 2&lt;/button>&lt;br/>
      &lt;button>button 3&lt;/button>&lt;br/>
    </x-tooltip>
  </app-pre>
</div>

<h2>Attributes</h2>
<li><b>trigger</b>: id of element to activate this tooltip</li>