body[lang=en] .en,
body[lang=kr] .kr {font-weight: bold}

li {
  margin: 8px 0;
}

app-group-header .header {
  display: flex;
  height: 56px;
  padding: 0 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  background: #fff;
}
app-group-header .header h2 {
  margin: 0;
}
app-group-header .header .links {
  flex: 1;
  text-align: right;
  font-size: 1.5em;
  color: #666;
}


.app > .header {
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
  color: #fff;
}
.app > .header .logo {
  display: flex;
  align-items: center;
  text-align: center;
  background: #3185db;
  width: 250px;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 22px;
  text-transform: uppercase;
  transition: width 0.3s;
}
.app > .header .logo img {
  width: 100%;
}
.app > .header .header-nav {
  display: flex;
  align-items: center;
  background: #389bff;
  flex: 1;
  color: #fff;
  font-size: 20px;
}
.app > .header .header-nav .hamburger {
  width: 60px;
  cursor: pointer;
  height: 60px;
  color: #333;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}
.app > .header .header-nav .hamburger:hover {
  background: #4aa2ff;
}
.app > .header .header-nav .hamburger .fa-bars {
  pointer-events: none;
}
.app > .header .header-nav .links {
  flex: 1;
  padding: 24px;
}
.app > .header .header-nav .links a {
  margin-right: 12px;
  color: #FFF; 
  text-decoration: none;
}
.app > .header .header-nav .languages > * {
  font-size: 16px;
  color: #FFF;
}
.app > .header .header-nav .icons {
  padding: 24px;
  font-size: 26px;
}
.app > .header .header-nav .icons > *  {
  color: #FFF;
}

.app > .main {
  display: flex;
  word-break: break-word;
}
.app > .main .aside {
  width: 250px;
  transition: width 0.2s;
}
.app > .main .aside .route-items {
  display: block;
  position: fixed;
  top: 52px;
  width: 250px;
  left: 0;
  padding: 8px;
  background: #3d474c;
  color: #fff;
  height: calc(100vh - 60px);
  overflow: auto;
}

.app > .main .aside .route-item {
  padding: 10px 20px;
  margin: 0 -20px;
  display: flex;
  align-items: center;
  color: #FFF; 
  text-decoration: none;
  white-space: nowrap;
  border-top: 1px solid #666;
}
.app > .main .aside .route-item i {
  width: 22px;
  text-align: center;
  margin-right: 8px;
}
.app > .main .aside .route-item b {
  font-weight: normal;
}
.app > .main .aside .route-item b sub {
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
.app > .main .aside .route-item:hover b sub {
  opacity: 1;
  visibility: visible;
}
.app > .main .aside .route-item:hover { 
  background: #30393d;
}
.app > .main .aside .route-item.active {
  background: #DDD;
  color: #333;
}
.app > .main .aside .group-header {
  position: relative;
  cursor: pointer;
  margin: 0 -8px;
  padding: 8px 8px 8px 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: 1px solid #666;
}
.app > .main .aside .group-header::after {
  content: '∧';
  display: block;
  font-weight: bold;
  position: absolute;
  right: 8px;
  top: 8px;
}
.app > .main .aside .group-header:not(.expanded)::after {
  content: '∨';
}
.app > .main .aside .group-header:not(.expanded) + * {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}
.app > .main .aside .group-header + * {
  max-height: 500px;
}
.app > .main .aside .group-header + * > * {
  padding: 8px 28px;
  background: #333;
}

.app > .main .article {
  min-height: calc(100vh - 60px);
  width: calc(100% - 250px);
  padding: 20px;
  flex: 1;
  background: #f5f5f5;
}
.app > .main pre[ee-prism] {
  padding: 8px 8px 8px 16px;
  background: #3d474b;
  color: #fff;
}

.article-contents {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  margin-left: 100%;
}
.article-contents.slide-in {
  margin-left: 0%;
  transition: all .1s;
}

.article-contents pre {
  overflow: auto;
}
.article-contents a {
  color: #00e;
}

.usage {
  margin-top: 16px;
}
.usage .contents {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

@media only screen and (min-width: 768px) { 
  .app .main .aside {
    pointer-events: none;
  }
  .app .main .aside .route-items {
    pointer-events: initial;
  }
  .app.toggled .main .aside .route-items {
    width: 60px;
    overflow-x: hidden;
  }
  .app > .main .aside .route-items::-webkit-scrollbar {
    width:0px;
  }
  .app > .main .aside .route-items::-webkit-scrollbar-track-piece {
    background-color:transparent;
  }
  .app.toggled .header .logo {
    width: 0;
  }
  .app.toggled .header .logo .title {
    display: none;
  }
  .app.toggled .main .aside {
    width: 60px;
  }
  .app.toggled .main .aside .route-item i {
    font-size: 20px;
  }
  .app.toggled .main .aside .route-item b,
  .app.toggled .main .aside .route-item:hover b {
    display: none;
  }
  .app.toggled .main .aside .group-header .text {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) { 
  .app .main {
    display: block;
  }
  .app .main .aside {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0, .5);
    height: 100vh;
    top: 52px;
    width: 0;
    visibility: hidden;
    z-index: 1;
  }
  .app.toggled .main .aside {
    visibility: visible;
    width: 100%;
  }
  .app .main .aside .route-items {
    width: 0;
    transition: width .2s;
  }
  .app.toggled .aside .route-items {
    width: 250px;
  }
  .app .main .article {
    width: 100%;
    padding: 0;
  }
  .app .header .logo {
    width: 0;
  }
  .app .header .logo .title {
    display: none;
  }
  .app .main .aside .route-item i {
    font-size: 20px;
  }

}