ul:not(.default) {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app.collapsed {
  .header .logo {
    width: 0;
    .title { 
      display: none;
    }
  }
  .main .aside {
    width: 60px;
    .route-item i {
      font-size: 20px;
    }
    .route-item b {
      display: none;
    }
    .route-item:hover {
      b {
        position: absolute;
        display: initial;
        background: inherit;
        padding: 0 4px 2px 2px;
      }
    }
  }
}

.app > .header {
  height: 60px;
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 9999;
  color: #FFF;
  .logo {
    display: flex;
    align-items: center;
    text-align: center;
    background: #3185DB;
    width: 250px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    transition: width .3s;
    img {
      width: 100%;
    }
  }
  .header-nav {
    display: flex;
    align-items: center;
    background: #389BFF;
    flex: 1;
    color: #FFF;
    font-size: 20px;
    .hamburger {
      width: 60px;
      height: 60px;
      color: #333;
      border-right: 1px solid rgba(0, 0, 0, 0.14);
      &:hover {
        background: #4AA2FF;
      }
    }
    .links {
      flex: 1;
      padding: 24px;
      a {
        margin-right: 12px;
      }
    }
    .icons {
      padding: 24px;
      font-size: 26px;
    }
  }
}

.app > .main {
  display: flex;
  word-break: break-word;
  .aside {
    background: #3D474C;
    width: 250px;
    color: #FFF;
    min-height: calc(100vh - 60px);
    transition: width .3s;
    padding: 20px;
    .route-item {
      padding: 10px 20px;
      margin: 0 -20px;
      display: flex;
      align-items: center;
      i {
        width: 22px;
        text-align: center;
        margin-right: 8px;
      }
      b {
        font-weight: normal;
      }
    }
    .route-item:hover, .route-item.active {
      outline: 0;
      background: #30393D;
    }
    .collapsed {
      width: 60;
      overflow: hidden;
    }
  }

  .article {
    min-height: calc(100vh - 60px);
    width: calc(100% - 250px);
    padding: 20px;
    flex: 1;
    background: #F5F5F5;
  }

  pre[ee-prism] {
    padding: 8px 8px 8px 16px;
    background: #3D474B;
    color: #FFF;
  }
}

app-group-header .header {
  display: flex;
  // margin: -20px -20px 0 -20px;
  height: 56px;
  padding: 0 20px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  background: #FFF;
}
app-group-header .header h2 { margin: 0; }
app-group-header .header .links {
  flex: 1;
  text-align: right;
  font-size: 1.5em;
  color: #666;
}

.article-contents {
  margin-top: 20px;
  padding: 20px;
  font-size: 18px;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  pre {
    overflow: auto;
  }
  .articles-container {
    column-count: 2;
  }
  a {
    color: rgb(0, 0, 238);
  }
}

.article-contents .medium-article {
  a {
    color: #389BFF;
  }
  p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
  }
  blockquote {
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      background: #333;
      width: 2px;
      left: -40px;
    }
  }
  pre {
    background: #eee;
    padding: 24px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
  }
  h1.title {
    margin: 26px 0 -12px 0;
    font-family: Georgia;
    line-height: 60px;
    font-size: 36px;
    font-weight: 400;
  }
  h1 {
    margin: 70px 0 10px 0;
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
    margin: 44px 0 12px 0;
  }
  h2.subtitle {
    line-height: 32px;
    margin-bottom: 0;
    font-weight: 300;
  }
  .list.number {
    display: list-item;
    margin-left: 1.3em;
    list-style-type: decimal;
  }
  .list.bulletin {
    display: list-item;
    margin-left: 1.3em;
    list-style-type: disc;
  }
  img {
    max-width: 100%;
  }
}
.article-contents app-articles[preview] {
  .list.number {
    display: list-item;
    margin-left: 1.3em;
    list-style-type: decimal;
  }
  .list.bulletin {
    display: list-item;
    margin-left: 1.3em;
    list-style-type: disc;
  }
  img {
    max-width: 100%;
  }
  a {
    color: #333;
  }
  figure {
    margin: 0;
  }
  .list {
    margin-top: 16px;
  }
  .article {
    margin: 8px 0;
    width: 100%;
    min-height: auto;
    box-shadow: 4px 4px 8px #ccc;
    display: inline-block;
    overflow: auto;
  }
  h1.title {
    line-height: normal;
    font-weight: normal;
  }
  h1, h2, h3 {
    margin: 4px;
    font-size: 20px;
    font-weight: normal;
  }
  p {
    margin: 4px;
    font-size: 20px;
    opacity: .7;
  }
  p, .list, .subtitle, h2, pre{
    opacity: .7;
  }
}

.usage {
  margin-top: 1em;
}
.usage .contents {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
