body * {
  box-sizing: border-box;
}
body:not(.a11y-outline) :focus {
  outline: none !important;
}
html, body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #333;
}
h1 { margin: 0 0 20px 0; font-size: 1.8em;}
h2 { margin: 18x 9; font-size: 1.17em;}
a {
  color: inherit;
  text-decoration: none;
  opacity: .9;
}
a:hover, a.active {
  opacity: 1;
}
ul.no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.default li p {
  position: relative;
  margin: 4px 16px;
}
li p::before {
  content: '-';
  position: absolute;
  left: -12px;
}
app-custom-css {
  display: none;
  float: right;
  /* position: absolute;
  right: 48px; */
}
input:not([type]), input[type=text] {
  height: 32px;
}
input[type=checkbox],
input[type=radio] {
  height: auto;
}

x-click {
  cursor: pointer;
  color: blue;
}
x-pre {
  font-size: 14px;
}

.vcentered {
  display: flex;
  align-items: center;
}
.hcentered {
  display: flex;
  justify-content: center;
}