body * {
  box-sizing: border-box;
}
body:not(.a11y-outline) :focus {
  outline: none !important;
}
html, body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #333;
}
a {
  color: inherit;
  text-decoration: none;
  opacity: .9;
}
a:hover, a.active {
  opacity: 1;
}
ul.default li p {
  position: relative;
  margin: 4px 16px;
}
li p::before {
  content: '-';
  position: absolute;
  left: -12px;
}
app-custom-css {
  display: none;
  position: absolute;
  right: 48px;
}
input {
  height: 32px;
}
x-click {
  cursor: pointer;
  color: blue;
}

.vcentered {
  display: flex;
  align-items: center;
}
.hcentered {
  display: flex;
  justify-content: center;
}