<app-group-header title="Accordion" path="/accordion"></app-group-header>

<h3>Feature</h3>
<ul class="default">
  <li>Used to expand/collapse content by clicking title</li> 
</ul>

<h3>Default</h3>
<div class="example">
  <x-accordion label="Hello Accordion">
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
  </x-accordion>
  
  <x-accordion label="Hello Accordion">
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
  </x-accordion>
  
  <x-accordion label="Hello Accordion">
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
    Hello Accordion<br/>
  </x-accordion>
  <x-pre>
    &lt;x-accordion label="Hello Accordion">
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
      Hello Accordion&lt;br/>
    &lt;/x-accordion>
  </x-pre>
</div>

<div class="attributes" title="Attributes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Type</th><th>Default</th><th>Optional</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>label</td><td>String</td><td>N/A</td><td>Required</td><td>Head title of accordion</td></tr>
      </tbody>
    </table>
  </x-table>
</div>

<div class="classes" title="Classes">
  <x-table class="no-header no-footer">
    <table>
      <thead><tr><th>Name</th><th>Description</th></tr></thead>
      <tbody>
        <tr><td>expanded</td><td> Indicates if contents is visible.</td></tr>
      </tbody>
    </table>
  </x-table>
</div>