<h3>기능 </h3>
<ul class="default">
  <li> 필터링 기능 </li>
  <li>정렬기능</li>
  <li>offset과 주어진 수에 따라 제한해서 보여주는 기능 </li>
</ul>

<h3 id="list-by-data-n-template">예제</h3>
다음의 <a target="_blank" href="/components/table/countries.json">나라명 데이타</a>는 
<a href="https://restcountries.eu/rest/v2/all?fields=name;alpha2Code;alpha3Code;capital;subregion;population;flag;">https://restcountries.eu</a>에서 찾을수 있습니다. 

<p>
  템플릿과 데이타만을 제공함으로서 검색과 정렬, 그리고 필터링이 가능한 테이블을 만들수 있습니다. 
</p>

<div class="example">
  <h3> 기본 예제 
    <a class="try-this" target="_" href="//stackblitz.com/edit/x-table?file=index.html">Try it</a>
  </h3> 
  <x-http id="get-countries" url="/components/table/countries.json" auto=""></x-http>
  <x-table list-from="get-countries">
    <table>
      <thead>
        <tr> 
          <th class="name">나라명</th>
          <th class="alpha3Code">코드</th>
          <th class="capital">수도</th>
          <th class="subregion">지역</th>
          <th class="population">인구수</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name"><img clss="flag" src="{{flag}}" width="18" height="14" /> {{name}}</td>
          <td class="alpha3Code">{{alpha3Code}}</td>
          <td class="capital">{{capital}}</td>
          <td class="subregion">{{subregion}}</td>
          <td class="population" style="text-align: right"><x-format type="number" value="{{population}}"></x-format></td>
        </tr>
        <tr class="empty">
          <td colspan="5">나라명을 찾을수 없습니다.  </td>
        </tr>
        <tr class="bottom">
          <td colspan="5">리스트의 마지막입니다. </td>
        </tr>
        <tr class="error">
          <td colspan="5">에러가 발생하였습니다.</td>
        </tr>
      </tbody>
    </table>
  </x-table>
  <x-pre>
    &lt;x-http id="get-countries" url="/components/table/countries.json" auto="">&lt;/x-http>
    &lt;x-table list-from="get-countries">
      &lt;table>
        &lt;thead>
          &lt;tr>
            &lt;th class="name">나라명&lt;/th>
            &lt;th class="alpha3Code">코드&lt;/th>
            &lt;th class="capital">수도&lt;/th>
            &lt;th class="subregion">지역&lt;/th>
            &lt;th class="population">인구수&lt;/th>
          &lt;/tr>
        &lt;/thead>
        &lt;tbody>
          &lt;tr>
            &lt;td class="name">&lt;img clss="flag" src="{{flag}}" width="18" height="14" /> {{name}}&lt;/td>
            &lt;td class="alpha3Code">{{alpha3Code}}&lt;/td>
            &lt;td class="capital">{{capital}}&lt;/td>
            &lt;td class="subregion">{{subregion}}&lt;/td>
            &lt;td class="population" style="text-align: right">&lt;x-format type="number" value="{{population}}">&lt;/x-format>&lt;/td>
          &lt;/tr>
          &lt;tr class="empty">
            &lt;td colspan="5">나라명을 찾을수 없습니다. &lt;/td>
          &lt;/tr>
          &lt;tr class="error">
            &lt;td colspan="5">에러가 발생하였습니다.&lt;/td>
          &lt;/tr>
        &lt;/tbody>
      &lt;/table>
    &lt;/x-table>
  </x-pre>
</div>

<h3>속성</h3>

<ul class="default">
  <li><b>order</b>: 기본값 null, 정렬 표현식 예 "id desc" </li>
  <li><b>offset</b>: 기본값 0, 시작열 번호, 10일 경우 첫번째 보여지는 열은 11번째 열입니다.  </li>
  <li><b>limit</b>: 기본값 0, 보여질 열의 수, 10일 경우 시작열번호부터 10개을 열을 보여줍니다.  </li>
  <li><b>list-from</b>: 
    &lt;x-http> 엘리먼트 ID. 이것이 주어질 경우, 'x-success' 이벤트가 &lt;x-http>에서 발생하면 그 데이타값으로 리스트를 변경합니다.
  </li>
</ul>
